[2015-11-28 19:41] caseyyee commented on #3
Should also be able to easily import a scene as well,

[2015-11-29 17:31] dmarcos commented on #11
Playing with different values and see changes immediately it's a very useful tool for both learning and creation. A quote from Bret Victor:

To anybody involved in this project, watching [Bret Victor's talk](https://vimeo.com/36579366) is a must.

[2015-11-29 17:43] dmarcos commented on #3
I don't know of any existing tool that implements this in an elegant way. When developing I want to think of the browser as an extension of my text editor. I can either modify a file by typing in my text editor of choice or open an aframe editor and modify the same file via [WYSIWYG](https://en.wikipedia.org/wiki/WYSIWYG). I can also go back and forth from one to other.

[2015-11-29 19:58] dmarcos commented on #7
We should get rid of modes as much as we can. We should be really forward thinking in this editor and try to understand whey other tools are the way they are instead of copying them because they’re popular/succesful. Modes is usually a pretty bad idea and the last resource. Getting rid of modes has been a personal crusade for several prominent people in the UI space for decades like Larry Tesler o

[2015-11-30 22:30] caseyyee commented on #7
Oh for sure, absolutely agree with the no-modes philosophy.   Will definetly reduce the presence of mode any chance we get.

[2015-11-30 22:31] caseyyee commented on #7
https://github.com/aframevr/aframe-editor/commit/691f78d9c47480114f3d7b026dff115c5edb123c

[2015-11-30 22:32] caseyyee commented on #11
Love that talk.    Being able to see your results directly is huge.

[2015-11-30 22:33] caseyyee commented on #5
Issue with aframe-core https://github.com/MozVR/aframe-core/issues/557

[2015-11-30 22:33] caseyyee commented on #5
Worked around this issue by changing up the geometry
https://github.com/aframevr/aframe-editor/commit/983c7a2f05cff229c4901fede479495360b32073

[2016-05-16 20:49] dmarcos commented on #71
cc @fernandojsg

[2016-05-16 23:24] fernandojsg commented on #71
Hi @andygill, currently the editor is in beta and quite unstable but in the following weeks I've planned to work hard on this so we could finally release the v1.0.
In the meantime I'll try to fix the build instructions so you could try the current version.
I'll ping you back.

[2016-05-16 23:36] andygill commented on #71
Thanks @fernandojsg, and I'm happy to do some beta-testing if I can help. The program looks really, really useful, and it will fit into a number of aframe workflows.

[2016-05-26 23:26] chadobado commented on #71
Hey @fernandojsg , saw the editor mentioned during the SFHTML5 meetup.  Any updates on it?  I also wasn't able to get it working, love to check it out.  Super compelling!

[2016-05-26 23:39] fernandojsg commented on #71
Hey! I would like to release a demo with the basic features shown on the SFHTML5:
* scenegraph
* gizmos for translate/rotate/scale
* attributes inspector
* exporter/copy to clipboard
* new UI style

for the next week, it will be quite beta so I'll love to get the feedback from you! :)

[2016-06-29 00:19] ngokevin commented on #72
I like `SOUND (Sound_2)`.

I think making it editable adds complexity, and we should pass on that for now.

Here's Unity: http://answers.unity3d.com/storage/temp/55599-screenshot-2015-10-05-124053.png

[2016-06-29 01:16] fernandojsg commented on #72
Ok, you're right about adding more complexity for the MVP. Let's keep it simple:
<img width="331" alt="screenshot 2016-06-29 03 16 02" src="https://cloud.githubusercontent.com/assets/782511/16437507/e63b6862-3da7-11e6-9013-4d80cdba3fbe.png">

[2016-06-30 23:00] fernandojsg opened #1 "Hover entities"
Implement hover event over each instance on the scene, both using cursor or mouse.
It should highlight the object (using a different color or shape than the selected status) and show some simple attributes on top, like for example ID or entity type.

[2016-06-30 23:02] fernandojsg opened #2 "Remove invalid component's attributes"
If we have an entity with an standard material like:

[code]

And we change the shader, some of the parameters won't be available on this new shader (metalness, roughness):

[code]

So probably we should delete them, as it will keep giving warnings on the console:

[code]

[2016-06-30 23:03] fernandojsg opened #3 "Add support to create Mixins"
Mixins could be created directly from an entity by selecting the components and attributes we would like to add to the mixin.

[2016-06-30 23:05] fernandojsg opened #4 "Implement 2D Cameras"
Implement common DCC 2D cameras: Top, Front & Right + Isometric.
As we're not going to use this cameras for a-frame I don't see the point on creating a component for ortho2d in aframe having already a perspective camera. I think we should just use `THREE.OrthographicCamera` directly.

[2016-06-30 23:05] fernandojsg opened #5 "Add Github deploy script"
To have a distributable version

[2016-06-30 23:07] dmarcos opened #6 "Bad contrast between selection box color and list bullet"
![xxx](https://s3.amazonaws.com/f.cl.ly/items/0x08283L2T1X2c193m0C/Image%202016-06-30%20at%204.01.23%20PM.png?v=55c77c86)

[2016-06-30 23:22] cvan opened #7 "Enable keyboard navigation to cycle through the scenegraph list"
to make things easy, you could have a radio form field for each item

[2016-06-30 23:22] dmarcos opened #8 "Objects don't smoothly follow my mouse when dragging. The faster the worse it gets"
![Mouse drag](https://s3.amazonaws.com/f.cl.ly/items/3W2D2a2i0t410Z2M371R/Screen%20Recording%202016-06-30%20at%2004.21.11%20PM.gif)

[2016-06-30 23:28] cvan opened #9 "Exported scene appears broken"
￼
![image](https://cloud.githubusercontent.com/assets/203725/16507574/a022e86c-3edf-11e6-9bb0-d4ab02287a0e.png)

![screen shot 2016-06-30 at 4 27 38 pm](https://cloud.githubusercontent.com/assets/203725/16507572/9be04934-3edf-11e6-86b7-704b36f98504.png)

[2016-06-30 23:28] dmarcos opened #10 "The command menu of the component should appear below the three dots"
I clicked on the three dots icon and remove the component by mistake. The non reversible operations should be harder to trigger to avoid unintented results.

![component menu](https://s3.amazonaws.com/f.cl.ly/items/3b371W001V0k2O0Q1913/Image%202016-06-30%20at%204.26.42%20PM.png?v=f5e911c9)

[2016-06-30 23:31] fernandojsg opened #11 "Add helper for positional audio"
Probably something like a wireframe speaker

[2016-06-30 23:32] cvan opened #12 "Enable keyboard navigation to cycle menus"
![image](https://cloud.githubusercontent.com/assets/203725/16507585/b8aa9fc4-3edf-11e6-85a8-fc2a61ea2ba7.png)

Similar to #7

[2016-06-30 23:33] cvan opened #13 "Purpose of "Edit" menu?"
I don't see anything in Denys' mocks. Will this "Edit" drop-down menu be used for something?

[2016-06-30 23:35] dmarcos opened #14 "Add a collapse all to be able to easily see all the components"
![collapse](https://s3.amazonaws.com/f.cl.ly/items/1Z3t2Z2K3H3J220F281S/Image%202016-06-30%20at%204.33.54%20PM.png?v=52470206)

[2016-06-30 23:36] cvan opened #15 "Consider moving "Create" to "Scene Graph""
1. I was surprised to learn that "Create" meant _add_ items to my scene graph.
2. Can we have an "+ Add" button in the scene graph sidebar (perhaps flush left of the trash can)?

![image](https://cloud.githubusercontent.com/assets/203725/16507701/a69349d4-3ee0-11e6-8d14-c705bd80ab97.png)

[2016-06-30 23:36] cvan opened #16 "Make "Scene Graph" heading sticky"
Otherwise, the footer with the delete action buttons, etc. can be hidden from the view:

![image](https://cloud.githubusercontent.com/assets/203725/16507707/c3da134c-3ee0-11e6-9c6d-33e3709ae4f2.png)

[2016-06-30 23:37] fernandojsg commented on #14
Yes, I was thinking about adding it, but not sure if to include it on the `ATTRIBUTES` bar so you could collapse all the panels including `COMMONS` and `COMPONENTS` or add it to `COMPONENTS` so it will collapse just all the components.
Probably first option makes more sense.

[2016-06-30 23:38] dmarcos opened #17 "Common, components and the list of components are different but look the same"
![component panel](https://s3.amazonaws.com/f.cl.ly/items/3z1C0M0t3O0M271C3t13/Image%202016-06-30%20at%204.36.06%20PM.png?v=71b138c5)

We can may be do common non collapsible, add a button in the common space box to add a component to the list below

[2016-06-30 23:39] fernandojsg commented on #15
@cvan do you think that this button should add just an empty entity, select it by default and you could start adding components? Or the button should act similar to the create button where you could choose between presets?

[2016-06-30 23:39] cvan opened #18 "Consider adding `contextmenu`s to the entities in the scene graph"
https://davidwalsh.name/html5-context-menu

They've been in Firefox for quite some time now. Coming soon to the [other browsers](http://caniuse.com/#search=context%20menu).

[2016-06-30 23:39] dmarcos commented on #17
They are ordered alphabetically. If a component starts with the letter `A` or `B` will show up first?

[2016-06-30 23:40] cvan opened #19 "Enable drag and drop of scene graph entities"
I'd like to move one entity to be nested within another entity. Or I'd like to just rearrange or group my entities.

[2016-06-30 23:40] dmarcos commented on #18
With copy, delete commands.

[2016-06-30 23:41] cvan opened #20 "Add tooltip text for icons"
![image](https://cloud.githubusercontent.com/assets/203725/16507770/77fdd502-3ee1-11e6-93bd-613d6323d563.png)

using `title` (and `alt`) - or use custom tooltips if you'd like

[2016-06-30 23:41] dmarcos opened #21 "Undo / Redo feature"
I removed a component by mistake and I cried.

[2016-06-30 23:45] fernandojsg commented on #17
Actually this is not the final design that we were discussing last time, do you remember that we wanted to add something like `3dsmax`'s modifiers list?

It should be similar to the following image:
<img width="192" alt="screenshot 2016-07-01 01 42 29" src="https://cloud.githubusercontent.com/assets/782511/16507809/16bb9846-3f2d-11e6-9303-573fda104566.png">
One of the doubts I have is if to have t

[2016-06-30 23:46] cvan opened #22 "Consider generating better filenames than ascene.html for exported scenes"

[2016-06-30 23:46] cvan opened #23 "Exported scenes issues"
- shouldn't contain A-Frame injected CSS (i.e., `<style type="text/css" data-href="src/style/aframe.css">`).
- offer an option to possibly rewrite the URLs to be absolute (if I exported a scene from http://dev.fernandojsg.com/aframe-editor/example/, then `<script src="js/aframe.js">` should be written as `<script src="http://dev.fernandojsg.com/aframe-editor/example/js/aframe.js">`). I know this g

[2016-06-30 23:47] cvan opened #24 "Use `<label>`s where appropriate"
To improve usability and ease of use with bigger clicker targets (and the keyboard navigation you get for free with `tabindex`) - and of course for accessibility too.

Examples:

![image](https://cloud.githubusercontent.com/assets/203725/16507882/583328fc-3ee2-11e6-94ad-c1de5079f8f0.png)

[2016-06-30 23:47] fernandojsg commented on #18
Yep, I find `clone` to be very useful to have in the context menu too.

[2016-06-30 23:48] cvan opened #25 "Make it more obvious that transforms can be edited"
![image](https://cloud.githubusercontent.com/assets/203725/16507897/7602b780-3ee2-11e6-84ae-2e77da0d8076.png)

I know it's like this in the mocks, but because there are no borders around the numbers, they look readonly. Especially since `Type: A-ENTITY` actually is read only.

[2016-06-30 23:49] fernandojsg commented on #19
I believe to do that (moving nodes from the DOM) the components should be deleted and recreated again after moving right?

[2016-06-30 23:49] cvan opened #26 "Can we allow folks to edit the entity Type?"
![image](https://cloud.githubusercontent.com/assets/203725/16507910/96791716-3ee2-11e6-9f98-46291e7b1710.png)

[2016-06-30 23:49] dmarcos opened #27 "Posibility to save the scene to codepen or other hosting service"
That would allow for quick iteration and easy sharing of derivative work.

[2016-06-30 23:50] dmarcos commented on #25
Flat design and usability don't like each other

[2016-06-30 23:51] dmarcos commented on #27
Besides saving the scene locally.

[2016-06-30 23:51] cvan opened #28 "Adding/removing mixins is a bit confusing"
I know it's probably obvious to most, but I didn't actually understand that pressing the plus sign was taking the actively selected mixin in the `<select>` and adding it below.

I originally thought the `mixins` `<select>` menu was listing the active mixins on that entity:

![image](https://cloud.githubusercontent.com/assets/203725/16507937/d896ec04-3ee2-11e6-86dd-a76e5544efcf.png)

[2016-06-30 23:52] cvan commented on #28
Same goes for components:

![image](https://cloud.githubusercontent.com/assets/203725/16507964/0845f148-3ee3-11e6-8902-c547f3223f45.png)

It's confusing, at least to me, that "Components" is its own group but then the added components don't become children/sub-sections of "Components"

[2016-06-30 23:52] dmarcos commented on #26
I would call it `HTML Element` or just `Element`. Better than type

[2016-06-30 23:55] cvan opened #29 "Number fields are confusing; use input[type=number]/input[type=range] instead of custom sliders"
![image](https://cloud.githubusercontent.com/assets/203725/16507979/1d7ae758-3ee3-11e6-8f98-c54c72317dce.png)

It took me a good minute or so to discover that by horizontally dragging in a numeric text field that the value changes. It's neat. But wasn't discoverable. Perhaps make that more obvious or require the field to be focussed first (that's what Dev Tools do, anyway). And possibly consider u

[2016-06-30 23:56] cvan commented on #29
With `input[type=number]`:

![image](https://cloud.githubusercontent.com/assets/203725/16508026/88399ab2-3ee3-11e6-9128-ddae4afdea2e.png)

Which also gives you free up/down keyboard navigation - which is super powerful (and something familiar to those using similar tools).

[2016-06-30 23:56] fernandojsg commented on #28
Yes you're right, this is something we were discussing with Dennis and waiting for a final proposal. Related to https://github.com/aframevr/aframe-editor/issues/17

[2016-06-30 23:56] dmarcos commented on #19
That's tricky. We would have to add a detach/attach API to components. Components can rely on certain info about where they are in the scene graph.

[2016-06-30 23:58] cvan commented on #10
We can keep it in this issue. But I think the three dots are very easy to miss. Can we change to show icons with tooltips (with text and/or `title`)? Or improve the icon at least?

[2016-07-01 00:01] cvan opened #30 "Unable to select items in components menus"
They keep collapsing when I try to hover over them, because they're overlapping the components below:

![component_menus](https://cloud.githubusercontent.com/assets/203725/16508092/3ef4b05c-3ee4-11e6-91bf-946bbad4831a.gif)

[2016-07-01 00:03] cvan opened #31 "Consider adding links to the docs for each component + property"
![image](https://cloud.githubusercontent.com/assets/203725/16508115/8c4c28ee-3ee4-11e6-9389-d879410412e3.png)

Definitely could come later, but it'd be nice if there was some (?) help icon or something that could link me to the docs to learn about it.

[2016-07-01 00:07] cvan opened #32 "Allow me to exit the Textures modal by pressing Esc or clicking outside the modal"
![image](https://cloud.githubusercontent.com/assets/203725/16508144/0c2973aa-3ee5-11e6-9818-c4d86638ba5b.png)

[2016-07-01 00:08] cvan opened #33 "Consider making the Scene options more prevalent"
![image](https://cloud.githubusercontent.com/assets/203725/16508157/25225d22-3ee5-11e6-8982-6e275bec14a0.png)

if right now, all we have is "Save to HTML" and "Copy to clipboard" - can we pull those out of a drop-down menu and make them more visible? We have the horizontal real estate.

[2016-07-01 00:09] cvan opened #34 "Introduce a keyboard shortcut to toggle the Editor"
If the Editor is opened and no form field or anything is focussed, perhaps just pressing `Esc` or `e` or whatever should dismiss the Editor.

And when I'm in non-Editor mode, I should be able to easily invoke the Editor by pressing `option` + `e` or something (again, when only `document.activeElement` is not a form field, `contexteditable`, etc.).

[2016-07-01 00:10] cvan commented on #15
good question. I'm not sure; I'd have to try it out or think about it. probably look at Chrome DevTools for inspiration too.

[2016-07-01 00:11] cvan opened #35 "Add a picture-in-picture view of the scene whilst editing"
It'd be nice to see how my scene is changing as I move the camera, for example. The editor wireframe view is nice, but I can imagine it becoming cumbersome going back and forth.

[2016-07-01 00:13] caseyyee opened #36 "Clone entity"
It would be super useful to be able to clone a entity.

[2016-07-01 00:13] cvan commented on #25
A [simple underline](https://getmdl.io/components/index.html#textfields-section) could suffice:

![image](https://cloud.githubusercontent.com/assets/203725/16508239/f913279c-3ee5-11e6-8801-946e968bfcec.png)

![image](https://cloud.githubusercontent.com/assets/203725/16508238/f497b9f8-3ee5-11e6-9821-ea974fca014d.png)

[2016-07-01 00:17] ngokevin commented on #3
Mixin creation through the editor is sort of scope creep, IMO. Mixins support not having to repeat code. Having them in the editor is sort of exposing code internals.

[2016-07-01 00:17] caseyyee commented on #35
You can do this by exiting the editor and then using the bookmarklet to re-enter?   I think we could probably add some UI to make this flow more obvious.    I definitely agree that having a scene view would be a better solution.

[2016-07-01 00:17] ngokevin commented on #11
This could be its own component, rather than an editor feature.

[2016-07-01 00:20] cvan commented on #35
yeah, that's my point. having to do that is cumbersome. imagine if the browser Developer Tools took over your entire page and you couldn't see the changes on your page until you exited.

[2016-07-01 00:22] fernandojsg commented on #3
The original idea was to create a simple modal with the list of components and attributes that you've modified, so you could click which components and attributes you would like to add to your mixin in a "blackbox" way.
<img width="234" alt="screenshot 2016-07-01 02 18 01" src="https://cloud.githubusercontent.com/assets/782511/16508314/10d22030-3f32-11e6-9ac1-d003de6aef78.png">
What do you think?

[2016-07-01 00:24] ngokevin commented on #26
Or `Node`.

But it wouldn't be editable.

[2016-07-01 00:26] caseyyee opened #37 "component icons on entities are not clear"
![image](https://cloud.githubusercontent.com/assets/1560884/16508404/6f0c6106-3ee7-11e6-8137-045c2ea32fac.png)

The camera one is obvious, but the rest are really hard to understand.   I think we could probably do away with them if the components are already present in the attributes panel and just rely on entity labeling/ID.

[2016-07-01 00:29] ngokevin commented on #3
I guess it would help if you wanted to repeat a set of values across multiple entities. Though it adds a lot of complex UI and concepts. It's not something I would use since I'd rather code the mixin (and I'm working on mixin stylesheets), but I don't speak for everyone. Your call, just my input.

[2016-07-01 00:31] fernandojsg commented on #11
Do you mean to include on each component a "rendeable" version? Like for lights, cameras and so on?

[2016-07-01 00:35] ngokevin commented on #11
Yeah. Lights, cameras, raycaster, sound. Could work in sync with the debug component. Then the editor could just expose that, so I guess editor could have special UI for that.

[2016-07-01 00:38] caseyyee opened #38 "Ability to pan editor camera"
The editing camera is locked around the scene origin.  It's hard to edit anything in detail without being able to pan around when zoomed in.

[2016-07-01 00:38] fernandojsg commented on #11
Yep, that could be nice to have the possibility to use the same helpers on debug mode without the editor, and everyone could implement a helper for theirs custom components, let's say a particle system, or whatever :)

[2016-07-01 00:39] ngokevin commented on #11
Yeah, was thinking about a `registerDebug`.

[2016-07-01 00:40] dmarcos opened #39 "Simple attribute components are not represented correctly"
Look at debug:

![SingleProperty](https://s3.amazonaws.com/f.cl.ly/items/2j413D1Q051f1L0W1j2h/Image%202016-06-30%20at%205.39.02%20PM.png?v=84d71438)

[2016-07-01 00:40] caseyyee opened #40 "Consider moving entity delete button into attributes panel."
(this is where I was looking for it)

Didn't catch it at the bottom of the scene graph.

Open to other placement suggestions as well.

[2016-07-01 00:42] fernandojsg commented on #11
It could expose an object3D, and it could be also nice, later on, to have a `tick` function in case the helper have some behaviour, for example change the color and opacity of the sound`s speaker mesh when playing.

[2016-07-01 00:42] cvan commented on #26
`Entity Name`?

[2016-07-01 00:43] cvan opened #41 "Change treatment of Common › Type: A-ENTITY → `<a-entity>`"
![image](https://cloud.githubusercontent.com/assets/203725/16507910/96791716-3ee2-11e6-9f98-46291e7b1710.png)

can we `tagName.toLowerCase()`?

[2016-07-01 00:46] cvan commented on #41
maybe even put brackets around it so it's more clear? idk…

`<a-entity>`:

![image](https://cloud.githubusercontent.com/assets/203725/16508699/8fca4356-3eea-11e6-9618-c3e5e1ffb6f1.png)

[2016-07-01 00:46] caseyyee commented on #13
I would just remove it.   You already are "editing" when you an item, so the verbiage may be confusing.

I imagine that there will need to be a place for tools like copy/paste when it comes.   eg https://github.com/aframevr/aframe-editor/issues/36

[2016-07-01 00:46] ngokevin commented on #26
It's trying to communicate the HTML element tag name.

[2016-07-01 00:48] cvan opened #42 "Clicking on inputs can trigger accidentally rewrite values (due to horizontal stepping)"
I just clicked on the field for the rotation X value, and it changed to `-0.02` because I must've dragged my mouse a bit on `mousedown`.

![image](https://cloud.githubusercontent.com/assets/203725/16508719/cfbfced6-3eea-11e6-8095-004f0b5d2bfc.png)

[2016-07-01 00:48] caseyyee opened #43 "Texture dialogue shows when re-entering "edit" mode."
After exiting from editor.

[2016-07-01 00:48] ngokevin opened #44 "change cursor to grab when panning"

[2016-07-01 00:50] ngokevin opened #45 "consider not showing camera helpers when not selected, or make the helpers less prominent"
<img width="716" alt="screen shot 2016-06-30 at 5 50 07 pm" src="https://cloud.githubusercontent.com/assets/674727/16508749/18464d2e-3eeb-11e6-8413-bda5e789a186.png">

The camera lines are persistent and extend across the scene so there's some noise

[2016-07-01 00:50] caseyyee opened #46 "Cursor donut should be hidden?"
![image](https://cloud.githubusercontent.com/assets/1560884/16508740/04a5aa58-3eeb-11e6-82eb-7b25b0be0270.png)

Not sure if this is expected?   Or if you should be able to edit the cursor as part of the controls?

[2016-07-01 00:51] cvan opened #47 "Editing one transform accidentally rewrites other transforms"
1. Create an `<a-entity>`
2. Set `position` to `2.00  2.00  2.00`.
3. Set `rotation` to `0.01  0.00  0.00`.
4. Notice `position` has changed to `2.00  2.00  0.00` and `rotation` to `0.0  0.00  0.00`.

I noticed a ton of weirdness such as with this. And now when I did it again, the rotation Z value became `0.02`. Weird!

![image](https://cloud.githubusercontent.com/assets/203725/16508774/424aede6-3

[2016-07-01 00:53] caseyyee opened #48 "Does not apply transforms to values typed in"
When entering transform values by typing (using numeric keys), the entity does not take on these changes.

Seems to work fine when you click and drag the numbers.

[2016-07-01 00:54] ngokevin commented on #46
I think it's expected. Cursor isn't anything special, it's just a mesh + raycaster in front of the camera. I don't think it's important enough to warrant special treatment, and lets the editor remain a bit agnostic.

[2016-07-01 00:54] caseyyee commented on #48
Also worth noting that numerical values typed into components work fine (ie. adjusting radius of cylinder)

[2016-07-01 00:54] cvan opened #49 "Persist highlighted entity in scene graph when exiting + re-entering Editor"
1. Click `yellowSphere` in the scene graph.
2. Press the `Exit` button.
3. Press the `Enter` button.
4. Notice the `yellowSphere` is no longer highlighted in the scene graph.

![image](https://cloud.githubusercontent.com/assets/203725/16508804/85f6ed06-3eeb-11e6-90ac-0a397ed28f1d.png)
![image](https://cloud.githubusercontent.com/assets/203725/16508811/996bfbe2-3eeb-11e6-875a-0179c34339f5.png)

Rel

[2016-07-01 00:56] ngokevin opened #50 "bookmarlet -> bookmarklet"

[2016-07-01 00:57] cvan opened #51 "Deleting the entire `<a-scene>` does not reflect in the scene graph"
1. Load http://dev.fernandojsg.com/aframe-editor/example/
2. Select `<a-scene>` from the scene graph.
3. Press the trash can at the bottom to delete the entity.
4. Notice everything just goes blank but the entities in the scene graph seem to remain. But if I export/download the scene, I notice indeed `<a-scene>` is gone.

![image](https://cloud.githubusercontent.com/assets/203725/16508876/358e15d2

[2016-07-01 00:59] fernandojsg commented on #38
You can pan by moving your mouse while pressing right button.

[2016-07-01 00:59] #38 closed, assigned to nobody

[2016-07-01 00:59] #50 closed, assigned to nobody

[2016-07-01 01:00] fernandojsg commented on #45
Good point. Probably change the geometry of the camera itself to show an actual camera or headset like vizor does, and just show the frustum when the camera is selected.

[2016-07-01 01:00] cvan commented on #26
I know that. And, I posted a related issue with a comment here: https://github.com/aframevr/aframe-editor/issues/41#issuecomment-229827314

[2016-07-01 01:01] ngokevin commented on #26
ok sorry

[2016-07-01 01:01] fernandojsg commented on #46
Yes, it's expected, actually you could edit it and change the material or geometry as you want just like any other entity added to your scene.

[2016-07-01 01:01] #46 closed, assigned to nobody

[2016-07-01 01:03] ngokevin commented on #26
The `ID` serves as the Entity Name.

Name (connoting instance) is different from type (connoting class).

[2016-07-01 01:09] cvan commented on #26
yeah, gotcha. if this verbiage is confusing for me, it'll likely be confusing for others. that's why I'd suggest going with this treatment - makes it pretty unambiguous IMO:

![image](https://cloud.githubusercontent.com/assets/203725/16508699/8fca4356-3eea-11e6-9618-c3e5e1ffb6f1.png)

[2016-07-01 01:11] cvan commented on #26
if I could see all the different combinations with a complex scene, I'd probably be able to give a better recommendation. hard to make judgements here.

[2016-07-01 01:11] ngokevin commented on #26
Agreed it's not the best name and the style helps. Node/Element, or just flush left `<a-entity>` without a label would help. `<a-entity>` alone with that styling might do it

[2016-07-01 01:27] dmarcos commented on #26
I like `<a-entity>`. It reinforces the relationship between the DOM and what you see in the editor

[2016-07-01 02:11] cvan commented on #48
In which browser?

[2016-07-01 04:52] caseyyee commented on #48
Chrome

[2016-07-01 05:46] caseyyee commented on #38
OK wow, that helps a lot!

We'll have to figure out how to help people find some of these functions.

[2016-07-01 18:59] caseyyee opened #53 "Exported HTML should only contain basic scene markup."
When exporting using Scene -> Export HTML:
- Entire editor interface markup + CSS is also included in the markup.
- A-Frame injected CSS.

Expected it to include only the changes that the editor made to the <a-scene> portions of the code.   Should be a copy and paste operation back into your original document.

[2016-07-02 00:00] fernandojsg commented on #26
Yep, I like the `<a-entity>` solution too, and about the description does `HTML Element` work for you?
<img width="313" alt="screenshot 2016-07-02 01 57 41" src="https://cloud.githubusercontent.com/assets/782511/16536868/76313fd0-3ff8-11e6-8000-53fa650914b9.png">

[2016-07-02 00:02] dmarcos commented on #26
Maybe just `<a-entity>` aligned to the left with no `HTML Element` label.

[2016-07-02 00:03] fernandojsg commented on #26
It breaks a bit the `label - value` widgets, isn't it?, maybe adding it to the right on the `COMMON` title? similar to how the multiple component instanceId are displayed right now?

[2016-07-02 01:56] ngokevin commented on #26
I think it's good to break the pattern since it shows that it's not editable like everything else.

[2016-07-02 08:57] fernandojsg commented on #26
Ok, so here you have it!
<img width="297" alt="screenshot 2016-07-02 10 57 11" src="https://cloud.githubusercontent.com/assets/782511/16539439/c2d5e37c-4043-11e6-852b-281e2a13bd08.png">

[2016-07-02 08:58] #26 closed, assigned to nobody

[2016-07-02 09:02] fernandojsg commented on #41
Done as discussed in #26 too

[2016-07-02 09:03] fernandojsg commented on #39
Fixed, please give a try when you can.

[2016-07-02 09:03] #39 closed, assigned to nobody

[2016-07-02 09:04] fernandojsg commented on #34
WIP by @dmarcos: https://github.com/aframevr/aframe/pull/1599

[2016-07-02 09:06] fernandojsg commented on #51
I believe maybe it doesn't makes sense to let the user delete the `a-scene` maybe just clear it? So you'll have an empty scene?

[2016-07-02 09:11] fernandojsg commented on #6
Regardless the colors, this is something inherited from three.js editor where they used the colors to show entity types, each color represent a light, camera, or whatever.
We already have this functionality with the component's icons, so I don't know if it's a bit redundant to have colored bullets or just keep then using the same base color. Right now I've one color for `a-entity` elements and ano

[2016-07-02 17:05] fernandojsg commented on #44
Done! I'm thinking about what to do for `rotate` and `zoom`. For `zoom` maybe just with `n-resize` could be enough, but rotate I don't find anything that fits. Maybe we should use custom svg cursors?

[2016-07-02 17:05] #44 closed, assigned to nobody

[2016-07-02 17:15] fernandojsg commented on #24
Done! thank you

[2016-07-02 18:17] dmarcos opened #54 "Value sliders don't work in touch screens"
Tried on my iPad Pro. Using the editor on a tablet is a reallly good feeling

[2016-07-02 18:18] dmarcos opened #55 "Add basic telemetry"
We can start simple. We can measure what are the most used components

[2016-07-02 18:47] dmarcos opened #56 "Allow copy markup of a single entity"
Imagine I'm inspecting a scene to learn how it works. I see an entity with a combination of components that does what I need. It would be nice to be able to copy and paste it in my editor. We could add a button on a contextual menu of the entity in the 3D view or/and a button on the entity inspector on the right.

[2016-07-02 18:59] dmarcos opened #57 "Let the user to move the editor camera with arrow keys or WASD"

[2016-07-02 19:01] dmarcos opened #58 "Value sliders don't work anymore"
They select the textbox instead:
![textbox](https://s3.amazonaws.com/f.cl.ly/items/1n0N2H150i2r2q1N2z2F/Screen%20Recording%202016-07-02%20at%2012.00.38%20PM.gif?v=1c95c656)

[2016-07-02 19:03] dmarcos opened #59 "Ability to center an entity in the editor viewport"
By for example double clicking on it. That makes easier to see how it changes when playing with the component properties.

[2016-07-02 19:06] dmarcos commented on #59
I see this is already implemented.  I had not noticed

[2016-07-02 19:06] #59 closed, assigned to nobody

[2016-07-02 19:08] dmarcos opened #60 "Determine URL provenance of a component"
Imagine I see an entity with a component I'm interested in. I would like to copy it's URL to paste in my scene so I can use it.

[2016-07-02 19:11] dmarcos opened #61 "Ability to display a-entity IDs in the 3D view"
Something that it could be toggled on and off to quickly find the entity I want.

[2016-07-03 10:50] #43 closed, assigned to nobody

[2016-07-03 10:50] #32 closed, assigned to nobody

[2016-07-03 10:57] fernandojsg commented on #30
Yep, in fact I should make them clickable, to be ready for touch devices.

[2016-07-03 21:18] #7 closed, assigned to nobody

[2016-07-04 18:17] caseyyee commented on #56
Is what your talking about copying a fragment of markup?

I already have this issue filed which for cloning/copy pasting:
https://github.com/aframevr/aframe-editor/issues/36

[2016-07-04 18:20] caseyyee commented on #57
the pan and rotate using mouse seems to work OK for this purpose.

It would be a RPG-like 3rd person perspective control?  Could be interesting.

[2016-07-04 18:32] caseyyee commented on #61
The scene graph highlights the entity in the tree when you click on it in the 3D view.    Conversely, the entity shows bounding box in the 3D view around the entity when it is clicked on in the scene graph.

Makes finding stuff in the scene fairly easy.   Not sure how showing ID's in the 3D view will help improve this.

[2016-07-04 18:33] caseyyee commented on #21
Also just moving a component.  +1, this is much needed.

[2016-07-04 18:59] caseyyee opened #64 "Editor does not load when dropping in aframe-editor.js into A-frame scene."
![image](https://cloud.githubusercontent.com/assets/1560884/16568407/b0eefd8c-41de-11e6-94f4-1ef706564a80.png)
1. Download boilerplate scene:
   https://github.com/aframevr/aframe-boilerplate
2. Include aframe-editor.js
   From  /build/aframe-editor.js
3. Load scene
   See errors in console (as per screenshot)

Tried this with both the 0.2.0 and master versions of A-Frame.

[2016-07-04 19:21] caseyyee opened #65 "Edit entity hierarchy"
If i create a composition of entities, it would be nice to easily nest them into another entity so that I can edit them as a group.

[2016-07-04 19:32] caseyyee commented on #64
Looks like the issue is that the `aframe-editor.js` script must be included after your scene:

[code]

[2016-07-04 19:40] caseyyee commented on #64
See https://github.com/aframevr/aframe-editor/commit/4d7d16c3ebc21f1de1ae937240f40ac1aeee9a2c

Should fix how the script is loaded.  Ideally the user should be able to drop this script anywhere in the doc.  There should at least be an error or hint in the console rather than errors.

[2016-07-04 19:42] fernandojsg commented on #65
I think you mean something similar to this https://github.com/aframevr/aframe-editor/issues/19 right?

[2016-07-04 19:44] caseyyee opened #66 "Loaded models (dae or obj) are not selectable in 3D view"
Works fine if you use the scene graph to select.

[2016-07-04 19:44] caseyyee commented on #65
OH yes, thanks!

[2016-07-04 19:44] #65 closed, assigned to nobody

[2016-07-04 19:46] fernandojsg commented on #66
Yes this is something I just realised. Right now it depends on the order in which the components are applied to the entity, for example if you have `<a-entity geometry sound>` will works but  `<a-entity sound geometry>` it won't, as the first child of the `object3D` will be a mesh on the first case and `positionalAudio` on the second.
I'll take a look to fix it asap.

[2016-07-04 19:48] fernandojsg commented on #64
Yep, good point.

[2016-07-04 19:48] caseyyee opened #67 "ID changes do not update in scene graph."
To reproduce
1. Select entity in scene graph.
2. Change ID in attributes panel.

[2016-07-04 19:49] caseyyee commented on #66
Oh interesting.   I thought it might be because loaded models don't intersect with raycasts properly?

[2016-07-04 19:57] fernandojsg commented on #60
This could be easily done for components added directly with our components` curated repository (https://github.com/aframevr/aframe-components). But how can we determine which URL is the one for an user loaded component?

[2016-07-04 22:21] #66 closed, assigned to nobody

[2016-07-04 22:23] caseyyee commented on #66
👍 Awesome!

[2016-07-04 23:21] dmarcos commented on #60
We could parse the JS files and look for the string registerComponent('XXX',...)

[2016-07-04 23:24] dmarcos commented on #61
So you don't have to click one by one on the entities to find the one that corresponds in the 3D view.

[2016-07-04 23:26] dmarcos commented on #57
Pan and rotate are clunky if you want center the view in an area that you want to focus on

[2016-07-04 23:28] dmarcos commented on #56
Yes. this would be copying the html fragment that corresponds to the entity so you can paste it in your text editor. It's different than clone it.

[2016-07-04 23:39] caseyyee commented on #61
Yeah, but you click on the entity in 3D view and its highlighted, showing the ID in both the attributes panel as well as the scene graph.     Seems overly redundant.

[2016-07-05 00:01] dmarcos commented on #61
It's not redundant. You would be able to move the camera and locate visualy the entity you're interested in within the 3D view without having to click on each one.

[2016-07-05 00:10] caseyyee commented on #57
There are issues with the implementation.   I think pan and rotate are a sound pattern to use (see sketchup).   I don't think WASD controls will help here.   It's a bandaid solution.

[2016-07-05 00:16] caseyyee commented on #57
Trying to figure out the exact issue (so that I can file for a specific problem), but I find that the zoom or pan control will start functioning very slowly in some cases.

[2016-07-05 00:36] caseyyee opened #69 "Scaling issue with pan, rotate and zoom controls."
There are certain situations where the zoom, rotate and pan controls start to function strangely where I end up not being able to zoom in or pan the camera past a certain point.   This seems to happen consistently when you zoom out, pan the scene around and zoom back in to a section for detailed editing -- a common operation when working with a larger scene.

Here is an example scene where the iss

[2016-07-05 00:37] caseyyee commented on #57
Issue filed for the specific issue as per above comment:
https://github.com/aframevr/aframe-editor/issues/69

[2016-07-05 18:32] caseyyee opened #70 "Synchronize changes in html source and the visual editor"
So that user can work between markup in a text-editor and visual editor.

[2016-07-05 18:49] cvan commented on #55
Could borrow some https://github.com/MozVR/mozvr-site/blob/master/assets/js/ga.js#L172

[2016-07-05 18:50] caseyyee opened #71 "Components order should be configurable in the attributes panel"
So that we can configure components and properties which are most used easy to get to.

[2016-07-05 18:51] caseyyee opened #72 "Entities should be lockable"
So inadvertent changes are not made to entities where they are not wanted.

[2016-07-05 19:04] caseyyee opened #73 "Have separate tool for entity rotation"
Translation helper is really useful.  We should be able to toggle to entity rotation so that the user doesn't have to use the transform panel to do so (which is very slow).

[2016-07-05 19:18] ngokevin opened #74 "revert chicken example"
I guess this was leftover work from testing models.
- Shouldn't promote COLLADA.
- Revert back to the various geometries.

[2016-07-05 19:20] caseyyee commented on #74
The thing is that people will use it.    What is the best alternative?  We can't just hide from what people will use anyways?

[2016-07-05 19:24] fernandojsg commented on #74
Yep, sorry it was my fault. Fixed in https://github.com/aframevr/aframe-editor/pull/75

[2016-07-05 19:24] #74 closed, assigned to nobody

[2016-07-05 19:26] ngokevin commented on #74
@caseyyee  The previous example was great because you could instantly play with multiple basic objects and lights.

The alternative being pushed is glTF, but regardless we avoid all this model format flux altogether. People use COLLADA because that's what we've been giving them, like a self-fulfilling prophecy.

[2016-07-05 19:26] ngokevin commented on #74
The chicken was very cute though. My favorite animal.

[2016-07-05 19:28] caseyyee commented on #74
@ngokevin I guess in absence of a actual solution for models, people will use it.    All I am saying is that we shouldn't ignore that even if it isn't great.   Anyways, chicken example removed.   bok bok bok!

[2016-07-05 19:30] ngokevin commented on #74
Sure, we document it and use it in some of our examples. But we shouldn't necessarily promote it either. It's not great for the default editor scene.

[2016-07-05 19:40] #5 closed, assigned to nobody

[2016-07-05 19:44] fernandojsg opened #79 "Enable switching between translate/rotate/scale by clicking attribute's label"
Let the user switch between the different gizmos by clicking on the name of the attribute they want to change.

[2016-07-05 19:49] caseyyee commented on #6
Agree its redundant.   I was confused as to what those dots were even.

[2016-07-05 19:51] caseyyee commented on #6
To be honest, I think those icons and bullets are confusing anyways.  I don't see much value in having them since one entity can have any number of components.  so it's not that really helpful.

![image](https://cloud.githubusercontent.com/assets/1560884/16597699/27436a74-42af-11e6-9883-28956b178484.png)

Unity scene hierarchy doesn't have any icons.   They rely heavily on the label.   Which is mo

[2016-07-05 19:53] fernandojsg commented on #6
The bullets we could just remove and change them for arrows like treeview. But I believe the icons will give you a quick look of the kind of entity you're dealing with, for example if you're looking for the camera or light you'll get it quite fast. This is the approach 3d software like cinema4d or 3dsmax follow.

[2016-07-05 20:14] caseyyee commented on #6
Sure, for camera yes, I agree that would be useful.

[2016-07-05 21:59] caseyyee opened #85 "Camera resets rotation when exiting edit mode"
After changing the camera rotation, exiting the editor into the scene resets the camera rotation to 0.

[2016-07-05 22:02] caseyyee commented on #79
I think this is the same issue: https://github.com/aframevr/aframe-editor/issues/73

Also probably better to have a separate tool?

ie:
Unity
![image](https://cloud.githubusercontent.com/assets/1560884/16601451/6bd2bbec-42c1-11e6-8d9f-c5e1981bb0e3.png)

sketchup
![image](https://cloud.githubusercontent.com/assets/1560884/16601459/7415042c-42c1-11e6-89ad-47733a10dc58.png)

It's not obvious otherwis

[2016-07-05 22:11] caseyyee commented on #35
Gotcha.  I think have a separate view control will help.  Switch between iso view and scene camera.

[2016-07-05 22:56] fernandojsg commented on #15
@cvan I've added a create button in the scenegraph (https://github.com/aframevr/aframe-editor/pull/86) to include an empty entity to the scene, then you could keep adding components to it. Probably we should keep the larger list of presets in the menu?

[2016-07-05 23:07] caseyyee opened #87 "Creating entity results in console error"
![image](https://cloud.githubusercontent.com/assets/1560884/16602627/73c4735a-42ca-11e6-8f25-6da452be70c1.png)

[2016-07-05 23:35] ngokevin opened #89 "cursor should not be pointer when hovering over the Scene/Edit/Create"
should be `default` since clicking Scene/Edit/Create doesn't do anything.

cursor should still be pointer when hovering over the inner menu items however

[2016-07-05 23:41] ngokevin opened #90 "consider adding visual feedback when an entity is created"
If you are inspecting one entity, and then create another entity, it is easy to miss that the attributes panel switched over to the new entity.

Random ideas:
- Animate collapse + uncollapse of panels
- Flash the border of the attribute panel

[2016-07-05 23:45] ngokevin opened #91 "sliders should account for min/max values for calculating step/speed when dragging"
Trying to drag `geometry.thetaLength` which can be 0 to 360. When I try to drag the value, the most I can do is like 5 degrees at a time.

Editor perhaps should know that the max is 360 to calculate how fast the slider should change the value.

[2016-07-05 23:52] ngokevin opened #92 "use autoprefixer on css"
For automated prefixing of rules for less error prone x-browser compat.

[2016-07-06 00:17] ngokevin commented on #58
looks like it works now

[2016-07-06 00:17] #58 closed, assigned to nobody

[2016-07-06 00:19] ngokevin commented on #48
I found it only works on the second try.

[2016-07-06 06:09] ngokevin opened #96 "can't edit material.repeat"

[2016-07-06 06:39] ngokevin opened #97 "[code quality] use flexbox over floats"
Makes alignment and layout much more maintainable

[2016-07-06 06:40] cvan commented on #51
What happens when you try to edit a page with multiple scenes? We should probably make sure that the scene's canvas is focused when entering Editor mode.

Personally, I do think the user should be able to delete the `a-scene`; I can't see how it hurts.

[2016-07-06 06:41] cvan commented on #35
that'd be nice, agreed

[2016-07-06 07:16] dmarcos commented on #37
Those icons are useful to quickly overview what components an entity contains. We can also make them clickable or show a tooltip with the component properties.

[2016-07-06 17:42] caseyyee commented on #37
Those icons are ambiguous.  How is anyone supposed to know what they are?    Removing them would be a better choice.   Clarity matters.

[2016-07-06 21:00] dmarcos opened #98 "Disable stats when the editor opens"
...or in the future integrate those numbers in the editor UI.

[2016-07-06 22:01] fernandojsg commented on #37
I do believe that the icons are quite helpful too, it doesn't mean that the current style or the current icon should be the one used of course, it's just the one I choose from fontawesome while waiting for designs from dennis.
I think arguing that they're not meaningful right now doesn't make much sense as most of the software we're using right now doesn't have an incredible meaningful icons, you

[2016-07-06 23:03] #87 closed, assigned to nobody

[2016-07-06 23:03] cvan commented on #41
Can you make this monospaced per the mock?

[2016-07-06 23:04] #67 closed, assigned to nobody

[2016-07-06 23:13] fernandojsg commented on #41
@cvan do you mean using `monospace` font?

[2016-07-06 23:23] fernandojsg opened #102 "Toggle scenegraph and attributes"
Toggle the panels with a shortcut, icon and/or menu options

[2016-07-06 23:25] fernandojsg opened #103 "Toggle grid"

[2016-07-06 23:46] #16 closed, assigned to nobody

[2016-07-06 23:52] fernandojsg commented on #6
Fixed on https://github.com/aframevr/aframe-editor/pull/105

[2016-07-06 23:52] #6 closed, assigned to nobody

[2016-07-07 00:14] caseyyee opened #108 "Add default ID to when creating new entity"
So we don't end up with a sea of a-entity objects in the scene graph.

ie:

Cube
Cube-1
Cube-2

Torus
Torus-1
Torus-2

Ambient-1

etc.

[2016-07-07 00:20] dmarcos commented on #108
How do you decide on a default id that is not just a random string? A cube primitive might also have a light, or a model won't have a primitive geometry. What about entities that only have 3rd party components and we cannot infer semantics for? Another problem would be user defined id's mixed with the default ones making the scene graph confusing and potentially error prone when using `querySelect

[2016-07-07 02:26] dmarcos opened #110 "Set <a-scene> debug to true and call flushToDOM"
so component changes are reflected on the DOM

[2016-07-07 02:30] dmarcos opened #111 "VR Preview"
Enter VR Mode in the headset while the main display shows the editor UI. This way I can tweak the scene and quickly test it out.

[2016-07-07 02:33] caseyyee commented on #108
All good points.  the issue still stands though. We end up with a soup of entities that becomes unserviceable in both the visual editor and markup.  There needs to be a solution for this.  Open to other ideas and will also think through possible solution to this.

[2016-07-07 02:50] dmarcos commented on #108
That's one of the reasons to have the icons annotating the scene graph. They will help you visually discriminate entities quickly and give details about each components when you hover on them. For instance: you have multiple entities with a geometry and you want to find the icosaedron. You can hover on the icons and via tooltip see the property values without having to click on them.

[2016-07-07 04:23] cvan opened #112 "Use third-party event emitter"
Consider using https://github.com/medikoo/event-emitter - it's tested and has the same API as the one defined in https://github.com/aframevr/aframe-editor/blob/master/src/lib/Events.js

[2016-07-07 04:29] dmarcos opened #113 "Switch to scene cameras within the editor"
Imagine I'm positioning the furniture in a room and I want to do it from the user perspective. Positioning an element, exiting the editor to check the results and enter back makes for a cumbersome workflow

[2016-07-07 04:32] cvan opened #114 "Fix up component loader"
I know it's not being used right now, which is why I'm filing this issue. Here are some actionable items:
1. Remove the early `return;` from the `loadComponentsData` method.
2. Have `loadComponentsData` return a `Promise`.
3. Make the XHR in `loadComponentsData` asynchronous.
4. In `addComponentToScene`, use `document.head` instead of `document.getElementsByTagName('head')[0]` and remove the inter

[2016-07-07 04:55] ngokevin commented on #112
We're considering redux which gives undo redo for free

[2016-07-07 05:18] caseyyee commented on #108
I don't want to debate the icons here, it's not a solution to the problem.   It all looks the same.   A bunch of Icons won't help anything here.

[2016-07-07 06:02] dmarcos opened #115 "Tools for aligning objects"
I know that this is a large and deep topic. We can discuss different options here or open more specific issues. I opened this issue after having the need to position a set of cubes all aligned along a specific direction.

[2016-07-07 06:05] cvan commented on #37
I'm confused about why the `yellowSphere` has a box icon next to it. Am I missing something?

![image](https://cloud.githubusercontent.com/assets/203725/16642617/aa0cad68-43c1-11e6-8699-19c7d223d2c9.png)

[2016-07-07 06:07] dmarcos opened #116 "Increase the step on the rotation slider"
I move my mouse from side to side of my display and the object only rotates 15 degrees. Small movement make imperceptible rotations.
![slider](https://s3.amazonaws.com/f.cl.ly/items/3K1J262O0d3F1R1o1U1k/Screen%20Recording%202016-07-06%20at%2011.05.34%20PM.gif?v=67464b6d)

[2016-07-07 06:14] dmarcos opened #117 "Translate an object considering its rotation"
There's probably precedent in other tools. What I wanted to do was rotating a box 45 degrees and translate it on that direction. Is it possible to have a mode that I can enable where the translation gizmo considers the rotation of the object instead of using the world x,y and axis?

[2016-07-07 06:21] dmarcos commented on #37
The icons are a temporary placeholder. They are taken from the fontawesome. The box represents the geometry component regardless of the primitive and the picture the material.

[2016-07-07 06:32] dmarcos commented on #37
Copied from the comments of an old PR:

[2016-07-07 07:15] cvan commented on #111
Similar issue but not the same: #35

[2016-07-07 07:16] cvan commented on #91
We should use proper `input[type=number]` and `input[type=range]` (issue #29).

[2016-07-07 07:26] cvan opened #118 "Do not select value when number input fields are focussed"
![image](https://cloud.githubusercontent.com/assets/203725/16645555/9cde255a-43d9-11e6-84b1-c561334506fb.png)
1. Click on a `<input class="number">`. Notice that the field is highlighted focusses. (Any subsequent keypress will erase the value of that field. This makes things very error prone.)
2. Click on any other type of filed. Notice that the field is not highlighted upon focus.

IMO, we should

[2016-07-07 07:42] cvan opened #120 "Hot-swap (instead of completely reloading) when CSS stylesheets change"

[2016-07-07 07:49] cvan commented on #24
I was going to file a separate issue, but it seems most of the labels have issues:
1. Clicking on `ID` (under `Attributes > Common`) should focus the ID field.
2. Clicking on `position` (under `Attributes > Common`) should focus the first field (`x`).
3. All `<select>`s are missing labels (e.g., `Attributes > Common > mixins`, `Attributes > Components > Add`).
4. All `<input class="number">`s are

[2016-07-07 08:08] cvan opened #121 "<input class="map_value"> should also have `string` in `class`"
![image](https://cloud.githubusercontent.com/assets/203725/16646480/2e0ee776-43df-11e6-9bf6-1e0a4fced17d.png)
![image](https://cloud.githubusercontent.com/assets/203725/16646492/3f79c90e-43df-11e6-991e-6539ca94a8d4.png)

Notice the blue border highlights for `<input class="text">` only.

[2016-07-07 08:15] cvan opened #122 "Scenegraph sticky footer z-index conflicts with Textures modal"
![image](https://cloud.githubusercontent.com/assets/203725/16646680/409c459a-43e0-11e6-8518-58898fb02ed6.png)

[2016-07-07 08:28] cvan opened #123 "<input type="color"> are too small"
![image](https://cloud.githubusercontent.com/assets/203725/16646015/c24ad772-43dc-11e6-96b9-3518e4e0ded6.png)
![image](https://cloud.githubusercontent.com/assets/203725/16646049/edf63268-43dc-11e6-96c9-0d3d8a7c85df.png)
![image](https://cloud.githubusercontent.com/assets/203725/16646079/0b0800de-43dd-11e6-998c-23540deab6d4.png)
- Why do we need `padding: 2px`?
- The style is inconsistent with the

[2016-07-07 08:28] cvan opened #124 "Cannot tell when input[type=checkbox]/input[type=radio] is focussed"
Compare to `<select>`:

![image](https://cloud.githubusercontent.com/assets/203725/16646450/0422ea8e-43df-11e6-9e8b-efb6c06b7076.png)

[2016-07-07 08:35] cvan opened #125 "Change margin for input[type=number], input[type=radio]"
Set it to `margin: 1px`-ish

[2016-07-07 08:46] cvan opened #127 "Replace input[class=string] with something more semantically correct"
input.string[type=text] is not super clear

[2016-07-07 09:11] cvan opened #129 "Editor's CSS should be scoped"
I can imagine a ton of conflicts with other content if `<a-scene>` is not the only child of `<body>` in the document.

[2016-07-07 09:19] cvan commented on #30
It's visible in the animation above, but I wanted to reiterate that the `z-index` of the drop-down menu needs to be adjusted such that the vertical dots aren't on top. (Personally, I would opt for icons w/ tooltips instead of the drop-down.)

[2016-07-07 09:21] cvan opened #131 "Mixin text is of a larger font-size than <input>'s"
<img width="316" alt="screen shot 2016-07-07 at 2 20 39 am" src="https://cloud.githubusercontent.com/assets/203725/16648550/862d9dd0-43e9-11e6-8179-2ac68f18727c.png">

[2016-07-07 09:23] cvan opened #132 "Roboto `font-family` not used for default `input, select, textarea`"
#### before

![image](https://cloud.githubusercontent.com/assets/203725/16648596/bc0d4392-43e9-11e6-812b-0ab18d617f13.png)
#### after `input, textarea, select { font-family: inherit }`

![image](https://cloud.githubusercontent.com/assets/203725/16648614/ca767bb0-43e9-11e6-8add-3e14fe7c567e.png)

[2016-07-07 09:25] ngokevin commented on #129
https://github.com/css-modules/css-modules ?

[2016-07-07 09:30] cvan commented on #41
yep. I opened PR #134.

[2016-07-07 09:33] cvan commented on #129
if we can use it with postcss (which it looks like [we can](https://github.com/outpunk/postcss-modules-example)), this seems like the right way to do it. thanks.

[2016-07-07 09:36] cvan opened #135 "Minify injected CSS"
![image](https://cloud.githubusercontent.com/assets/203725/16649025/ab6a0532-43eb-11e6-9508-d05f07acdaa7.png)

[2016-07-07 09:41] cvan opened #136 "Gracefully degrade (and use JS) to inject font-awesome and Google Fonts CSS"
If maxcdn/Google Fonts takes a while or if I'm offline, the Editor will take a long time/forever to load.

![image](https://cloud.githubusercontent.com/assets/203725/16649060/df468a2e-43eb-11e6-97ac-26e50dca5d9c.png)

[This](https://github.com/MozVR/iswebvrready/blob/7974601/src/_base.html#L12) is one approach (using https://github.com/typekit/webfontloader). Also, there's now a [Font Loading API]

[2016-07-07 09:42] cvan opened #137 "Stray horizontal line in wireframe view"
1. Load the example scene in the editor mode.
2. Reduce the height of your browser.
3. Notice the stray gray.

![image](https://cloud.githubusercontent.com/assets/203725/16649167/728ec9c2-43ec-11e6-8d06-87846ee11407.png)

[2016-07-07 09:58] #123 closed, assigned to nobody

[2016-07-07 10:00] #41 closed, assigned to nobody

[2016-07-07 10:19] #121 closed, assigned to nobody

[2016-07-07 10:27] cvan commented on #17
Can we list "Common" under "Components"?

[2016-07-07 10:30] cvan opened #138 "Scenegraph options have `value="[object HTMLElement]"`"
This seems wrong:

![image](https://cloud.githubusercontent.com/assets/203725/16650469/1c7c1632-43f3-11e6-859d-aa3936441bf9.png)

[2016-07-07 10:31] cvan opened #139 "Console error upon editing components: "Warning: `value` prop on `input` should not be null. Consider using the empty string to clear the component or `undefined` for uncontrolled components.""
1. Load the example scene in editor mode.
2. Select an entity in the scene graph.
3. Uncheck the "visible" field.
4. Notice this error in the Console: `Warning:`value`prop on`input`should not be null. Consider using the empty string to clear the component or`undefined`for uncontrolled components.`

![image](https://cloud.githubusercontent.com/assets/203725/16650485/3a55c96e-43f3-11e6-8022-d4867998

[2016-07-07 10:32] cvan opened #140 "Scroll to newly inserted entity/component upon inserting new one"
1. From the scene graph, press the "+" to add a new entity.
2. Notice the scroll position doesn't change, so you might not notice it was added.

![image](https://cloud.githubusercontent.com/assets/203725/16650531/7bf16694-43f3-11e6-840a-6514edf35e2b.png)

[2016-07-07 10:38] cvan opened #141 "Improve keyboard navigation for scenegraph using radio buttons"
I filed #7 and #12 for arrow navigation. #7 was addressed in PR #63, but my suggestion in #7 was to use hidden `<input type="radio">`s (because of built-in keyboard accessibility). When a row is selected (i.e., its child radio field is `checked`), you can go up/down or left/right, and you can cycle through the rows/fields as expected.

The two issues that stick out for me are that the keyboard nav

[2016-07-07 10:39] cvan commented on #141
Also see http://alistapart.com/article/radio-controlled-web-design

[2016-07-07 10:55] fernandojsg commented on #118
Actually I find it quite useful, as I found more useful to click on objects to completely modify the number by default, lets say number of sides in a cylinder or whatever than to replace just the last decimal on the number. So without this selection I will need to delete the whole number and enter another one.
Also this is the common way to go in most of the DCC out there, for example 3dstudio max

[2016-07-07 11:48] #98 closed, assigned to nobody

[2016-07-07 16:41] dmarcos opened #143 "Plugin API"
Something like `AFRAME-EDITOR.registerPlugin(...)` so 3rd parties can add panels to the editor UI. The same way you drop a script tag on an AFRAME app you could drop a script also to augment the editor with new functionality

[2016-07-07 17:15] fernandojsg commented on #137
This is from the far plane clipping of the camera helper:
<img width="723" alt="screenshot 2016-07-07 19 14 28" src="https://cloud.githubusercontent.com/assets/782511/16662304/1dc13d18-4477-11e6-8678-6adde3b8ee7e.png">

Anyway this will be removed if the camera is not selected, see: https://github.com/aframevr/aframe-editor/issues/45

[2016-07-07 17:15] #137 closed, assigned to nobody

[2016-07-07 17:36] ngokevin commented on #135
It's minified in the bundle. It's only prettified after injection.

[2016-07-07 18:19] dmarcos opened #145 "Add icon to toggle entity visibility from the scene graph"

[2016-07-07 19:07] #120 closed, assigned to ngokevin

[2016-07-07 19:08] #89 closed, assigned to ngokevin

[2016-07-07 19:12] #48 closed, assigned to ngokevin

[2016-07-07 19:12] fernandojsg commented on #47
Fixed in https://github.com/aframevr/aframe-editor/pull/95

[2016-07-07 19:12] #47 closed, assigned to ngokevin

[2016-07-07 19:18] ngokevin commented on #115
https://github.com/ngokevin/aframe-layout-component

[2016-07-07 19:25] caseyyee commented on #37
Let's think about what the scene graph is for:

It's to help users understand (and perhaps change) the hierarchy and structure of the scene and how entities relate to each-other.   Anything outside of this can be considered secondary or a responsibility of another interface component altogether (like the attributes panel).

With that said, let's take a look at what you are proposing:

- You aid ac

[2016-07-07 19:31] dmarcos commented on #37
Hovering over component icons is more efficient to inspect a large number of entities without having to click on them and go and see the component panel.

[2016-07-07 19:38] caseyyee commented on #37
Just use the arrow keys.  Far quicker than trying to mouse over a bunch of tiny icons.   What problem are you trying to solve for exactly?

[2016-07-07 19:39] dmarcos commented on #37
The visual aspect of each icon is not as important as having a way to quickly overview an entity and efficiently discriminate between them (a light vs camera vs visible entities vs structural entities). In most cases entities won't have IDs and mixins applied.

From the article you mentioned.

I agree than the positioning of the icons is more important more than their visual aspect. It's a learned

[2016-07-07 19:40] caseyyee commented on #37
I'm not saying we need no icons.   We need less.   It's a sea of icons right now.

I agree that there are certain components that should be easily identifiable.   But even then, its optional.  Just look at Unity.   No icons in the scene graph.   Does anyone complain about it?    Nope.

![image](https://cloud.githubusercontent.com/assets/1560884/16667204/1d9e3f70-4440-11e6-9fe3-de97aabe79d2.png)

S

[2016-07-07 19:42] dmarcos commented on #37
Ordering components how? They are currently sorted alphabetically. What criteria do you use? Determining an order that is clear for everybody is a hard task, specially when considering 3rd party components. If you have good sorting method that it's more efficient and universal than alphabetical order I would like to hear. We talked about having a `collapse all` feature and a free text search box o

[2016-07-07 19:52] fernandojsg commented on #37
You can always find software that validate your argument, just look at 3dstudio max, cinema4d, etc. Also I wouldn't take Unity as the master of UX out there, but for sure we could take things from it.
Regarding ordering the components, it's probably the easiest way to find the one you want with the current alphabetical order, trying to order "most important" component first, it's something that do

[2016-07-07 20:11] fernandojsg opened #147 "Add status bar and remove scenegraph title"
Adding status bar to place the common transforms icons, the grid visibility options, and add some stats too.
<img width="1438" alt="screenshot 2016-07-07 20 51 07" src="https://cloud.githubusercontent.com/assets/782511/16667989/57f6b040-448f-11e6-9cac-6f9bae9cc7a9.png">
I've also deleted the `SCENEGRAPH` title and move the icons for the scenegraph to the top. In that scenegraph-bar we'll include a

[2016-07-07 20:15] fernandojsg commented on #10
Maybe show icons for each action instead a context menu, but showing them just when you have the mouse over the component`s header?

[2016-07-07 20:40] ngokevin commented on #116
dupe https://github.com/aframevr/aframe-editor/issues/91

[2016-07-07 20:40] #116 closed, assigned to nobody

[2016-07-07 20:40] ngokevin commented on #92
fixed

[2016-07-07 20:40] #92 closed, assigned to nobody

[2016-07-08 00:05] AnnCaryn opened #152 "Scene versus File Menu"
Expected behavior:
Expected this to be File Menu based on its contents
Expected that a scene menu would list all components in the scene

Actual Behavior:
Scene menu has ability to save and export to clipboard, this might become problematic when later on there is the ability to connect multiple scenes.

Visual:
<img width="327" alt="file" src="https://cloud.githubusercontent.com/assets/737515/1667

[2016-07-08 00:32] AnnCaryn opened #153 "Creation Components and their Attributes"
Expected Behavior:
I expected the Create Menu to mirror the organization of components to create consistency.  I expected that the attributes - the things you can do to a component like directional lighting or adding animations would be attributes of that component.

Expected Visual:
One idea-
<img width="1434" alt="create1" src="https://cloud.githubusercontent.com/assets/737515/16673944/ad85b952-

[2016-07-08 00:36] AnnCaryn opened #154 "Edit Menu and Keyboard Shortcuts"
Expected behavior:
Expected that these menu items would appear under the Edit menu on dropdown -
- Undo
- Cut
- Copy
- Paste

and that keyboard controls for undo, cut, copy and paste would work in the editor

Actual Behavior: No menu items on dropdown and keyboard controls were not working to undo, cut, copy or paste

[2016-07-08 00:45] AnnCaryn opened #155 "Adding an environment map"
Steps to repro:
Open an object with a material on the object
Tap the square next to env map to change the texture
Upload a file (tried jpg, png and gif)

Expected behavior:
Would show the environment map in the preview window
or if there was an error tell me the state of my error (wrong file type etc)

Actual Behavior:
Showed as broken in the texture window preview and upon submission did not chan

[2016-07-08 01:01] AnnCaryn opened #156 "Not obvious that sound component added to scene"
Steps to repro:
Under components tap the dropdown
Add a sound component
Press the plus button
Nothing happens

Expected:
A sound component would likely be added as an additional entity to an object - child attribute?
When a component is added I would expect for it to be highlighted and selected on the left menu.

[2016-07-08 01:03] AnnCaryn commented on #140
I like the plus addition - that is cool.  I would expect that when something is added to a scene it would be highlighted and selected to help you notice that.

[2016-07-08 01:17] cvan commented on #135
that's weird, but okay

[2016-07-08 01:17] #135 closed, assigned to nobody

[2016-07-08 01:20] cvan commented on #118
I don't know. I'm split here. if a placeholder/default value is there, I can expect to want to rewrite it. but otherwise, I can see myself accidentally rewriting values (and I have already - numerous times). I know this is also how the DOM inspector works. But we're comparing something our Editor which uses native HTML5 forms to native GUIs. Not sure it's a fair comparison. We can keep this open a

[2016-07-08 01:26] cvan commented on #10
As I mentioned before (and there's an issue on file: #18), I would never hide any functionality behind a context menu. Any feature accessible from a context menu should also be accessible from left-clicking somewhere in the UI.

[2016-07-08 03:29] arturitu commented on #118
In my case, I always appreciate that they can edit this way, and especially the possibility of scrolling (now works). But now you can edit values when they are not selected, I think is better only can edit the selected field.
![issue118](https://cloud.githubusercontent.com/assets/5744112/16676682/2cdf1756-44cd-11e6-8762-9aacf414432d.gif)

[2016-07-08 04:03] arturitu commented on #18
If the editor will be accesible for touch devices (for ex. #54) perhaps is not a good solution, and I'm not sure if context-menu will be intuitive in a near future for web-based tools users.

[2016-07-08 04:09] arturitu commented on #22
Perhaps named with the ID of the a-scene tag?

[2016-07-08 04:24] cvan commented on #22
Not a bad idea. I was thinking of slugifying the `window.location.host + window.location.pathname`. We could have a series of checks.

[2016-07-08 04:24] arturitu commented on #57
I think use keys to move any object (not only the camera) is a great opportunity to move is rounded number steps (for ex. 0.1m per click or if you press shift+key move 10x (in this case 1m per click)

[2016-07-08 04:24] cvan commented on #18
Yeah, context menus are a good fallback IMO and great for (power) users (once they discover them). 👍

[2016-07-08 04:26] dmarcos commented on #10
Can you propose a way to place the operations asociated to each component that scales to any arbitrary number of actions in the future and does not clutter the UI? The three dots is a common pattern to indicate additional options.

The editor packs already a bunch of different workflows (and it will get more complex over time) it's not realistic to expose all the functionality on screen.

[2016-07-08 04:32] dmarcos commented on #10
The original issue refered to the position where the menu appears after clicking on the three dots icon. The first option overlaps with the icon and I clicked it by mistake.

[2016-07-08 04:37] arturitu commented on #61
In Blender is very useful when you start the rigging to show the name of the bones. If you have a lot of elements in a scene I think is good to have an option to show them to be sure all are in the expected position. And with this, maybe the left bar with the entities tree could be hide it if you want to have more space to view the scene.

Sure is more a futurible enhancement than an issue, but a

[2016-07-08 04:56] arturitu commented on #79
I think the separate tool is a good option with translate/rotate/scale and visible (the common properties)
And with a double-click to change automatically between translate/rotate/scale.

![image](https://cloud.githubusercontent.com/assets/5744112/16677725/df42e05c-44d8-11e6-9c00-f4e35c0c54ce.png)
With the avobe sketch each object could have a different tool selected, perhaps is more common to hav

[2016-07-08 04:58] arturitu commented on #90
When you add a component too (perhaps scrolling to the new component?)

[2016-07-08 05:00] dmarcos commented on #153
`Create` creates an empty entity or an entity pre-populated with a set of components to produce what you selected: camera, lights or simple shapes. Similar to the `Game Object` menu in Unity.

![Unity](https://s3.amazonaws.com/f.cl.ly/items/2D432b2I1u0c2k1S2h3p/Image%202016-07-07%20at%209.57.37%20PM.png?v=2288f741)

The problem is the name collision between the name of the components and the name

[2016-07-08 05:02] dmarcos commented on #152
What about `Export` instead of `Scene`

[2016-07-08 05:07] arturitu commented on #102
I suggest something about this on #61

[2016-07-08 05:10] dmarcos commented on #156
The component gets added for me but you have to scroll down to see it (components are sorted alphabetically). Two ideas to solve this:
1.  Scroll automatically to the newly added component.
2. Collapse all the components except the created one.

[2016-07-08 05:13] arturitu commented on #115
Perhaps having different grids could be easy to align objects? For example, by default a grid with a 1m square pattern, and you can move the objects 0.1m by default with keys (I start to talk about this on #57) but if you change to an special grid you can translate things in another way (I came to mind the modular grids on Illustrator [http://www.creativebloq.com/illustration/create-modular-grid-s

[2016-07-08 05:28] cvan commented on #10
Do we expect users will want "Reset all"? I haven't seen that option in DevTools/DOM inspectors, and at least from my experience and the literature I've read, "Reset" buttons in forms most of the time just lead to users accidentally clearing form data.

Instead perhaps it's better to allow each individual component property to be reverted individually (or at least indicate that it's been user-over

[2016-07-08 05:43] dmarcos commented on #10
Destructive operations should have some friction so they're not triggered accidentally. Specially now we still don't have undo/redo. Deleting a component is a fairly uncommon operation and seeing that icon present on the screen all the time for every component adds unnecessary clutter.

[2016-07-08 06:32] cvan commented on #152
Good catch, yeah. This issue is addressed in #33. Shall we consider this a dupe and move the discussion there?

[2016-07-08 06:35] cvan commented on #153
If we're adding entities to the scene graph, IMO any buttons to `Create`/`Edit`/`Delete` (including ability to rearrange) should belong in the scenegraph sidebar. That seem kosher?

[2016-07-08 06:37] cvan commented on #19
We can use flexbox to change the `order` in which the entities are displayed. See https://github.com/cvan/flexbox-sort. And then when exporting, you can actually do the rearranging before you export the HTML.

[2016-07-08 06:38] cvan commented on #19
Without the ability to at least rearrange the top-level order of the entities, I can see it being very confusing figuring out how to group related entities without having to delete a bunch of entities and re-enter them.

The scene-graph sidebar should reflect the order in which the entities appear(ed) in the markup, yeah?

[2016-07-08 06:41] cvan commented on #154
👍 to this. Undo/Redo will get tricky, but I imagine.

And we have to be careful to not hijack the browser's keyboard shortcuts for word jumping, undoing, redoing, copying, etc. These menu items should be active when an entity is selected and no other form field is focussed. Additionally, it'd be nice to add all these same options as context-menu options when right-clicked.

I like how Sketch handl

[2016-07-08 06:43] cvan commented on #155
This is a WIP and will likely be hidden for v1. We of course eventually want this though and soon. We'll likely be using an UploadCare-powered widget (à la the [A-Frame Asset Uploader](https://aframe.io/aframe/examples/_uploader/)'s), which handles all this quite nicely.

[2016-07-08 06:43] cvan commented on #156
This seems like a dupe of #140. Can we close in favour of that issue?

[2016-07-08 06:45] cvan commented on #10
I agree with that. But

I tend to agree with that. But it can also be a hassle and/or undiscoverable to know how to delete something.

I like how GitHub handles the list of branches, with trash can icons _with_ tooltips to Delete:
1.
   ![image](https://cloud.githubusercontent.com/assets/203725/16679219/b5a63660-449a-11e6-9267-ca82a78a7f08.png)
2.
   ![image](https://cloud.githubusercontent.com/as

[2016-07-08 06:51] cvan opened #157 "Add ability to hide/show elements in scenegraph"
à la Sketch:

![image](https://cloud.githubusercontent.com/assets/203725/16679615/baafe0d6-449d-11e6-8c7e-8688963d409f.png)

[2016-07-08 06:53] cvan opened #158 "Determine whether the editor should multiple scenes on the same page"
Could be handled not so terribly:

![image](https://cloud.githubusercontent.com/assets/203725/16679646/fef014c8-449d-11e6-96a7-3f396749cd16.png)

![image](https://cloud.githubusercontent.com/assets/203725/16679642/fbb5d298-449d-11e6-97f8-fe8989e5e6f3.png)

[2016-07-08 06:54] cvan opened #159 "Add ability to search scenegraph"
![image](https://cloud.githubusercontent.com/assets/203725/16679658/166886bc-449e-11e6-89e4-828f14e44bc2.png)

[2016-07-08 06:58] cvan opened #160 "Introduce Roboto Mono font family"
https://www.google.com/fonts/specimen/Roboto+Mono

and add "Roboto Mono" to our mono `font-family`: https://github.com/aframevr/aframe-editor/blob/f408ba7/src/css/dark.css#L774-L776

[2016-07-08 07:00] cvan commented on #160
Also available for download from https://github.com/google/fonts/archive/master.zip

[2016-07-08 07:46] ngokevin commented on #10
_[deleted...]_

I personally prefer just the icons for now and not assume we're going to be adding 10 things to it. In my mind for me, the most common operation would be Copy to Clipboard, I don't imagine Deleting/Resetting often.

[2016-07-08 07:58] cvan commented on #10
Comics are cool. But, hey, I took the time to think about it and mock something functionally up and record a screencast of it - instead of _talking_ about what I like, don't like, what I think users like, don't like. Let me know if you'd prefer me to convey things in another way.

👍 yes to this

[2016-07-08 08:00] ngokevin commented on #10
It was just a joke. I thought it was funny and relevant. Sorry.

[2016-07-08 08:20] cvan commented on #147
Awesome! Btw, I filed #159 for search and #157 for toggling visibility of items in the scene graph.

[2016-07-08 08:29] cvan commented on #147
The icons may be a bit close together to the icons in the sidebar, but what do you think of this treatment? Top vs. bottom:

![aframe-editor-bars-only](https://cloud.githubusercontent.com/assets/203725/16681826/de0efcde-44ab-11e6-9278-c71dc2d0d98f.png)

[2016-07-08 08:30] cvan commented on #20
A dupe was filed, #37, but there's more activity there.

[2016-07-08 08:38] cvan opened #164 "Dim the delete icon (trash can) in scenegraph sidebar when nothing is selected"
1. Load a scene with the editor mode.
2. Notice the trash can appears clickable even though no entity is selected in the scene-graph sidebar:

![image](https://cloud.githubusercontent.com/assets/203725/16681883/43b75fc2-44ac-11e6-88ec-39687f7c7f0f.png)

<hr>

Proposal (when nothing is selected, add these styles to the delete icon: `pointer-events: none; opacity: 0.5`):

![image](https://cloud.gith

[2016-07-08 08:39] cvan opened #165 "Consider hiding "Attributes" sidebar when no scene-graph entity is selected"
1. Load a scene with the editor mode.
2. Notice an empty "Attributes" sidebar appears:

![image](https://cloud.githubusercontent.com/assets/203725/16681883/43b75fc2-44ac-11e6-88ec-39687f7c7f0f.png)

[2016-07-08 08:42] dmarcos commented on #157
dup https://github.com/aframevr/aframe-editor/issues/145

[2016-07-08 08:42] #157 closed, assigned to nobody

[2016-07-08 08:45] cvan opened #166 "Primary CTA buttons w/ icons should have text labels"
The plus sign and trash are quite common icons to indicate add and remove (although it's unclear why exactly).

(An aside: this has been brought up elsewhere, but it seems a bit odd that you have to first click a row and then move your cursor all the way back up to the header to click the delete icon.)

But the other three icons - I 100% don't know what the other three primary icons represent.

Lo

[2016-07-08 08:45] dmarcos commented on #158
If there are multiple scenes on the same page and the editor is injected an edit button will appear on each of them. You will edit one at a time.

[2016-07-08 08:47] cvan commented on #158
Okay, cool - I assume that functionality is on its way? Want to repurpose this issue to add support for that?

[2016-07-08 08:48] cvan commented on #158
Also, that makes #129 ever important too

[2016-07-08 08:53] dmarcos opened #167 "Ability to create a child entity of another one"
Maybe by selecting an entity and clicking create child in a contextual menu

[2016-07-08 09:19] dmarcos commented on #166
I have my own opinion on this. The specific image that an icon represent becomes irrelevant quickly after a few uses because you will operate using spatial and muscle memory once the action is learned. The most important thing is to have icons that can be discriminated visually from one another. Many people just don't even try to analize the meaning of an icon and just learn by experimentation. It

[2016-07-08 09:39] cvan commented on #166
Compare these two Sketch windows:

### icons + labels

<img width="1552" alt="screen shot 2016-07-08 at 2 29 52 am" src="https://cloud.githubusercontent.com/assets/203725/16683298/e4859e80-44b3-11e6-8d1e-286b17609f42.png">

### icons only

<img width="1552" alt="screen shot 2016-07-08 at 2 29 42 am" src="https://cloud.githubusercontent.com/assets/203725/16683299/e48a002e-44b3-11e6-9bf9-8f0b6cd6b71

[2016-07-08 09:42] cvan commented on #40
See issue #147 (PR #148)

[2016-07-08 09:44] cvan opened #168 ""Enter VR" tooltip is borked"
1. Load https://aframe.io/aframe-editor/example/
2. Click "Exit"
3. Click the "Enter VR" button
4. Notice the positioning of the tooltip is all off:

![image](https://cloud.githubusercontent.com/assets/203725/16683662/e79d6aec-44b5-11e6-98df-9d7e00381469.png)

[2016-07-08 09:53] fernandojsg commented on #156
Yes, it's duplicated from #140, let's keep talking there

[2016-07-08 09:53] #156 closed, assigned to nobody

[2016-07-08 10:12] fernandojsg commented on #147
Yep, I initially moved the icons from the scenegraph to the top as I thought that they maybe look bad so close to each other.
I believe we will still need an status bar to show info that is doesn't need to be highly accesible like to be on top, for example stats, # entities, drawcalls, whatever, and grid options like snap to grid, enable/disable, and so on.
I agree that the transforms options are

[2016-07-08 10:21] fernandojsg commented on #19
Yes the scenegraph reflect the entities as they appear in the markup, so if we want to reorder them or change the hierarchy we should deattach&attach them to the DOM again as @dmarcos says.
So it's more like a API problem than related to the editor. Until we'll get a solution on how to do that we could implement the search/filter functionality on the scenegraph.
But we should keep consistency on t

[2016-07-08 10:21] fernandojsg commented on #20
Yep, I close it and we could keep talking there

[2016-07-08 10:21] #20 closed, assigned to nobody

[2016-07-08 10:23] fernandojsg commented on #22
Yep probably using the scene's id and the proposal from @cvan in the case we didn't provide one

[2016-07-08 10:24] fernandojsg commented on #9
Close to keep the discussion on https://github.com/aframevr/aframe-editor/issues/23

[2016-07-08 10:24] #9 closed, assigned to nobody

[2016-07-08 10:29] fernandojsg commented on #31
Considering that we should maintain those links for each attribute and they can change from time to time, I'll be more useful to add a link per component, similar to what Unity does (in the same level of the delete buttom):
<img width="287" alt="screenshot 2016-07-08 12 26 10" src="https://cloud.githubusercontent.com/assets/782511/16684793/3dcdecec-4507-11e6-8216-8296ff6ce3b9.png">

[2016-07-08 10:29] fernandojsg commented on #152
Yep, duplicated, let's talk there

[2016-07-08 10:29] #152 closed, assigned to nobody

[2016-07-08 10:30] fernandojsg commented on #33
From https://github.com/aframevr/aframe-editor/issues/152 we could use `Export` by now and just reword it in the future if we keep adding other functionality that doesn't fit there.

[2016-07-08 10:34] #33 closed, assigned to nobody

[2016-07-08 10:36] fernandojsg commented on #18
If we add a context menu, we should keep these options also accesible from the main menu too.
But I agree that for "power" users it will be more helpful

[2016-07-08 10:42] fernandojsg commented on #36
Should we clone the entity in the same level of the previous entity?

[code]

If I clone `<a-door>` should the new created entity be placed next to the cloned item inside the `a-house` or just added at the end of `a-scene` ?

[2016-07-08 10:44] fernandojsg commented on #53
Duplicated from https://github.com/aframevr/aframe-editor/issues/23

[2016-07-08 10:44] #53 closed, assigned to nobody

[2016-07-08 10:48] #49 closed, assigned to nobody

[2016-07-08 10:58] #42 closed, assigned to ngokevin

[2016-07-08 11:15] arturitu commented on #147
I have made a rough sketch to test some things commented together:
- I only use blue color for interactive elements of the interface.
- I change the near 'add' and 'delete' buttons for a 'cross' icon on every entity on the scene graph and a 'Add' top menu.
- I have added a search field on scenegraph (#159)
- I have tested to add text labels to some icons (#66)

![image](https://cloud.githubusercon

[2016-07-08 11:26] fernandojsg commented on #147
Cool! The only thing I don't really like it is the menu color. The icons with the text looks nice, but for those so common icons I don't know if it's a real benefit over add some tooltips for example, as it takes a lot of space to place them. Probably we could align them to the left and skip the rest of the toolbar until we'll have more icons? I mean, not using the full width of the viewport if we

[2016-07-08 13:17] fernandojsg opened #170 "Change aframe-editor.js url in the example"
Right now we've `http://localhost:3333...` but with that we can't test the example outside of our local computer (mobile, tablet, or whatever).
@ngokevin I believe you changed that for a reason, why can we have it relative to the example path? Something like we had before `../build/aframe-editor.js`

PS: I believe we should also include `--host 0.0.0.0` in the webpack server to make it public on o

[2016-07-08 16:30] fernandojsg commented on #147
I've done some changes following the idea of @arturitu in the PR https://github.com/aframevr/aframe-editor/pull/148:
<img width="1436" alt="screenshot 2016-07-08 18 18 33" src="https://cloud.githubusercontent.com/assets/782511/16694029/6669921a-4538-11e6-9a04-9e78eddc39f1.png">

I've included the filter and the transforms gizmos:
Transforms gizmos:
https://www.dropbox.com/s/zck3dfwqyrunwto/transfo

[2016-07-08 17:31] #131 closed, assigned to nobody

[2016-07-08 17:38] caseyyee commented on #36
I would expect it to show up adjacent to the cloned entity.

So it would look like:

[code]

This is also consistent with other layer based aops i've used.

[2016-07-08 18:15] caseyyee opened #174 "Shortcut to change entity ID in scene graph panel."
Pressing enter on the entity to change it's ID name would make it much easier to label and identify items in the scene graph.   This saves you from going to the opposite side of attributes panel to change the ID.

[2016-07-08 18:18] caseyyee commented on #79
I kind of like it in it's own tool bar.   It's easier to access that way without the noise of the properties panel.   that is what i am doing with the editor 90% of the time is picking and placing items.

[2016-07-08 18:32] #159 closed, assigned to nobody

[2016-07-08 18:37] fernandojsg opened #175 "Extend the scenegraph's filter to components and attributes"
Currently the filter in the scenegraph is filtering tagName and ID of each entity, it could be great to let it filter through the component's name and event values. For example typing `light` it will filter the entities that has a ID `light` but also the ones that have a `light` component. Or even typing `box` could filter the geometries that has a `box` attribute set.

[2016-07-08 19:12] fernandojsg commented on #73
Fixed on https://github.com/aframevr/aframe-editor/pull/173

[2016-07-08 19:12] #73 closed, assigned to nobody

[2016-07-08 19:13] fernandojsg commented on #79
As discussed, closed by https://github.com/aframevr/aframe-editor/pull/173

[2016-07-08 19:13] #79 closed, assigned to nobody

[2016-07-08 19:15] dmarcos commented on #174
We have to handle name collisions if we're changing the ID

[2016-07-08 19:16] fernandojsg commented on #166
Linking the test from @arturitu in https://github.com/aframevr/aframe-editor/issues/147
![d9b2602a-450c-11e6-9a35-707f72046010](https://cloud.githubusercontent.com/assets/782511/16698867/e449ecee-4550-11e6-9b65-88039bc5d133.png)

Right now we've just some obvious icons/actions for this kind of software (translate, rotate, scale, delete). Even if we still doesn't have the final version of those ico

[2016-07-08 19:18] fernandojsg commented on #147
Closed by https://github.com/aframevr/aframe-editor/pull/173 and https://github.com/aframevr/aframe-editor/pull/172
Let's keep the discussion about the labels here -> https://github.com/aframevr/aframe-editor/issues/166

[2016-07-08 19:18] #147 closed, assigned to nobody

[2016-07-08 19:18] ngokevin commented on #174
Alternatively, prompt for an ID on create:
1. Press create.
2. Input field automatically focused (with `entity` as default placeholder), start typing.
3. Press enter to confirm.

Collisions are manageable, that's more of a factor to whether the extra code/effort is appropriate for the milestone.

[2016-07-08 19:34] caseyyee commented on #19
Looking into this issue.

Looks like there are some components to easily do this:

http://tamagokun.github.io/example-react-dnd-nested/

I would _really_ like to see this since it will really help organize the scene graph -- especially if your jumping back and forth between markup and the visual editor.

[2016-07-08 19:41] fernandojsg commented on #19
I use not to reinvent the wheel every time I need a new widget, but sometimes If we need something very specific it's probably the best way to go, like for example the numeric widget that we've right now.
Looking at that repo it seems like a very huge source code like just include in our project: https://github.com/gaearon/react-dnd/tree/master/src
We should keep in mind that the scenegraph will e

[2016-07-08 19:58] ngokevin commented on #19
I can see this discussion getting down on the purpose of the Editor. Is the Editor complementary to the markup, or should it be its own product that hides the markup? I believe we somewhat are on the same page about it being more of an Inspector/Tweaker rather than the primary development tool.

If the Editor is to be the primary development tool, then DnD makes sense. Because then you rearrange y

[2016-07-08 20:19] fernandojsg opened #176 "Vec3 doesn't reflect changes when componentChanged"
When you modify the `position`, `rotation` or `scale` of an object using the transforms gizmos or directly from the DOM inspector, they don't change the value of their `vec3` widgets.
This is something we just missed on the latest changes of the `NumericWidget` as it was working properly in the early versions. /cc @ngokevin

[2016-07-08 20:20] ngokevin commented on #176
My bad. One day, we'll have unit tests :)

[2016-07-08 21:20] fernandojsg commented on #110
Just adding `debug=true` should be enough right? Or do I need to explicitly call `flushToDOM` in some cases?

[2016-07-08 21:56] dmarcos commented on #110
debug = true makes DOM attributes reflect the component state but it's not retroactive. You still have to flushToDOM to write down all the compoents. Maybe that should be the behavior in a-frame

[2016-07-08 22:53] fernandojsg commented on #110
Added a fix for that https://github.com/aframevr/aframe-editor/pull/177, but probably a-frame should care about calling `flushToDOM` after setting `debug=true` for the first time?

[2016-07-08 23:02] ngokevin opened #178 "consider tweaking panel heading styling"
This is minor and purely visual, but because they're highlighted, they look like they can be clicked or interacted with. My eyes keep getting drawn to them amidst the sea of gray.

<img width="1439" alt="screen shot 2016-07-08 at 4 00 57 pm" src="https://cloud.githubusercontent.com/assets/674727/16703766/2b6330bc-4525-11e6-85c6-66ae36dcec60.png">

[2016-07-08 23:12] fernandojsg commented on #178
Yep, my fault, in fact @arturitu version has grey text color:
![d9b2602a-450c-11e6-9a35-707f72046010](https://cloud.githubusercontent.com/assets/782511/16703956/3059296c-4572-11e6-8e47-5feb6066467c.png)

I'll change that.

[2016-07-08 23:17] ngokevin commented on #55
Traditional analytics will be tricky since the Editor will be running on all sorts of domains, often `localhost`.

[2016-07-08 23:22] ngokevin commented on #55
Might work...

[2016-07-08 23:33] fernandojsg opened #180 "Update boundingbox if component changed from the DOM inspector"
If the position of an object is modified from the DOM inspector the boundingbox is not updated until you move the mouse over the entity or change some attribute.

[2016-07-08 23:33] #176 closed, assigned to ngokevin

[2016-07-09 00:36] dmarcos commented on #178
Yep. UI and selection highlight colors should be different. Can we make the view scene button `a-frame purple`?

[2016-07-09 00:38] ngokevin commented on #55
OK, I think it's working fine.

I'm going to keep a running list of events and metrics to track. Feel free to add more:
- [ ] attributes.componentAdd - component name
- [ ] attributes.componentChange - component name
- [ ] attributes.componentRemove - component name
- [ ] attributes.componentCopy - component name
- [ ] attributes.componentReset - component name
- [ ] attributes.componentCollapse -

[2016-07-09 00:41] ngokevin opened #182 "consider renaming Attributes panel to Components panel"
Minor thing, not a big deal.

To be technically accurate. 99% of the things involved there will be related to Components.

[2016-07-09 02:26] ngokevin commented on #182
As a secondary, `Attribute` in code could be renamed to `Property`.

[2016-07-09 11:05] fernandojsg commented on #158
I close the issue as the expected behaviour by now is as @dmarcos says: Edit one scene at a time. For that we'll need to expand the canvas fullsize but we can open another issue with that

[2016-07-09 11:05] #158 closed, assigned to nobody

[2016-07-09 17:45] Coder206 commented on #168
I would like to fix this.

[2016-07-09 18:00] fernandojsg commented on #168
Perfect!, It's all yours ;)

[2016-07-09 18:31] fernandojsg commented on #10
I like the look of the icons on the on github too. I don't really like to add options below the title of the component, It could be better if they're accessible even when the component is collapsed.
So as so far we have just delete, copy to clipboard and reset, maybe we could just add those icons the same explicitly and remove the three dots. And add a tooltip in the same way github does.

Doing t

[2016-07-09 18:37] fernandojsg commented on #174
I already have a function to handle ID collision on a WIP entity clone branch so it won't be a problem.
Regarding the workflow that @ngokevin proposes, I could see it ok if most of the users will add an ID to each entity, as this is probably not the case I wouldn't highlight the input by default, but as it will be selected, the user can just press enter and modify its default name.

[2016-07-09 19:33] Coder206 commented on #168
@fernandojsg It looks like it is just the online version that is corrupted. I ran it locally (opened /examples/index.html and it worked great. Still looking into this.

[2016-07-09 20:18] dmarcos commented on #10
are you adding a dialog for the remove component icon? Removing things by mistake and not being able to recover is very frustrating.

[2016-07-09 20:35] fernandojsg commented on #10
@dmarcos yep, I'll add a confirm dialog for the remove and the reset buttons. When we'll have the undo functionality we could remove them.

[2016-07-09 20:47] dmarcos commented on #10
Thinking about it. The reset button is not very useful if the component is collapsed. You won't have the feedback of the property values changing. Many components won't have a visual representation on the entity and you won't see anyrthing happening unless the component is expanded.

[2016-07-09 22:35] fernandojsg commented on #10
But do you think it worth to have two lines of toolbars (one in the title and one below it once the component is expanded) if right now we've just these three options? I was thinking about adding them in the same level, and if we add something more redesign it to fit the new functionality.

[2016-07-09 22:42] fernandojsg commented on #10
Well, in fact I've found a problem with reset/delete component when using mixins. If you've mixin that applies one component, it won't affect anything if you try to reset or delete that component. Probably it should checks the applied mixins to know which components they apply to prevent showing the reset/remove buttons on these components :\

[2016-07-09 22:46] fernandojsg opened #184 "Save state (selected entity, editor camera position)"
Save the state of the editor in localStorage

[2016-07-10 00:03] dmarcos commented on #10
The reset button is also destructive. Do we need also a confirmation dialog?

[2016-07-10 00:07] dmarcos commented on #10
Should we show properties that come from a mixin in a different color in thhe component panel?

[2016-07-10 09:02] fernandojsg opened #186 "Use different color for the default, mixin and user properites"
I was thinking about using subtle differences in the color of the label of each property depending if they're the default value, a custom modified value by the user, or if that value is inherit from a mixin.
Any ideas?

[2016-07-10 09:02] fernandojsg commented on #10
re the reset button I was thinking to add a confirmation dialog too.
re the properties color I've opened another issue https://github.com/aframevr/aframe-editor/issues/186

[2016-07-10 12:58] fernandojsg opened #187 "Unify main.css and dark.css"

[2016-07-10 16:48] dmarcos commented on #186
Colors are fine to tell you there's something different about the property but they're not very useful to remember exactly why. Can you rember the colors used by your IDE to hightlight your code?

I don't knoe if there's a way to also label the properties with text without adding too much clutter

[2016-07-10 17:26] fernandojsg commented on #186
I believe that just for modified values it will be easy to understand and to learn that as soon as you modified one value it will change the color. The problem come with the mixins, because you could maybe add some extra info, an icon, a cursive, whatever but then you could have a mixin inherit value but that you also modified after, so what to do in these cases.

[2016-07-10 17:30] Coder206 commented on #187
@fernandojsg I would like to work on this one.

[2016-07-11 17:50] fernandojsg opened #190 "Multiple components"
Options for showing the name of multiple components on the components list:
- 1 The component name itself
  <img width="924" alt="screenshot 2016-06-29 01 52 54" src="https://cloud.githubusercontent.com/assets/782511/16740645/5403cd60-47a0-11e6-8703-aab2ecd6a657.png">
- 2 COMPONENT_NAME (_InstanceID_)
  <img width="331" alt="screenshot 2016-06-29 01 57 11" src="https://cloud.githubusercontent.com/

[2016-07-11 17:50] fernandojsg commented on #190
I like **4** the most

[2016-07-11 17:52] dmarcos commented on #190
I like **1**. It's simpler, more compact and not redundant. It just shows the component name and its ID as they appear in the element attribute. It gives you all the information you need. Notice that the separator is double underscore `__` instead of underscore `_`.  It also leaves more space for buttons associated to the component.

[2016-07-11 19:49] ngokevin commented on #186
I don't think color is the solution. Something like the Computed Styles would work better, but don't think it's too important for now.

<img width="381" alt="screen shot 2016-07-11 at 12 49 05 pm" src="https://cloud.githubusercontent.com/assets/674727/16744408/e0f87abc-4765-11e6-9910-2877ceef3363.png">

[2016-07-11 22:21] #190 closed, assigned to nobody

[2016-07-11 23:41] #10 closed, assigned to fernandojsg

[2016-07-11 23:52] ngokevin opened #194 "remove href from action buttons like `remove` component"
When I hover over `remove` in the Components panel, Chrome shows the destination URL in the lower-left corner `http://localhost:3333/example/#`

Can fix this by removing `href="#"`.

[2016-07-12 00:08] #182 closed, assigned to nobody

[2016-07-12 00:09] ngokevin commented on #117
done with local toggle

[2016-07-12 00:09] #117 closed, assigned to nobody

[2016-07-12 00:10] ngokevin commented on #110
Alternatively, explicitly call `flushToDOM` for each update that the Editor does. This way, we don't have to check for existence of `debug` component beforehand, and in case we end up adding more properties to `debug`, it doesn't break the Editor.

[2016-07-12 00:12] ngokevin commented on #28
I'd consider moving `Components` into the `Common` group, and then renaming `Common` to reflect that its root-level Entity type of stuff.

[2016-07-12 00:57] fernandojsg commented on #30
Removed the contextmenu in https://github.com/aframevr/aframe-editor/pull/189

[2016-07-12 00:57] #30 closed, assigned to nobody

[2016-07-12 00:58] fernandojsg commented on #23
Fixed in https://github.com/aframevr/aframe-editor/pull/181

[2016-07-12 00:58] #23 closed, assigned to fernandojsg

[2016-07-12 02:19] AnnCaryn commented on #143
This would be AWESOME.

[2016-07-12 02:23] AnnCaryn commented on #153
@dmarcos One thing I don't love about Unity is that it makes me choose things from drop downs more than twice to get what I want.  How could we help the user make the choice that they want faster?

[2016-07-12 15:50] fernandojsg commented on #18
Do you think it is worth to use `contextmenu` now even if it's not yet supported by most of the browsers? Or better to take a look at some custom made react solution?

[2016-07-12 15:53] fernandojsg commented on #31
This should be defined by the component itself right? Add some ìnfo_url`or similar parameter when calling`registerComponent`

[2016-07-12 17:05] fernandojsg commented on #27
Some info: https://blog.codepen.io/documentation/api/prefill/

[2016-07-12 17:26] ngokevin commented on #31
Maybe in the `aframe-components` file where we can place metadata.

For standard components, we can hardcode more or less the docs.

[2016-07-12 19:45] cvan commented on #18
it's been supported by Firefox for, what, 5-6 years now? it'd take not very much time, and Chrome is likely going to support it very soon anyway.

enhancement/good-first-bug issue, we can leave it that way.

[2016-07-13 17:32] #139 closed, assigned to nobody

[2016-07-13 17:36] #187 closed, assigned to nobody

[2016-07-13 17:57] #22 closed, assigned to nobody

[2016-07-13 17:58] fernandojsg opened #202 "Add support to manage multiple scenes in the same page"

[2016-07-13 22:54] fernandojsg commented on #164
Close as we don't have this icon anymore in the scenegraph. It will appear on the selected entity

[2016-07-13 22:54] #164 closed, assigned to nobody

[2016-07-13 23:01] fernandojsg commented on #122
We don't have the footer anymore.

[2016-07-13 23:01] #122 closed, assigned to nobody

[2016-07-14 22:49] #55 closed, assigned to ngokevin

[2016-07-14 22:49] #194 closed, assigned to nobody

[2016-07-14 23:35] fernandojsg opened #206 "Add shortcut for clone entity"
It's very useful that you could press some key while moving objects on the viewport to clone one entity, it will be selected by default so you could move it, press again the shortcut, clone, move again, etc...

[2016-07-14 23:45] fernandojsg opened #207 "Copy&Paste entity"

[2016-07-15 09:37] #36 closed, assigned to nobody

[2016-07-15 12:49] fernandojsg opened #209 "Hide selected boundingbox when object deleted from DOM inspector"

[2016-07-15 13:11] fernandojsg commented on #31
@ngokevin Right now in https://github.com/aframevr/aframe-components we've `components.json` to define third-party components with their js URL, author, doc/reference url.
For core components we won't use that json so I'm thinking if it's better to create another json in that repo just to link the help for the core components, or if, as we'll do this special case just for the core components, it c

[2016-07-15 17:14] ngokevin commented on #31
The standard components link can be hardcoded/determined, they are predictable to link to the A-Frame site.

[2016-07-15 17:50] fernandojsg commented on #31
I'm hardcoding them now on the editor, but just out of curiosity, why all the component's docs have the following url `https://aframe.io/docs/0.2.0/components/{componentName}.html` but it doesn't works for camera that links to `https://aframe.io/docs/0.2.0/components/` -_-

[2016-07-15 18:02] fernandojsg opened #212 "Add help for common/default components"
Re https://github.com/aframevr/aframe-editor/issues/31 I created a PR (https://github.com/aframevr/aframe-editor/pull/211) to add the help link for each core components. In the future we'll need to add that feature to the third party components too.
But right now the default components are shown inside the `common` panel and they don't have link to the doc.

[2016-07-15 18:06] ngokevin commented on #31
I'll create a redirect for those...it's because its the first page alphabetically so we give it index.

[2016-07-15 18:10] fernandojsg commented on #31
Ok, right now I've created a hack for that specific case, I'll remove that once we'll have the new docs: https://github.com/aframevr/aframe-editor/pull/211/files#diff-c6971febeacec907de2b39495b6bc11dR129

[2016-07-16 15:51] cvan opened #213 "Support analytics when Editor is loaded on non-aframe.io sites"
Even `http://localhost:*/http://127.*.*.*:*` analytics, afaict, are not getting recorded. Needs to be designated for a server such as https://aframe.io.

This will require doing creating a hidden `<iframe src="https://aframe.io/ga.html">` and then the parent window (the scene) would `postMessage` to the `<iframe>`'s content window, which would then dispatch the GA/UA events (from the correct domai

[2016-07-16 19:36] ngokevin commented on #213
I have it stood up on a temporary account on my email since I don't have access to our GA, it does record `localhost`.

Will add Potatolytics next week.

[2016-07-16 20:57] dmarcos opened #214 "Remove title bar and reposition actions."
This came out after a conversation with @cvan @caseyyee and @ngokevin. We could get rid of the top menu bar to save space and move the actions closer to the context where they operate. For instance the export button could be somewhere in the scenegraph. We could add small toolbar in the place of the `scenegraph` title and using the space freed by the title bar. To add an entity there could just a

[2016-07-16 21:38] fernandojsg commented on #214
Ok, Keynote UI looks nice and clean indeed. My concerns is that they still have a menu on top of that for many other actions, they just don't have an icon for everything. For example even simple new/open/save you go to the menu. If we get rid of the menu we'll need to find place in the UI for many icons, and if we favour icons+labels or just labels maybe we won't end up saving so much space as we

[2016-07-16 22:05] dmarcos commented on #214
Maybe we will need to put them back but let's try living without them. I feel that those menus on top in most apps are just a hodgepodge consequence of lazy thinking.  The only advantage I see is that people have a place to go to look for an action when they're lost even if the clasification in different options rarely helps. I find myself in sublime chasing for actions I use pretty often: Was it

[2016-07-16 22:10] Coder206 commented on #214
@dmarcos Agreed, however we should still consider some users may instinctively look for the menu option.

[2016-07-16 22:15] fernandojsg commented on #214
@dmarcos yep I agree, but for example sublime text probably it's not a good example as you're a "power" user and you already use tons of shortcuts, this is probably not the kind of lower entry that we'll have in the editor.
I also agree that menu are quite oldschool but you have a common and organised place to look for all the options you can do in your app.
Also we're assuming that we'll have the

[2016-07-16 22:17] dmarcos commented on #214
True but if you don't break a little users old expectations it's hard to explore and try to find better ways. We are stuck in the past. Anyways, getting read of those menus is not that radical. In mobile (phone and tablets) you usually don't have them. Now that we don't have many actions we can go and find a better place for each of them. If we feel the need of those menus it could be an indicatio

[2016-07-16 22:30] fernandojsg commented on #214
Yep I agree, also regarding the In VR editor as a separate tool (that of course you could inspect with the "2d" editor too :wink:)

[2016-07-16 22:31] fernandojsg commented on #214
Btw right now we've the filter box in the scenegraph, what do you think about making it smaller and add the options to the right of the scenegraph? Or create another toolbar below or over the filter?

[2016-07-16 22:38] dmarcos commented on #214
I personally like big fat search boxes. Another toolbar sounds better to me.

[2016-07-16 22:39] dmarcos opened #215 "Rename aframe editor to aframe inspector"
To better convey the scope similar to DOM inspector

[2016-07-16 23:07] fernandojsg commented on #214
Quick draft
<img width="1436" alt="screenshot 2016-07-17 01 04 22" src="https://cloud.githubusercontent.com/assets/782511/16897739/83a9e6a8-4bba-11e6-9ddd-7ed6f2b98fe2.png">

[2016-07-16 23:26] dmarcos commented on #214
We can maybe get rid of the scenegraph/components titiles and rename `common` to `a-entity` or whatever tag. That way when you click on the scenegraph you will see your selection matched on the right. We have to also differentiate visually the common panel from the list of components

[2016-07-16 23:32] dmarcos commented on #214
Instead of the floppy disk we could use a share icon
![share icon](https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-share-128.png).
It can give you options to save to the clipboard, create a code pen or other hosting services.

[2016-07-17 01:28] Coder206 commented on #214
Those are some good ideas! I was wondering what was there reasoning behind the naming of the "Exit" button in the upper right hand corner (in white with red background)

[2016-07-17 06:23] dmarcos commented on #214
The exit button is located in the same position than the edit button when the scene is running/playing. It allows you to go back and forth between edit and view modes. In edit mode al the dynamic behavior is paused. `Play Scene` might be better than `Exit`

[2016-07-17 06:26] dmarcos commented on #214
We can use the icons for the components used in the scene-graph in the component titles as well. To reinforce the link between them

[2016-07-17 09:19] Coder206 commented on #214
@dmarcos Yes "Play scene" is definitely better here.

[2016-07-17 22:38] fernandojsg commented on #214
I'm thinking about adding a toolbar to the components sidebar similar to the one that I've added on the scenegraph.
I would prefer to leave the `common` title as is, because that panel is about common components for the entity but it's not the "the entity itself" the whole entity is composed by the common and its custom components, so better to have the `a-entity` heading on top. Also having the a

[2016-07-18 06:56] dmarcos commented on #214
The common word does not give much info. An entity is rotation, position, scale, mixins, visible and a list of components. If you move the tag name to the top it conveys that everything underneath makes part of it I would just visually diferentiate the commons section from the list of components so they are not mixed.

[2016-07-18 06:58] dmarcos commented on #214
Where are we relocating the exit button?

[2016-07-18 10:04] fernandojsg commented on #214
Yep we need to make a different style for common, add component, and components themselves. We've some designs from Dennis about that. I'll add them another issue.
Regarding the exit button, I'm not sure where to locate it, at first I thought the best place was a corner but now we don't have free space, at least on the top, in the botton we could have if we add some kind of bar to one of the sideb

[2016-07-18 10:33] Coder206 commented on #214
@fernandojsg Maybe there could be a side bar tabbed with the scenegraph for running the apps with a play and stop scene?

[2016-07-18 10:37] fernandojsg commented on #214
@Coder206 can you make a mockup or draft in paper? I don't really understand what you mean with `for running the apps` and where to place it

[2016-07-18 10:38] Coder206 commented on #214
And performance information in this tabbed area

[2016-07-18 10:50] fernandojsg commented on #214
I believe `play scene/exit` button should be always accesible and visible and it should match the same position as the `edit scene` when the scene is playing.

[2016-07-18 11:24] Coder206 commented on #214
@fernandojsg Ok sure! I agree, the button is an essential part of the UX and should be always accessible. Are your images above mockups in code?

[2016-07-18 23:01] fernandojsg opened #216 "Script for release"

[2016-07-18 23:16] #180 closed, assigned to fernandojsg

[2016-07-19 11:24] Coder206 commented on #214
I did some drawings and without finishing them, I realized that my idea would simply be impractical. I was thinking of having the preview button in a hidden window can be accessible by a tab much like a browser tab would allow. I then thought how annoying this would be to access and not to mention you want to keep the button for starting and stopping the preview in a consistent position, so I thin

[2016-07-19 18:00] fernandojsg opened #217 "Reposition and rename "edit/exit" button"
From the discussion in https://github.com/aframevr/aframe-editor/issues/214 we're removing the menubar so we need to move the `edit/exit` button too.
I was thinking about changing the name to `Edit scene/Play scene` and to put the button at the botton centered horizontally.

Something like this:
<img width="1440" alt="screenshot 2016-07-19 19 58 05" src="https://cloud.githubusercontent.com/assets/

[2016-07-19 18:00] fernandojsg commented on #214
I've moved the "editor button" to another issue: https://github.com/aframevr/aframe-editor/issues/217

[2016-07-19 21:39] fernandojsg commented on #217
<img width="1433" alt="screenshot 2016-07-19 23 36 34" src="https://cloud.githubusercontent.com/assets/782511/16967533/acc3e89e-4e09-11e6-910e-80f89f482d56.png">
<img width="1430" alt="screenshot 2016-07-19 23 36 22" src="https://cloud.githubusercontent.com/assets/782511/16967534/acca6aac-4e09-11e6-951a-9f2273003790.png">
@dmarcos Following the discussion from https://github.com/aframevr/aframe-ed

[2016-07-19 21:39] fernandojsg commented on #217
Don't know if maybe we should make some special style for the play button?
<img width="179" alt="screenshot 2016-07-19 23 38 14" src="https://cloud.githubusercontent.com/assets/782511/16967598/fe031a72-4e09-11e6-8e5c-60d16bc915e7.png">

[2016-07-19 22:11] ngokevin commented on #217
It's a pretty important button. So maybe just `[Back to Scene]` in red?

[2016-07-19 22:42] fernandojsg commented on #217
@ngokevin a text button similar to the `Edit scene` on the top of the toolbar icons?

[2016-07-19 22:49] ngokevin commented on #217
Where you had the Play button at https://github.com/aframevr/aframe-editor/issues/217#issuecomment-233774674

[2016-07-19 22:57] fernandojsg commented on #217
Yep but I mean that if we put "Back to scene" the rest of the icons won't fit there, so move them below right?

[2016-07-19 23:04] fernandojsg commented on #217
Maybe so big? :D
<img width="1436" alt="screenshot 2016-07-20 01 03 32" src="https://cloud.githubusercontent.com/assets/782511/16969549/e073e002-4e15-11e6-8bee-511e5b490866.png">

[2016-07-19 23:07] ngokevin commented on #217
I was thinking inline with the other icons at 33-50% of that space

[2016-07-19 23:10] dmarcos commented on #217
Yeah we can add just a play icon next to those already in the toolbar

[2016-07-19 23:13] fernandojsg commented on #217
@dmarcos but what's the difference from my previous mockups? (eg https://github.com/aframevr/aframe-editor/issues/217#issuecomment-233774674)
@ngokevin something like this?
<img width="177" alt="screenshot 2016-07-20 01 12 45" src="https://cloud.githubusercontent.com/assets/782511/16969706/32974c42-4e17-11e6-8fa7-e4b6301eeb39.png">

[2016-07-19 23:15] dmarcos commented on #217
What about just a fucsia play icon?

[2016-07-19 23:15] dmarcos commented on #217
![play](https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-play-128.png)

[2016-07-19 23:16] dmarcos commented on #217
We can also wire the `escape` key to play / go back to the scene.

[2016-07-19 23:17] fernandojsg commented on #217
@dmarcos like this?
<img width="179" alt="screenshot 2016-07-20 01 16 39" src="https://cloud.githubusercontent.com/assets/782511/16969771/a2c172b8-4e17-11e6-8888-7ba93b5d003f.png">
re `escape` yep that would be great

[2016-07-19 23:17] ngokevin commented on #217
I think "Back to Scene" is more clear, I might not understand the action of "playing the scene" as exiting the Editor and that gets even harder to understand by repping it as an icon.

[2016-07-19 23:18] dmarcos commented on #217
It looks weird to use a combination of icons and text based buttons.

[2016-07-19 23:18] dmarcos commented on #217
It should be one or the other

[2016-07-19 23:20] ngokevin commented on #217
maybe, but it's not forbidden. i think the text differentiates/highlights it as a more important action than its immediate neighbors

[2016-07-19 23:21] dmarcos commented on #217
Well, the screenshot above does not look very consistent or aesthetically pleasant.

[2016-07-19 23:22] dmarcos commented on #217
I actually prefer the button above the toolbar if we're going to go down that route.

[2016-07-19 23:23] fernandojsg commented on #217
And what about adding it to the bottom left of the screen? so we could just add text `Back to scene` and leave the toolbar for scenegraph as we've right now just with icons

[2016-07-19 23:25] dmarcos commented on #217
bottom left could be an option but it takes vertical space to see more of the scene graph.

[2016-07-19 23:29] fernandojsg commented on #217
@dmarcos if we go for that one, it will take the same space in the top or at the bottom.
I prefer having icons for the actions, it will save plenty of space, but it's true that `back to scene` is probably the main action around so it should be quite easy to find, and just an icon with different color doesn't seems to mean anything special.

[2016-07-20 14:05] fernandojsg commented on #217
re https://github.com/aframevr/aframe-editor/issues/215 for the sake of completeness `s/Edit scene/Inspect scene`?

[2016-07-20 16:38] ngokevin commented on #217
Yeah. I would cap case `Inspect Scene`.

[2016-07-20 20:57] fernandojsg commented on #217
Ok, I think this is the way I like the most, even if the `Inspect Scene` button size maybe is so big but I believe it looks better that way to fit the `Back to Scene`:
<img width="1430" alt="screenshot 2016-07-20 22 56 40" src="https://cloud.githubusercontent.com/assets/782511/17002782/42427b2e-4ecd-11e6-9b4a-695adb96206d.png">
<img width="1440" alt="screenshot 2016-07-20 22 56 26" src="https://cl

[2016-07-20 21:25] fernandojsg commented on #215
Done! Let's update your remotes!

[2016-07-20 21:25] #215 closed, assigned to nobody

[2016-07-20 21:27] ngokevin commented on #215
![](http://vignette3.wikia.nocookie.net/deathbattlefanon/images/f/f4/Inspector_Gadget.png/revision/latest?cb=20150307202754)

[2016-07-20 21:28] fernandojsg commented on #215
LOL

[2016-07-21 01:21] dmarcos opened #223 "Capitalize first letter of component property label"
Now they are all lowercase

[2016-07-21 01:22] dmarcos opened #224 "Increase typeface size and padding space"
To make click targets bigger. Look for example the mixins panel. It's hard to manipulate.

[2016-07-21 18:41] dmarcos opened #225 "Differentiate systems from components in a-scene"
Some of the attributes of `a-scene` can be now either systems or components. We have to differentiate them in the entity panel on the right.

[2016-07-21 22:50] #31 closed, assigned to fernandojsg

[2016-07-22 05:32] dmarcos opened #227 "When there's vertical scroll bar on the scenegraph and I exit the editor the bar remains"
It happened in chrome. See below:

![scroll](https://s3.amazonaws.com/f.cl.ly/items/2M1T0s150t09431S3r27/Image%202016-07-21%20at%2010.29.48%20PM.png?v=af1ceed5)

[2016-07-24 19:08] fernandojsg opened #228 "Add dropdown menu to select entity presets while adding a new entity"

[2016-08-02 11:53] fernandojsg commented on #217
Closed by https://github.com/aframevr/aframe-inspector/pull/221

[2016-08-02 11:53] #217 closed, assigned to fernandojsg

[2016-08-02 12:05] fernandojsg commented on #178
Closed by the latest changes in the header style while removing the menubar (https://github.com/aframevr/aframe-inspector/pull/221)

[2016-08-02 12:05] #178 closed, assigned to fernandojsg

[2016-08-02 12:06] fernandojsg commented on #214
Closed by the latest changes in the header style while removing the menubar (https://github.com/aframevr/aframe-inspector/pull/221)

[2016-08-02 12:06] #214 closed, assigned to fernandojsg

[2016-08-02 12:07] fernandojsg commented on #13
Closing as we got rid of the menu (https://github.com/aframevr/aframe-inspector/pull/221)

[2016-08-02 12:07] #13 closed, assigned to nobody

[2016-08-02 12:07] fernandojsg commented on #15
Close as we removed the menubar and moved the + icon to the scenegraph

[2016-08-02 12:07] #15 closed, assigned to nobody

[2016-08-02 12:11] fernandojsg commented on #40
We've moved it finally to the scenegraph.

[2016-08-02 12:11] #40 closed, assigned to nobody

[2016-08-02 16:34] fernandojsg commented on #223
Actually I prefer lowercase to match the exact property name as you'll find in the HTML or in the code.

[2016-08-02 16:36] fernandojsg commented on #225
How can I know if a system could be added to an entity? Every system could be added by default to an entity?

[2016-08-02 16:54] dmarcos commented on #225
Systems cannot be added to any entity. components can come with a system that expose an API on the `a-scene` element

[2016-08-02 16:56] fernandojsg commented on #225
Do we have any example of one component like that in the core?

[2016-08-02 17:05] Coder206 commented on #160
@cvan I would like to work on this.

[2016-08-02 17:06] Coder206 commented on #168
@fernandojsg I don't think this is an issue any more. It seems that it was solved recently. Can we close it?

[2016-08-02 17:07] fernandojsg commented on #160
@Coder206 cool. Please note that there're other two issues related to this one, if you could work on them it will be great too:
https://github.com/aframevr/aframe-inspector/issues/136
https://github.com/aframevr/aframe-inspector/issues/132

[2016-08-02 17:09] fernandojsg commented on #168
@Coder206 I just tried on chrome 51 osx and it still there :\ In which browser are you trying?
<img width="687" alt="screenshot 2016-08-02 19 08 55" src="https://cloud.githubusercontent.com/assets/782511/17337776/937dfef2-58e4-11e6-87be-722cd2f652b2.png">

[2016-08-02 17:10] Coder206 commented on #168
@fernandojsg FireFox 47.0.1 on Fedora:

[2016-08-02 17:11] Coder206 commented on #168
![screenshot from 2016-08-02 13-11-21](https://cloud.githubusercontent.com/assets/7758155/17337873/a59b3f46-58b2-11e6-901e-ab76fa06da9c.png)

[2016-08-02 17:12] fernandojsg commented on #168
Yep, on firefox on osx it seems to works right too. So it looks like a problem with chrome, could you try it on fedora?

[2016-08-02 17:12] Coder206 commented on #168
@fernandojsg On it.

[2016-08-02 17:16] Coder206 commented on #168
@fernandojsg Make that Windows 10 FireFox 47.0.1 and 48.0 both work (I just updated). It seems to be Chrome specific as Version 52.0.2743.82 (64-bit) on Fedora 24 is not working like your screen shot shows.

[2016-08-02 17:16] Coder206 commented on #168
@fernandojsg Do you mind testing it on Safari as I do not have a Mac to try it out there?

[2016-08-02 17:18] fernandojsg commented on #168
@Coder206 safari shows it correctly aligned.

[2016-08-02 17:19] Coder206 commented on #168
@fernandojsg Thanks, so this is a Chrome specific issue.

[2016-08-02 17:22] fernandojsg commented on #168
We've a slack: https://aframevr-slack.herokuapp.com/

[2016-08-02 17:25] Coder206 commented on #168
@fernandojsg Thanks!

[2016-08-02 17:27] Coder206 commented on #168
@fernandojsg Chrome seems to be complaining about use of XMLHttpRequest in "aframe-inspector.js" code (line 24).

Error message:

"Synchronous XMLHttpRequest" on the main thread is deprecated because of its detrimental effects on the user's experience. For more help, check https://xhr.spec.whatwg.org/."

This error is not visible on FireFox 48.0

[2016-08-02 17:34] Coder206 commented on #168
This code is throwing an error:

e.open("GET", "https://raw.githubusercontent.com/aframevr/aframe-components/master/components.json", !1),

[2016-08-02 19:27] fernandojsg commented on #168
Yes, but that's just a warning and we'll remove the feature that uses that (third-party components) until next version. I don't think the CSS error is related to this, maybe we could just open another issue with this warning to take care of this in the future.

[2016-08-02 20:09] Coder206 commented on #168
@fernandojsg That makes sense.

[2016-08-02 20:14] Coder206 commented on #168
@fernandojsg It appears as though when running the example code locally it works well. See below:

![screenshot from 2016-08-02 16-15-47](https://cloud.githubusercontent.com/assets/7758155/17343580/676c6d84-58cc-11e6-83a6-655a7e51cf16.png)

[2016-08-02 20:19] fernandojsg commented on #168
@Coder206 I don't see the icon in the screenshot, is cropped

[2016-08-02 20:20] Coder206 commented on #168
@fernandojsg Try refreshing the page, sorry.

[2016-08-02 20:20] Coder206 commented on #168
(I updated the comment)

[2016-08-02 20:50] Coder206 commented on #168
@fernandojsg I isolated the CSS code that made the error. There was a "display:block;" in the element.style of the affected button. I am tracing back the code to a file now.

[2016-08-02 20:52] Coder206 commented on #168
@fernandojsg I think it's this line causing the issue: https://github.com/aframevr/aframe/blob/master/src/style/aframe.css#L206

[2016-08-02 20:53] ngokevin commented on #168
@Coder206 Thanks for the investigation. Though the latest version of A-Frame has removed that modal/tooltip (at least for now).

[2016-08-02 20:54] Coder206 commented on #168
@ngokevin Oh ok. My pleasure, it was an interesting hunt with @fernandojsg! :) Thanks.

[2016-08-02 21:00] Coder206 opened #231 "Google Chrome (52) Scenegraph Scrollbar Visible in Preview Mode When Zoomed"
When visiting https://aframe.io/aframe-inspector/example at 250% zoom, notice the scrollbar (in [1]) that does not hide in the preview mode (in [2]):

1
![screenshot from 2016-08-02 16-57-35](https://cloud.githubusercontent.com/assets/7758155/17345126/9aca2bfc-58d2-11e6-8c29-c4d714d24fe1.png)

2
![screenshot from 2016-08-02 16-57-53](https://cloud.githubusercontent.com/assets/7758155/17345134/a0f5

[2016-08-02 21:03] dmarcos commented on #231
This is a dup of https://github.com/aframevr/aframe-inspector/issues/227

[2016-08-02 21:03] #231 closed, assigned to nobody

[2016-08-02 21:04] Coder206 commented on #231
@dmarcos Oops sorry! I tried searching for it but GitHub never yields good results...

[2016-08-02 21:07] dmarcos commented on #231
no prob. this happens all the time. I sometimes report myself the same bug twice

[2016-08-02 21:07] Coder206 commented on #160
@fernandojsg Absolutely! :)

[2016-08-02 22:37] #212 closed, assigned to nobody

[2016-08-03 01:24] dmarcos opened #234 "Components panel does not update properly"
1. When switching selected entities. I'm switching from an entity that has a geometry and a material to a light entity that doesn't have them. The geometry and material components still show in the panel ![switching](https://d3vv6lp55qjaqc.cloudfront.net/items/1u0M1p201g2L3q2O3K2c/Screen%20Recording%202016-08-02%20at%2006.18.18%20PM.gif?v=f47050f7)
2. If a an entity is selected and I click somewhe

[2016-08-03 13:49] fernandojsg commented on #234
I've just tried on `master` and seems to works correctly :\ both on chrome and firefox on osx.
![deselect](https://cloud.githubusercontent.com/assets/782511/17367721/6f374726-5991-11e6-9681-e1d9ab43a2de.gif)
![updatepanel](https://cloud.githubusercontent.com/assets/782511/17367722/6f4c757e-5991-11e6-9165-cb73b25230f9.gif)
I'll try later on windows to see if it's some problem with chrome on windows

[2016-08-03 14:26] fernandojsg commented on #234
I've just tried on windows both on chrome and firefox and it's working correctly. Could you please check if you're on master and flush the cache?
(Btw which software do you use to record gifs on windows? :))

[2016-08-03 14:56] fernandojsg opened #235 "Previous selectbox active when clicking a helper"
If you've selected a geometry like an sphere you'll see the blue selection box around it, if after that you click a helper (light, camera, and so on) the previous selection box will remains visible.

[2016-08-03 16:00] #168 closed, assigned to nobody

[2016-08-03 17:16] fernandojsg opened #237 "Inject inspector in AFRAME.inspector instead of windows"

[2016-08-03 18:23] Coder206 commented on #160
I don't see dark.css in the master branch. How do I proceed to make a PR?

[2016-08-03 19:51] fernandojsg commented on #237
Fixed by https://github.com/aframevr/aframe-inspector/pull/239

[2016-08-03 19:51] #237 closed, assigned to nobody

[2016-08-03 19:59] fernandojsg commented on #160
@Coder206 dark.css styles were inserted on main.css, so we've just one CSS right now. Feel free to check it there

[2016-08-03 20:02] Coder206 commented on #160
@fernandojsg Thanks!

[2016-08-03 22:37] fernandojsg opened #242 "Get rid of MutationObserver and use aframe events instead"
We need a remove entity event from Aframe

[2016-08-03 22:38] #209 closed, assigned to nobody

[2016-08-03 22:48] fernandojsg commented on #85
I believe this is related to https://github.com/aframevr/aframe/issues/1685

[2016-08-03 22:54] dmarcos opened #243 "Back to Scene button overlaps the scroll bar (Firefox / Windows)"
The close button overlaps the scroll bar of the scene panel. ![scroll](https://d3vv6lp55qjaqc.cloudfront.net/items/0d3C43400f2B3R0H3o1j/Image%202016-08-03%20at%203.53.18%20PM.png?v=237c5a98)

[2016-08-03 22:55] dmarcos commented on #243
I'm editing the anime-ui scene.

[2016-08-03 23:24] fernandojsg opened #245 "Scroll in scenegraph should ignore the edit button and the toolbar"
<img width="199" alt="screenshot 2016-08-04 01 23 13" src="https://cloud.githubusercontent.com/assets/782511/17385296/0b6de8ac-59e2-11e6-9bc7-2ad9e74e6c49.png">

[2016-08-03 23:24] dmarcos commented on #85
I don't think is related. aframevr/aframe#1685 refers to the rotation reset when exiting VR mode. The editor is not affected.

[2016-08-03 23:26] fernandojsg commented on #243
Yes, the scrollbar doesn't suppose to be that way the edit button and the toolbar should be fixed and the scroll should just affect the entitylist.
I've added another issue to fix that (https://github.com/aframevr/aframe-inspector/issues/245)

[2016-08-03 23:27] fernandojsg commented on #85
Ok thanks, so I'll take a look

[2016-08-04 00:04] fernandojsg commented on #235
Fixed on https://github.com/aframevr/aframe-inspector/pull/236

[2016-08-04 00:04] #235 closed, assigned to nobody

[2016-08-04 00:08] fernandojsg commented on #12
We don't have menus anymore

[2016-08-04 00:08] #12 closed, assigned to nobody

[2016-08-04 13:04] fernandojsg opened #247 "Add a "Clear filter" icon in the scenegraph filter textbox"

[2016-08-04 14:50] #243 closed, assigned to nobody

[2016-08-04 14:51] fernandojsg commented on #245
Fixed by https://github.com/aframevr/aframe-inspector/pull/246

[2016-08-04 14:51] #245 closed, assigned to nobody

[2016-08-04 15:17] fernandojsg commented on #165
I've already implemented this feature but didn't apply a PR yet because we need to decide how to deal with the toolbar.
Right now the toolbar has absolute position next to the sidebar, so if we just hide the sidebar, it will looks like:
<img width="1435" alt="screenshot 2016-08-04 17 12 16" src="https://cloud.githubusercontent.com/assets/782511/17407277/eb4553aa-5a66-11e6-8406-b270961e72f4.png">

[2016-08-04 16:07] dmarcos commented on #165
I would align to the right so it's consistent when the component panel is shown

[2016-08-08 22:44] ngokevin opened #249 "Inspector trying to load assets when used in real scenes"
Inspecting a scene via bookmarklet. Trying to load random assets:

<img width="533" alt="screen shot 2016-08-08 at 3 43 26 pm" src="https://cloud.githubusercontent.com/assets/674727/17498887/e9b732e0-5d7e-11e6-8f17-939dd20ce3e7.png">

[2016-08-08 22:45] ngokevin opened #250 "Does not work when including as a script tag in the HTML"
Tried adding:

[code]

The camera and helpers showed up, but not the panels.

[2016-08-08 22:48] ngokevin commented on #250
Must have been an older build.

[2016-08-08 22:48] #250 closed, assigned to nobody

[2016-08-08 23:04] #56 closed, assigned to nobody

[2016-08-10 17:31] ngokevin opened #253 "Listen to `componentchanged` event on individual entities rather than on `document`"
I'd like to stop bubbling of the `componentchanged` event as it's better if you're developing and theoretically more performant as components are constantly changing. https://github.com/aframevr/aframe/pull/1758

It was reverted since Inspector relies on bubbling. But we can update it so it doesn't:
- SceneGraph uses it to show the icons. Instead have the Component Panel communicate to the SceneGr

[2016-08-10 17:33] dmarcos commented on #253
We could have a method `on` in the entities to do: `entityEl.on('componentchanged', function() { ... }`
The `on` method will listen only to the entity. We can let the events bubble up when using `addEventListener`

[2016-08-10 17:36] ngokevin commented on #253
Could. Although, since the intent is to have trigger updates when the component panels are changed, it makes more sense to have the component panels dispatch events. I see this as being more robust that the Inspector only updates when you interact with it rather than rogue JS being able to trigger these.

[2016-08-10 17:44] fernandojsg commented on #253
I agree that we should make a more clear event path within the components in the inspector.
The problem is how to deal with any change in the DOM, not just directly from the inspector itself. Let's say you modify some DOM on devtools, console, code, should we listen for mutations on the DOM and attach the listener for each entity and its children?

[2016-08-10 17:59] ngokevin commented on #253
I'm not worried about devtools (which Inspector is supposed to replace) and code (which should be paused). I wouldn't want the Inspector UI automatically fluctuating without user action.

It wouldn't be terrible if we didn't support syncing to changes from console. If a user is changing a component property, they could have just as well used the Inspector. The scene will still update also.

Can we

[2016-08-10 18:11] dmarcos commented on #253
We're going to probably have a also a play button within the editor. Also a VR mode where entities will be changed outside of the inspector UI.

[2016-08-10 18:21] fernandojsg commented on #253
Right now we're using  `MutationObserver` to detect changes on the DOM (Although we're going to remove this in the future https://github.com/aframevr/aframe-inspector/issues/242), so it won't be a problem to detect changes on the scenegraph using that until we'll find a better solution.
I could just listen for `componentchanged` on the selected entity that shows up on the Component Panel.
I also b

[2016-08-10 18:24] ngokevin commented on #253
Alright, could listen to `componentchanged` on the selected entity since that's the easiest way now.

Later on, even for VR mode, we'll want an action dispatching system (e.g., Redux) rather than relying on events. This will make every user change a modification to a state machine, which would allow us to do `undo/redo`, and these dispatched actions would propagate through both the VR UI and the I

[2016-08-10 20:04] fernandojsg commented on #253
Just changed it so we don't need to bubble up the event. So you could reapply the issue on aframe  once we merged that PR.

[2016-08-10 20:37] ngokevin commented on #253
Thanks!

[2016-08-10 23:08] #253 closed, assigned to nobody

[2016-08-11 20:04] dmarcos opened #255 "Uncaught TypeError: Cannot read property 'toLowerCase' of undefined"
With `a-frame` master. Open the anime-ui scene and click on the `a-collada-model` entity. I see the error above.

[2016-08-11 20:17] dmarcos opened #256 "Uncaught TypeError: Cannot read property 'getNativeNode' of null"
With a-frame master. Click on `a-collada-model` and then in another entity. Click back on `a-collada-model` and click on the scene view. ![error](https://d3vv6lp55qjaqc.cloudfront.net/items/0C0R033s0o3j1O3B060W/Screen%20Recording%202016-08-11%20at%2001.15.55%20PM.gif?v=bb05ac58)

[2016-08-11 20:22] dmarcos opened #257 "The inspector is somewhere doing `stopPropagation` and capturing all the `keyDown` events"
AFrame cannot capture `ctrl-alt-e` to close the editor

[2016-08-12 00:11] fernandojsg commented on #255
@dmarcos can you give it a try on master? I've just tried and it seems to be solved with the latests PRs
![selectcollada1](https://cloud.githubusercontent.com/assets/782511/17609093/0b08f0d6-6032-11e6-88cf-657f2abbc8ea.gif)

[2016-08-12 00:12] fernandojsg commented on #256
@dmarcos it seems to be solved too, can you give it a try?
![selectcollada2](https://cloud.githubusercontent.com/assets/782511/17609109/35295efa-6032-11e6-8f34-d0bed79eba35.gif)

[2016-08-12 00:27] #216 closed, assigned to ngokevin

[2016-08-12 01:27] cvan commented on #10
I just wanted to say, nice work on this 👍 thanks for fixing this

[2016-08-12 01:28] cvan opened #259 ""local" checkbox label is ambiguous"
![image](https://cloud.githubusercontent.com/assets/203725/17610279/53628766-5ff1-11e6-8838-56662913a341.png)

[2016-08-12 01:29] cvan opened #260 "Fix phrasing of confirmation prompt for deleting an entity"
![image](https://cloud.githubusercontent.com/assets/203725/17610307/98f10cda-5ff1-11e6-9e58-706baee2ef61.png)

[2016-08-12 01:42] cvan opened #262 "Entity clone icon is ambiguous"
![image](https://cloud.githubusercontent.com/assets/203725/17610340/f0e670c4-5ff1-11e6-878c-49d7721350ed.png)

[2016-08-12 01:45] cvan opened #263 "Scene saved with `.txt` (not `.html`) extension"
![image](https://cloud.githubusercontent.com/assets/203725/17610522/b5ecef8c-5ff3-11e6-9d8b-d1e6c75c16e0.png)

[2016-08-12 01:47] cvan opened #264 ""Save" (Download HTML) action is misleading - use different icon?"
I expected the icon of the floppy disk to save my scene. Instead, it downloaded the exported HTML of my scene.

![image](https://cloud.githubusercontent.com/assets/203725/17610522/b5ecef8c-5ff3-11e6-9d8b-d1e6c75c16e0.png)

[2016-08-12 01:57] cvan opened #265 "Consider making scenegraph actions larger"
Suggested changes:
- Add descriptive text to each
- Have each action be on its own line

This is what the action icons look like now:

![image](https://cloud.githubusercontent.com/assets/203725/17610522/b5ecef8c-5ff3-11e6-9d8b-d1e6c75c16e0.png)

I'd suggest some treatment like this:

![image](https://cloud.githubusercontent.com/assets/203725/17610694/690573ea-5ff5-11e6-93ef-be0e2edc275a.png)

[2016-08-12 01:58] cvan commented on #265
You could even abbreviate the copy:
- Copy to clipboard
- Download HTML
- Insert

[2016-08-12 01:59] cvan commented on #265
Also, the "clipboard" icon looks like two sheets of paper to me. I know it's fontawesome's, but it just doesn't look like "copy to clipboard" to me.

[2016-08-12 02:01] cvan commented on #108
Isn't this fixed?

[2016-08-12 02:01] cvan commented on #108
Oh, nevermind it's not. For cloning only.

[2016-08-12 02:03] cvan commented on #166
I proposed a solution here in https://github.com/aframevr/aframe-inspector/issues/265#issue-170785084:

(And use this copy instead:)
- `Copy to clipboard`
- `Download HTML`
- `Insert`

![image](https://cloud.githubusercontent.com/assets/203725/17610694/690573ea-5ff5-11e6-93ef-be0e2edc275a.png)

You can keep whichever issue open you'd like.

[2016-08-12 02:03] cvan commented on #37
Stealing from [this](https://chrisbracco.com/a-simple-css-tooltip/), I got some simple tooltips that take the `title` for the icons and show them on hover:

[code]

[2016-08-12 08:58] #260 closed, assigned to nobody

[2016-08-12 13:10] #263 closed, assigned to nobody

[2016-08-12 16:11] fernandojsg opened #266 "Add tagName for every entity in scenegraph"
This will reinforce the relation between the DOM and the scenegraph, but I'm not sure about the size it could get. I believe it's not common to have very long names for ID, but still..
We could define a `max-width` for the sidebar both the ID or the components icons could be truncated using `text-overflow: ellipsis` or similar.
What do you think?
<img width="1419" alt="screen shot 2016-08-12 at 18

[2016-08-12 16:12] fernandojsg commented on #264
@cvan what do you think about using a `download` icon instead? Something like http://fontawesome.io/icon/download/

[2016-08-12 16:19] fernandojsg commented on #257
I'm looking around and I've just found that I do stop propagation on the scenegraph but just for arrow cursors up and down :\

[code]

[2016-08-12 16:55] fernandojsg commented on #249
Yes, I'll remove the texture dialog for 0.3.0, and we'll fix it and include it again for 0.4.0

[2016-08-12 18:06] fernandojsg opened #268 "Update boundingbox on hierarchies"
If we've an entity that has two geometries, the selection box for that entity should be the boundingbox that wraps these geometries.

[2016-08-12 18:11] fernandojsg opened #270 "Allow uniform scale in the scale widget"

[2016-08-12 18:19] fernandojsg opened #271 "Bounding "box" on planes"
It should be another plane on top of the plane geometry, but right now it doesn't show up

[2016-08-12 21:15] fernandojsg commented on #110
Closed by https://github.com/aframevr/aframe-inspector/issues/110

[2016-08-12 21:15] #110 closed, assigned to nobody

[2016-08-12 21:16] fernandojsg commented on #112
Closed as @ngokevin stated

[2016-08-12 21:16] #112 closed, assigned to nobody

[2016-08-12 21:17] fernandojsg commented on #64
Closed as it's already explained on the readme

[2016-08-12 21:17] #64 closed, assigned to nobody

[2016-08-15 21:08] dmarcos opened #273 "Inspector does not honor background color"
Open / Close the inspector with animation test. The white background is replaced with a white one.

[2016-08-15 21:09] cvan commented on #264
yep, I think that one works well

[2016-08-15 21:11] dmarcos opened #274 "Camera position is not honored"
Open / Close the inspector with the composite example (no entities modified). This is before opening:

![Before](https://d3vv6lp55qjaqc.cloudfront.net/items/2W2a3z1J2Q453Z1J3q31/Image%202016-08-15%20at%202.10.05%20PM.png?v=0506e248)

This is after closing the inspector:

![After](https://d3vv6lp55qjaqc.cloudfront.net/items/1C0O1C1D2d2z0D432S1o/Image%202016-08-15%20at%202.11.13%20PM.png?v=40d47560)

[2016-08-15 21:15] dmarcos opened #275 "The inspector does not work with embedded scenes"
Load the wikipedia example. This is what I see:

![wilkipedia](https://d3vv6lp55qjaqc.cloudfront.net/items/1R2h1O0U3Q1U1U0W2T0H/Image%202016-08-15%20at%202.14.57%20PM.png?v=3df4fa31)

[2016-08-15 23:26] #249 closed, assigned to nobody

[2016-08-16 14:00] #264 closed, assigned to nobody

[2016-08-16 19:14] dmarcos opened #276 "Cheat sheet panel to show the available shortcuts"

[2016-08-16 19:38] fernandojsg opened #278 "Remove editor camera listener when exiting inspector"

[2016-08-16 19:48] ngokevin opened #279 "Consider AFRAME.inspector vs AFRAME.INSPECTOR"
To indicate project namespace.

[2016-08-16 20:00] fernandojsg commented on #279
Yep, that's a good point. I'll do just a commit as it's just one line `s/inspector/INSPECTOR`.
@dmarcos It should be changed also here https://github.com/aframevr/aframe/pull/1599

[2016-08-16 20:02] #279 closed, assigned to nobody

[2016-08-16 20:05] fernandojsg commented on #257
Closing this one, as the problem it comes from removing the keydown listener when the component is paused, and when the editor is running the whole scene is paused.

[2016-08-16 20:05] #257 closed, assigned to nobody

[2016-08-16 20:25] #273 closed, assigned to nobody

[2016-08-16 21:15] fernandojsg opened #281 "Add animation on panel show/hide"

[2016-08-16 21:16] #165 closed, assigned to nobody

[2016-08-16 21:16] #274 closed, assigned to nobody

[2016-08-16 21:27] fernandojsg commented on #255
I'm closing it as I can't reproduce it anymore with the latest changes

[2016-08-16 21:27] #255 closed, assigned to nobody

[2016-08-16 21:27] fernandojsg commented on #256
I'm closing it as I can't reproduce it anymore with the latest changes

[2016-08-16 21:27] #256 closed, assigned to nobody

[2016-08-16 21:38] fernandojsg opened #282 "Style selectbox and checkbox"

[2016-08-17 08:52] fernandojsg opened #284 "Create a new camera helper"
Add a camera helper that looks like a camera or a headset.

[2016-08-17 11:00] cvan opened #285 "Publish site on https://react.rocks/ (when ready)"
It's a cool repository of React apps that rock (and ours does).

[2016-08-17 11:01] cvan opened #286 "Create an alias `npm run deploy` for `npm run ghpages`"

[2016-08-17 14:46] fernandojsg opened #288 "Remove helpers when the parent object is removed"

[2016-08-17 18:01] fernandojsg commented on #85
I believe it's solved by https://github.com/aframevr/aframe-inspector/pull/280 @caseyyee could you take a look?

[2016-08-17 18:07] #278 closed, assigned to nobody

[2016-08-17 18:14] fernandojsg commented on #234
@dmarcos could you try this again?

[2016-08-17 18:43] dmarcos commented on #234
Just tried on master and works well.

[2016-08-17 18:43] #234 closed, assigned to fernandojsg

[2016-08-17 19:14] #34 closed, assigned to nobody

[2016-08-17 19:24] #286 closed, assigned to nobody

[2016-08-17 21:39] ngokevin opened #291 "add component default option should be blank"
It currently shows `blend-character-model`.

<img width="356" alt="screen shot 2016-08-17 at 2 39 29 pm" src="https://cloud.githubusercontent.com/assets/674727/17754250/73087846-6488-11e6-908f-929ff9f21fdb.png">

[2016-08-17 22:22] ngokevin commented on #284
Would also be cool to indicate sitting and standing heights for scale. Like for standing, average height is 1.6 meters, so you can draw a 1.6 meter height wireframe box below the camera.

[2016-08-17 22:42] fernandojsg commented on #284
@ngokevin yep good point. Maybe even including something similar to the model that sketchfab uses for the user position (https://help.sketchfab.com/hc/en-us/articles/211640363-VR-Editor)
/cc @feiss

[2016-08-17 23:06] #288 closed, assigned to nobody

[2016-08-17 23:11] feiss commented on #284
Oh, very interesting! I like this concept more than a floating headset. Ok, I could do a sitting and a standing up model. The only drawback I see in this is what happens if the user wants the camera up in the air, or looking up or down, like 45deg down.. The puppet would look a bit weird..

[2016-08-17 23:14] ngokevin commented on #284
In the air, I think it still applies. They still have a body and hands, and it helps compare scale.

The head could be separate from the body such that it can rotate freely. The body just follows underneath the camera. Worst case, we can add a toggle in the UI.

[2016-08-17 23:16] fernandojsg commented on #284
Yes, I was just thinking the same, it could be hard to manage each situation, when the camera is rotated in a non-standard way. The body typically will be standing or sitting, but won't be laying down on the ground or flying horizontally, so it could help to visualize the user in the world. The body could be fixed (just rotated on Y according to the headset) but the head could be rotated on X/Z

[2016-08-17 23:51] feiss commented on #284
That sounds fantastic! Ok, head separated from body. A select for the "camera icon" with options like "standing person, sitting person, camera" would be great indeed

[2016-08-17 23:54] fernandojsg commented on #284
Yep, I like that "select"

[2016-08-18 01:40] #275 closed, assigned to nobody

[2016-08-18 04:36] ngokevin opened #296 "figure out why aliasing `this.sceneEl` as variable causes sceneEl to be undefined"
Temporary workaround: https://github.com/aframevr/aframe-inspector/commit/0e15b2a3c4d2dfce8f28cc5e7760ae823dea0b32

[2016-08-18 04:37] ngokevin commented on #296
It might have been budo?

[2016-08-18 09:43] fernandojsg opened #297 "Style scrollbar"

[2016-08-18 09:59] feiss opened #298 "Suggestions for new shortcuts"
Following #154 , support for more shortcuts would be very interesting for desktop users.

(Some of these actions are not yet included in the editor, I'll try to write a spec for each one in a separated issue)
- [x]  **`w,e,r`**
  Switch to Translate/Rotate/Scale modes (Maya and Max standard, **very convenient**)
- [x] **`z`**
  View selected object (**f** would be a more convenient shortcut for th

[2016-08-18 10:02] ngokevin commented on #276
I like MagicaVoxel's shortcut panel at the bottom. It displays the shortcut for whatever action you are currently hovering over (i.e., given the context), rather than a giant list of shortcuts.

<img width="1004" alt="screen shot 2016-08-18 at 3 01 08 am" src="https://cloud.githubusercontent.com/assets/674727/17769966/264ed550-64f0-11e6-9c1d-7cff129ca549.png">

[2016-08-18 10:03] fernandojsg commented on #298
Thanks! Regarding the `esc` I was thinking the same but @dmarcos pointed that maybe the VR-scene is capturing `esc` by itself as it's a very generic shortcut so we can't just hijack it :(

[2016-08-18 10:05] feiss opened #299 "More subtle grid"
I find the grid very bright and distracting. I suggest flipping its two colors:

**Secondary grid lines:** Use the current darker gray color of the main axes
**Main axes lines (x,z):** Lighter gray (the current used in the secondary lines of the grid)

[2016-08-18 10:11] fernandojsg commented on #299
Good point! Sadly we should update the current threejs used on aframe as the current release that we're using doesn't support coloring the Grid helper :(

[2016-08-18 10:12] ngokevin commented on #298
When the inspector is active, the scene should be paused and event listeners should be removed, so keypresses should not do anything.

[2016-08-18 10:12] fernandojsg commented on #276
We could add something like `h` for a fullscreen modal with all the shortcuts like a cheatsheet, and also adding the statusbar with the current action while hover the mouse, I like that

[2016-08-18 10:14] fernandojsg commented on #298
@ngokevin yes that's why `esc` will works while the editor is opened, but if we exit the inspector and go back to the scene we should remove that listener

[2016-08-18 10:19] feiss opened #300 "View selection, View All, Reset View"
A very common workflow in 3d packages is to frame the camera to a specific object(s).

For example, in this blender scene:
![image](https://cloud.githubusercontent.com/assets/359872/17770120/5f0021d2-653c-11e6-8ffe-7aebea073809.png)

If I press the shortcut for "View Selected", the camera jumps to the selected cone:
![image](https://cloud.githubusercontent.com/assets/359872/17770135/687b4070-653c-

[2016-08-18 10:21] feiss commented on #299
I see... What about drawing the grid by ourselves? It's pretty trivial, I guess..

[2016-08-18 10:29] feiss commented on #298
Can't you just add the event listener after the vr-scene and its events are initialized? (maybe with a setTimeout()?)

[2016-08-18 10:31] fernandojsg commented on #298
@feiss is not a problem about timing is more a problem on what happens if the vrscene has a listener for esc that does something, if we add a listener we'll screw it, that's why we tend to use rare shortcuts in that situation like `ctrl+alt+i`.

[2016-08-18 10:35] fernandojsg commented on #299
Yep, I think that finally we'll need to create our own helper. In fact I really like the vizor's grid style.

[2016-08-18 10:51] feiss opened #301 "Multiple selection support"
Multiple selection is a complex issue, but it could be simplified and limited to basic operations like transforms and simple edits:

S= list of current selected objects
- If user LMB on empty space, S=[ ]
- If user LMB on an item,  S= [item]
- If user ctrl+LMB on an item that is not selected, it adds the item to S
- If user ctrl+LMB on a selected item, it removes from the item from S
- ctrl+a sele

[2016-08-18 11:00] feiss commented on #265
GitHub's clipboard icon looks more evident:

![image](https://cloud.githubusercontent.com/assets/359872/17771420/1916cbce-6543-11e6-9b55-ad79fd40bd8f.png)

"Insert" is not very descriptive, you don't know what you are going to insert. I think the term "Entity" or "Item" is needed, I suggest "New entity", "Add entity" or "Add new entity"

[2016-08-18 11:03] feiss commented on #265
I would also rename "Back to Scene" and "Inspect Scene" button to "VR MODE" and "EDIT MODE"

[2016-08-18 11:15] feiss opened #302 "Front/Left/Top/Perspective views"
Current perspective view is perfectly convenient and useful, but some users may want to view the scene from top/front/left orthographic views. I suggested in #298 keys 1,2,3,4 for switching to those views.

These orthographic views are useful for aligning and setting the layout of objects with more precision, and having a different perspective of the scene.

The position of these 4 cameras should

[2016-08-18 11:16] fernandojsg commented on #4
Closed for a more detailed issue: https://github.com/aframevr/aframe-inspector/issues/302

[2016-08-18 11:16] #4 closed, assigned to nobody

[2016-08-18 11:34] feiss commented on #299
That one with circles? nope nope please :sweat_smile: I think a grid of parallel lines helps to better perceive the distance and the relation between objects, and gives a better spatial understanding.

[2016-08-18 11:37] fernandojsg commented on #299
You can switch from circles to squares! :P and they have written the distance in the corner.
<img width="1020" alt="screenshot 2016-08-18 13 36 56" src="https://cloud.githubusercontent.com/assets/782511/17772401/dfa715be-6548-11e6-80fd-4ba33f8887dd.png">

[2016-08-18 11:39] fernandojsg commented on #298
**h** to show shortcut cheatsheet

[2016-08-18 11:40] fernandojsg commented on #206
Closed by https://github.com/aframevr/aframe-inspector/issues/298

[2016-08-18 11:40] #206 closed, assigned to nobody

[2016-08-18 11:40] fernandojsg commented on #154
Closed by https://github.com/aframevr/aframe-inspector/issues/298

[2016-08-18 11:40] #154 closed, assigned to nobody

[2016-08-18 12:10] feiss opened #303 "Smarter organization of component properties"
Component properties are currently displayed in the order defined in the schema. That's fine, so smart ordering of properties can be set. But now they are pretty random. I propose ordering them from "most useful/used" to "less useful/used".

Also, it would be very interesting to add little additions to the schema spec (aside, apart from the official spec, as a very optional and cosmetic addition t

[2016-08-18 12:20] feiss commented on #298
what about the traditional F1? with additional help links and info

[2016-08-18 12:23] feiss commented on #299
ok, that's better :D

[2016-08-18 12:28] fernandojsg commented on #298
F1 is reserved usually by the browser, and for example in mac keyboard you need to click `Fn + F1`  as F1 by default is assigned to lower screen brightness.
Just as completely personal opinion I like having all the shortcuts close to each others so I could have my hand relaxed on the keyboard and just move the fingers to press each shortcut without need to add any movement to my wrist

[2016-08-18 12:30] fernandojsg commented on #303
Yes, we could include a way to define this groups without modifying the current schema.
The user could define it, otherwise the attributes will be shown in the same order as defined in the schema.
The way to define the groups could be something like:

[code]

[2016-08-18 12:36] feiss commented on #298
I'm sold! **h** then

[2016-08-18 14:29] fernandojsg commented on #298
Maybe `backspace` for delete? As mac keyboard doesn't have `supr` by default, you need to press `cmd + backspace`

[2016-08-18 14:43] fernandojsg commented on #298
@feiss **Num +, Num -** Do you mean for example translate or rotate step by step? In that case in which axis?

[2016-08-18 14:44] feiss commented on #298
backspace/supr: why not both?
num +, num- : no, just visually scaling up/down the helper, without affecting the selection.

[2016-08-18 14:46] fernandojsg commented on #298
Yep!

I don't get that, right now the helper has a constant size, it's not affected by the zoom of the perspective view do you want to make it bigger/smaller? is that useful?

[2016-08-18 14:47] fernandojsg commented on #298
By the way can you update the first comment adding `task lists` so we could keep checking the ones we're finishing? (https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments)

[2016-08-18 15:12] fernandojsg commented on #298
`ctrl+d` in windows is add bookmark right? What about using just `d` without a modifier?

[2016-08-18 15:15] Coder206 commented on #298
@fernandojsg Yes, `ctrl+d` in Windows adds a bookmark.

[2016-08-18 15:50] feiss commented on #298
allrighty, `d` without modifier :)

About `num+,num-`, yup, just change up/down that constant size. You can usually change it in other 3d packages, it's an usability thing. Just think that the transform helper is the most important and used tool of the editor. Anyway, it's not very important, just a small thing.

[2016-08-18 17:05] fernandojsg opened #304 "User can't be used under the toolbar"
Because of the use of `position: fixed` for the right sidebar, it overlaps the canvas so it doesn't let it get the mouse events 👎
<img width="1023" alt="screenshot 2016-08-18 19 02 43" src="https://cloud.githubusercontent.com/assets/782511/17783010/5e3c4be2-6576-11e6-8f60-e194f0d27dd9.png">

[2016-08-18 17:21] caseyyee commented on #85
@fernandojsg same issue still.   you can reproduce this by changing the cameras rotation, exiting the editor, and then re-entering edit.   note that the camera rotations will be reset.

[2016-08-18 17:34] fernandojsg opened #306 "Uncaught ReferenceError: production is not defined"
I've just tried the latest a-frame examples and when I try to inject the editor it gives me this error:

[code]

I believe could be something related to the changes on the dist config to minimize the script /cc @ngokevin

[2016-08-18 17:43] fernandojsg commented on #85
Fixed!

[2016-08-18 17:43] #85 closed, assigned to nobody

[2016-08-18 17:45] caseyyee opened #307 "Use better icon for downloading HTML scene"
![image](https://cloud.githubusercontent.com/assets/1560884/17784270/bf9fdcf0-6530-11e6-83ca-460ab23d0eb8.png)

Something more like:
![image](https://cloud.githubusercontent.com/assets/1560884/17784295/d860af9e-6530-11e6-836b-c78030964a99.png)

Or just a button with "Export" text would be better even.

[2016-08-18 17:57] fernandojsg commented on #298
Updated the list of shortcuts created based on: https://github.com/aframevr/aframe-inspector/pull/305

[2016-08-19 07:56] cvan commented on #34
when the aframe-inspector `<script>` gets injected in the page, and the A-Frame shortcut is _not_ invoked, what is the expected behaviour?

[2016-08-19 07:57] cvan commented on #265
good feedback 👍

[2016-08-19 08:16] #306 closed, assigned to nobody

[2016-08-19 08:19] ngokevin commented on #303
I think alphabetical is the easiest. There will be many third-party components and geometries that we won't have much control over or insight into. Right now, it seems we could try to manually sort the properties given there aren't very components to choose from, but in the long run it's easiest to be agnostic and do alphabetical.

[2016-08-19 08:25] ngokevin commented on #301
I wonder if we'd think about this differently if we framed this tool as complementary to code rather than a end-to-end tool. If so, then we could prescribe developers group their entities if they want to do a batch transform. This is a good prescription because if we are trying to do the same transform operations to multiple entities, then they probably belong in a group in code.

[code]

vs:

[co

[2016-08-19 08:27] ngokevin commented on #300
Is View Selected appropriate for the Inspector? That sounds useful for a modeling tool, but I don't imagine cases of needing a lock-on feature for individual entities.

[2016-08-19 08:41] cvan commented on #37
Vizor does this nicely: ![image](https://cloud.githubusercontent.com/assets/203725/17803806/851c4a5a-65ad-11e6-8520-f8a8676b0986.png)

[2016-08-19 08:42] cvan commented on #37
Related: #262 Entity clone icon is ambiguous

[2016-08-19 08:42] cvan commented on #262
I like Vizor's "Duplicate" icon:

![image](https://cloud.githubusercontent.com/assets/203725/17803942/39c58cbe-65ae-11e6-9d3a-e3d1dcc37cd9.png)

[2016-08-19 08:45] ngokevin opened #308 "add missing analytics events (copy html, export html, clone)"
I believe some events were lost when we removed those menus. I'd be interested in seeing the usage of complete Copy HTML / Export HTML.

[2016-08-19 08:46] cvan commented on #37
Related: #166 Primary CTA buttons w/ icons should have text labels

[2016-08-19 09:03] cvan commented on #307
The icon is supposed to represent "Download (the exported files)."

Download icons are always downward:
![image](https://cloud.githubusercontent.com/assets/203725/17803979/645c2a6e-65ae-11e6-8e7b-fb5bd2f2c5ed.png)

And upload icons are always upward:
![image](https://cloud.githubusercontent.com/assets/203725/17803988/6e46a842-65ae-11e6-9d5d-91026003022c.png)

<hr>

I mentioned in [issue #166](http

[2016-08-19 09:05] cvan commented on #307
I just did a ton of searches for export, download, picture, html, zip, package, presentation, browser, etc. My favourites are probably the ones here: https://thenounproject.com/search/?q=download+browser

I did a few treatments for people to see how they might look like:

![download_scene](https://cloud.githubusercontent.com/assets/203725/17804620/5c5d26a8-65b1-11e6-9d92-55aa3c16720b.png)

[2016-08-19 09:10] cvan commented on #307
Now, there's the act of "publishing" a scene (to "the cloud"). That's something else. I don't see any issue for that - is there one?

[2016-08-19 09:11] cvan opened #309 ""copy html" should be "Copy HTML" (or "copy HTML" or "COPY HTML")"
HTML is an initialisation, so it should be in all caps.

![image](https://cloud.githubusercontent.com/assets/203725/17805011/44726138-65b2-11e6-999e-e86668c44808.png)

[2016-08-19 09:13] cvan opened #310 "Should "Copy HTML" for an entity include unaltered/empty components?"
For example, see `material="" geometry=""`:

[code]

[2016-08-19 09:17] cvan opened #311 ""Copy HTML to clipboard" icon for entity is ambiguous and easy to miss"
I couldn't find the "copy html" button for the entity (like the buttons next to each component).

Then, I found some button at the very, very top, but I couldn't tell what it was:

![image](https://cloud.githubusercontent.com/assets/203725/17805110/b1e23216-65b2-11e6-8f45-869c0c6bc320.png)

So, I hovered over the icon to reveal its `title` to identify what it was:

![image](https://cloud.githubuse

[2016-08-19 09:25] cvan commented on #301
FWIW, with Chrome's Developer Tools, you can pretty sloppily copy and paste anything from the Styles inspector and the resulting clipboard output is correct. Can we do something similar?

[2016-08-19 09:32] cvan opened #312 "Issues with "Copy HTML" functionality (partially broken?)"
![image](https://cloud.githubusercontent.com/assets/203725/17805212/316fa7f2-65b3-11e6-8d90-3b9374ecfcb1.png)

**Problem:**
It appears that only when values _change_ can I `copy html`. So, upon immediately selecting an entity, I clicked on the `Geometry` component's `copy html` button, and it added nothing to my clipboard. When I checked the `skipCache` checkbox, my clipboard now contained `skipCa

[2016-08-19 09:33] cvan commented on #207
Is this done? What's left here? Btw, filed #312 for some implementation issues.

[2016-08-19 09:34] cvan commented on #297
Are you suggesting hijacking the native scrollbar/scrolling? If you're suggesting just pushing it to the side so it's not visible, and maybe showing a custom one, that's fine.

[2016-08-19 09:36] feiss commented on #300
Yup, modeling is where you take the most of "view selection". But think that in the inspector you have Materials and other components that can change the visual aspect of an entity, and you would want to check it out closely and thoroughly, and "view selection" is useful in this situation.

Also, it's a quick and convenient way of not only moving the camera around the scene, but also of changing i

[2016-08-19 09:38] cvan opened #313 "ComponentLoader should not do a synchronous XHR"
Never use sync XHRs; they peg the browser.

You could simply make the XHR async, and let `this.components` get set when the XHR loads, as you're doing already. Is there any other reason why it needs to be synchronous? If there is a reason, can you just use a `Promise` that resolves/rejects on load/error?

[2016-08-19 09:39] cvan opened #314 "Consider using Web Worker for XHRs that need to lazy-load metadata (e.g., for components)"
If you're worried about XHRs causing pauses in the scene/editor rendering, consider moving all your XHRs to Web Workers and just `postMessage` the JSON back. Wouldn't be more than a few lines of code to shove all the necessary XHRs to a Worker to add some smooth lazy loading.

(Filed because of #313.)

[2016-08-19 10:23] fernandojsg commented on #207
@cvan no, this is about copy and paste the entity itself on the scene (similar to clone) rather than copy the entity to the clipboard to paste in some text editor.

[2016-08-19 10:42] fernandojsg commented on #307
I like the latest icon with HTML on it or the one called "export scene", I feel it's easy to spot. In the case of vizor it looks nice as you have a text below it, but without the text I believe you wouldn't know that this is the export button just for its icon.

We were talking about having an "export" button and when you'll click it it should appears a dropdown with the different options: "save H

[2016-08-19 10:50] fernandojsg commented on #297
I think so, I don't have much experience styling scrollbars so any help will be more than welcome. Current scrollbar style ruins the UI quite a bit :)

[2016-08-19 10:57] cvan commented on #307
Are we going to assume that any "export" or "download" of the modified scene will include only the resulting modified HTML? If I include a new asset, I assume we'll be uploading those to Uploadcare/Filerpicker.io/AWS/etc., and just referencing everything by URLs.

And, what about the case of multiple scenes in one HTML document? Things definitely get confusing from a mental model then.

If I'm a u

[2016-08-19 10:59] cvan commented on #207
Gotcha. That naming is confusing. Can you explain to me the steps you'd take to do this action? You mean like drag-and-drop'ing text markup onto the Inspector/Editor, and it figures out where to inject it?

[2016-08-19 11:01] cvan commented on #297
Check out http://theculturetrip.com/europe/greece/articles/spotlight-on-the-stavros-niarchos-cultural-center/ or http://www.apple.com/mac/ at a mobile width for an example. There's a little hackery involved (you need a parent element, need to add some extra padding, and then clever cosmetic styling to simulate the scrollbar).

[2016-08-19 11:02] cvan commented on #297
Also, I'm sure there is at least _one_ proper solution on CodePen: https://codepen.io/search/pens?q=scrollbar&limit=all&type=type-pens

[2016-08-19 11:07] fernandojsg commented on #307
Yes, you're completely right, probably we should keep conservative and follow the path that devtools were doing in the beginning: be just a useful tool for inspect and help you while debugging and editing your scene in the editor, then we could keep improving with new features.
As we could get lost on the many options that we could offer to the users.

I believe the ideal workflow for a newbie use

[2016-08-19 11:41] fernandojsg opened #315 "Text over icons and menu bar"
This is an issue we've been discussing in different issues and regarding the menu we already had one one but removed it after some brainstorming about it.
But with the recent icons and now that we're in a situation where we're going to start adding more functionality I believe it's good to have one discussion about it.

We removed icons on the components title bar to use text instead
![image](http

[2016-08-19 13:05] fernandojsg commented on #1
I'm thinking about it and probably will result in a messy UX as you'll see constantly the ID over the entities and if we use the same raycaster that we use for the click events you'll get just the topmost entities affected. Also performance-wise need to try on using raycast on every mousemove.
/cc @feiss do you think it's an important feature? I don't remember having this feature in any other DCC

[2016-08-19 13:07] fernandojsg commented on #8
@dmarcos can you give it a try? I believe it was caused because we were over-repainting the UI, still it should improved in following PR as we have room for improvement in there

[2016-08-19 13:20] fernandojsg commented on #1
Related to https://github.com/aframevr/aframe-inspector/issues/61

[2016-08-19 13:54] feiss commented on #1
Nope, I don't think it's important. You don't have that feature in typical 3d packages. Imagine you have hundreds or thousands of objects, that could be a highlighting party :D

[2016-08-19 14:09] feiss commented on #311
I'd vote for using only an icon, always the same. A more clear one, like github's clipboard icon ![image](https://cloud.githubusercontent.com/assets/359872/17812381/1a557d84-6627-11e6-9b03-0cc4d2f790e4.png) , or a new one more specific, something like ![image](https://cloud.githubusercontent.com/assets/359872/17812409/432f3f9c-6627-11e6-8cac-b7b559750866.png) or ![image](https://cloud.githubuserco

[2016-08-19 14:12] fernandojsg commented on #1
Yep, let's close it, thanks!:)

[2016-08-19 14:12] #1 closed, assigned to nobody

[2016-08-19 14:34] fernandojsg commented on #311
![image](http://i239.photobucket.com/albums/ff166/eban666/trash/Level_Up_zpsbaf0680e.gif)

I really like these icons. I'll open an issue with the icons that we could need.

[2016-08-19 14:34] fernandojsg commented on #103
Related to https://github.com/aframevr/aframe-inspector/pull/305

[2016-08-19 15:35] feiss opened #316 "Faulty visual hierarchy in components panel"
_Disclaimer: I'm new in town, so please bear with me about all these suggestions I'm throwing. I'm not familiar with all the discussions, prototypes, past versions and motivations of this topics regarding the editor, I'm just giving my naive opinion on what I see in current version._

Folowing @cvans 's issue on #311 , I feel the hierarchy of the headers in the components panel could be better.

N

[2016-08-19 16:04] fernandojsg commented on #316
We love feedback so don't need to be worried about it, it's so cool and useful to have an open conversation about the app :+1:

Yep totally right something bigger and brighter should be used for that.

We added the `Common` header mainly to be able to toggle that panel as most of the time you'll transform the entity using the transform tools in the viewport instead of entering them by hand, and th

[2016-08-19 16:05] fernandojsg commented on #316
Sorry I didn't notice the toggle arrow in the `<A-ENTITY>` panel, so this one should collapse the "common" properties right?

[2016-08-19 21:27] feiss commented on #316
Yup! Same behaviour like the 'common' header. And the add component button would stay always visible

I like the idea of having a list with the names of the components a la 3dsmax. It would be much clear and friendlier for newcomers. For users that want to edit multiple components at once, the selectbox could allow multiple selection, so you have the best of both worlds. And there's another good t

[2016-08-20 03:32] cvan commented on #307
thanks, agree to all comments 👍

[2016-08-20 03:32] cvan commented on #27
Check out https://react.rocks/example/esnextbin - it uses anonymous GitHub Gists well. If you have questions, let me know.

[2016-08-21 08:58] feiss commented on #315
I think the menu bar is interesting when the rest of the application is confusing in some part. If the tool was simple and very easy to pick up there would be no need of it. Right now I think there are issues regarding the UI that should be improved, but there aren't really so many features and options that justify the need of adding a menu bar.

BUT, I find the menu bar would be beneficial in two

[2016-08-22 10:17] fernandojsg opened #317 "Support adding of components"
Following up with the `Add component (+)` icon proposed by @feiss in https://github.com/aframevr/aframe-inspector/issues/316 I would like to hear some opinions about how to deal with it.

Right now we've just a combobox that is populated with the core's components and the third party components loaded from https://github.com/aframevr/aframe-components.

For the third party components we've a mocku

[2016-08-22 10:30] feiss commented on #317
I like the first option, showing a dropdown list with a searchbox, and a link to the store

[2016-08-22 10:31] feiss commented on #317
'Store' is a term I dislike if all components will be for free (if not, it's fine), btw.

[2016-08-22 10:33] fernandojsg commented on #317
Yep, I used `store` just to get the idea of `Asset store` from unity but won't be that the name in the UI.
Ok, so I'll try to mockup it on the inspector.

[2016-08-22 15:41] fernandojsg commented on #317
A WIP:
![addcomponent](https://cloud.githubusercontent.com/assets/782511/17860914/6b424410-688f-11e6-9c73-b27bc81d59af.gif)
If we're going to switch to the "3dsmax style" to show the components we'll just select the new component on the list and show its properties so the users will have some feedback.
With the current UI we should probably add some animation or text `Component "Sound" Added` as t

[2016-08-22 15:43] fernandojsg commented on #317
That list is populated with the core components, we need some icon to put next to that list to go to the `components "store"` to add new components to the scene.

[2016-08-22 16:05] fernandojsg commented on #316
WIP:
![sidebarwip](https://cloud.githubusercontent.com/assets/782511/17861869/1508c39a-6893-11e6-8907-edfeb3565d6a.gif)

[2016-08-22 16:06] dmarcos commented on #317
I think there should be just one list. Combining `core` and the `store`. Many of the today's `core` component will move to the store.

[2016-08-22 16:07] dmarcos commented on #317
It seems that you type a name and then `enter` and the component gets added to the entity? Should we have the `add` action as a separate button to prevent user errors?

[2016-08-22 16:09] dmarcos commented on #316
The collapse button on the entity for the common attributes makes the `a-entity` look like another element at the same level as the components. It does not convey that the components are part of the entity. What I propose is to make the `a-entity` attributes non collapsible.

[2016-08-22 16:09] fernandojsg commented on #317
@dmarcos so in which case are we going to show the `component store` with the description, url, screenshots and so on?
Regarding the `add` button, I always tend to prefer the fast action, in Unity it works like that and I believe people already got used of that. If you make a mistake you can delete the component and nothing happens.

[2016-08-22 16:11] feiss commented on #317
it's a yes for me!

[2016-08-22 16:12] dmarcos commented on #317
A usable UI first prevents errors and then offers a convenient way to recover from those errors if they can happen. The latter should be introduced when you guarantee the former.

[2016-08-22 17:59] fernandojsg opened #318 "When a new camera is added to the scene it hijack the editor's camera"

[2016-08-22 23:26] #318 closed, assigned to nobody

[2016-08-22 23:34] fernandojsg commented on #310
Right now "copy html" is removing default values and default components that has default values too (`position="0 0 0"` for example). The problem with this one is that it has a `material` and a `geometry` defined on the mixins, so it will need some logic to know that they're already defined in the mixins, so we could delete the empty values.
The problem is what to do if we have something like:

[c

[2016-08-22 23:39] #309 closed, assigned to nobody

[2016-08-25 20:49] ngokevin opened #320 "Raycaster/helpers not working well on embedded scenes"
Embedded scenes in my slides, open up the inspector, select an object, try to use the helper handles https://ngokevin.github.io/aframe-presentation-kit/#/3/1

[2016-08-26 16:32] donmccurdy commented on #60
What if we let component authors specify a docsUrl in their schema:

[code]

This solves two issues:
1. Looking at any scene in the inspector, I can find out where each component came from.
2. For the <kbd>?</kbd> icon shown in the inspector, we now have docs on third-party components.

[2016-08-26 19:29] ngokevin commented on #60
@donmccurdy There's an in-depth discussion at https://github.com/aframevr/aframe-components/issues/5 (may or may not be the final resting place for that file).

[2016-08-30 12:38] cvan commented on #311
love them 👍

[2016-08-30 12:40] cvan commented on #316
I agree that this would help a ton.

I won't comment on the other nits that have issues filed for them, but otherwise these changes feel good.

[2016-08-30 13:11] cvan commented on #37
I'd recommend using https://frend.co/components/tooltip/

[2016-08-30 13:12] cvan commented on #166
Relevant: I'd recommend using https://frend.co/components/tooltip/

[2016-08-30 13:13] cvan commented on #315
agreed, yes.

how do we expect the application to grow?

why might not we be able to afford a dedicated space for icons? (see below for possible implementations for when we may need to expand our options.)

agreed, great point. IME, tab bars tend to work well:

![image](https://cloud.githubusercontent.com/assets/203725/18089678/15c30114-6efc-11e6-9876-79ae0c9e8c29.png)

![image](https://cloud.gith

[2016-09-01 09:03] feiss opened #321 "Near limit of camera's frustum cuts small objects"
When inspecting small objects (like less than 1,1,1), camera's frustum limits cuts the object.

Cube 0.5, 0.5, 0.5

![image](https://cloud.githubusercontent.com/assets/359872/18161706/613b2c1a-7033-11e6-8173-5eabe38360d4.png)

I propose decrease the limit a bit more. It's interesting to get pretty close to objects when you are reviewing texture or material issues.

[2016-09-04 13:50] Utopiah opened #322 "Cloning a cloned entity clones the initial entity, not the new modified one"
I clone object1 I get object1cloned that I can then modify.
When I try to clone object1cloned though I get a clone of object1 , not the modified object1cloned

[2016-09-24 21:09] Coder206 opened #323 "Add a Service Worker"
Having the code for the Inspector cached on the user's device would decrease loading times but more importantly reduce bandwidth.

[2016-09-24 21:19] ngokevin commented on #323
The Inspector actually isn't loaded on devices unless you inject it (e.g., with the shortcut). Service Workers won't work here I think because the domain at which the Inspector is injected will vary.

[2016-09-24 21:24] Coder206 commented on #323
@ngokevin I understand. I'll close this then.

[2016-09-24 21:24] #323 closed, assigned to nobody

[2016-09-24 23:42] cvan commented on #132
Fixed by @Coder206 in PR #272 😄

[2016-09-24 23:42] #132 closed, assigned to nobody

[2016-09-24 23:43] cvan commented on #160
Fixed by @Coder206 in PR #272 😄

[2016-09-24 23:43] #160 closed, assigned to nobody

[2016-09-24 23:46] cvan opened #324 "Add more complete monospace `font-family`"
`font-family: Consolas, Andale Mono, Monaco, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;`

[2016-09-24 23:47] Coder206 commented on #324
@cvan Is this a continuation of the RobotoMono code? (#272)

[2016-09-25 02:46] cvan commented on #324
@Coder206 nope, your PR just reminded me that we should have a more verbose `font-family` that covers the default monospace fonts on the popular platforms. so thanks!

[2016-09-30 22:41] ngokevin opened #327 "button to take equirectangular screenshots"
https://gist.github.com/AdaRoseEdwards/f6b96e4ea44c0201bc72879da62e633a

[2016-10-01 05:50] ngokevin commented on #8
super smooth now

[2016-10-01 05:50] #8 closed, assigned to nobody

[2016-10-01 05:53] ngokevin commented on #285
dun

[2016-10-01 05:53] #285 closed, assigned to nobody

[2016-10-01 12:34] #324 closed, assigned to nobody

[2016-10-01 21:33] ngokevin opened #328 "primitives missing from scene graph"
Open inspector on https://samsunginternet.github.io/a-frame-demos/racer/

Under each track, there should be `<a-curve-point>` primitives.

[code]

[2016-10-02 08:22] #328 closed, assigned to nobody

[2016-10-03 10:56] fernandojsg opened #331 "Texture samples"
Right now the samples files are added directly on this repo. It should be better to maintain them in a different repo.
At first I was thinking about doing that in a different file from `aframe-registry` but we don't really want to create a place where everyone will push plenty of assets, but just trying to keep some basic examples for each kind of asset: terrain, envmapping, flares, checkboard, wo

[2016-10-03 10:58] fernandojsg commented on #331
PS: The same will happens with the `sound/3dobjects` samples.

[2016-10-03 11:21] fernandojsg opened #332 "Add community shaders for materials"
re: https://github.com/aframevr/aframe-registry/issues/17

[2016-10-03 17:01] fernandojsg opened #333 "Add embedded example"
To keep testing how it works while modifying styles

[2016-10-03 19:51] cvan commented on #285
don't see yet, but sure will get added https://react.rocks/?q=aframe

[2016-10-03 22:18] ngokevin opened #334 "fix documentation links to only point at major version of docs"
Right now Inspector might be 0.3.1, it will try to point to aframe.io/docs/0.3.1. It should consider only the major version and point to 0.3.0.

[2016-10-04 20:31] ngokevin opened #335 "Stage and set values of components before attaching them"
Community components are most guaranteed to work well on the initialization. How well they can handle updates or handle being attached with zero data, is less reliable since it requires closer management of the lifecycle. That means they may work great from HTML, but may not with the Inspector.

Ideally, we seek to improve those components, but it'd be great to have most of them working out of the

[2016-10-04 21:07] fernandojsg commented on #335
I don't really like it. It will add another step on the editor just to handle bugs on components, and we'll have two different path while adding a new component, if the components come from core you'll just add them straightforward, but if they're thirdparty you'll have that extra "stage" step, even if the component are working properly.

That extra step seems unnecessary and not very nice from th

[2016-10-04 21:21] ngokevin commented on #335
OK, makes sense.

[2016-10-04 21:21] #335 closed, assigned to nobody

[2016-10-04 21:25] dmarcos commented on #335
Schemas could have a `prompt` flag that is false by default. If a component sets it to true a modal dialog is shown before adding the component to the entity

[2016-10-04 21:29] ngokevin commented on #335
It's true that incorrect update handling and zero-init does seem buggy. For particle system, I am currently making a PR to fix updates because it wouldn't clear the old one. For my animation component, the Inspector was breaking on zero-init so I need to investigate that.

Going to see how much work most components need before considering overloading the schema/package.json flag + Inspector UI

[2016-10-04 21:31] fernandojsg commented on #335
@dmarcos yes that could be a solution but still we need to curate the use: this should be used just on components/attributes where once the value is set it's not possible to do changes. But we should do something after showing that modal, should we hide the whole attributes panel for that component? just the attribute that was shown on the component?

[2016-10-04 21:39] ngokevin commented on #335
Just noting, there could be components that optimize/test for the use case of setting via HTML once and not expecting to handle updates. Which sounds mostly fine for development, but not the Inspector. But for now, we can optimize for Inspector and see where that leads...

[2016-10-04 21:41] fernandojsg commented on #335
IMHO we should try to delay this as much as we can, and try to put the effort as @ngokevin says on trying to fix the components before adding a new workflow. And after a while we could identify the edge cases and work on a proper solution to fit them.

[2016-10-04 21:59] fernandojsg commented on #335
Maybe a bruteforce solution for this kind of components is to mark them as "Impossible to edit once first loaded" and every time you modify something it will destroy and attach a new component?
In that case still we need to be sure that the destroy process go well and we don't leave garbage somewhere.

[2016-10-04 22:00] ngokevin commented on #335
I think many components ensure `remove` less than they do `update` so that probably wouldn't work well, on top of it already being hacky.

[2016-10-04 22:16] fernandojsg commented on #335
yep, you're right :\

[2016-10-04 23:50] dmarcos commented on #335
We will have to explore soon what hints we have to add to the schema for the inspector: `prompt`? `editable`? The latter for those values that cannot be changed once they're set because they do irreversible operations. We could have an optional inspector object per property:

[code]

[2016-10-04 23:52] ngokevin commented on #335
At https://github.com/aframevr/aframe-registry/issues/22

[2016-10-04 23:54] dmarcos commented on #335
We could even eventually let properties or components provide some customized UI that will embed in the editor. Imagine for instance a `turbosquid` component that prompts for the user credentials implements a model viewer / picker'

[2016-10-11 06:07] #308 closed, assigned to nobody

[2016-10-14 09:11] fernandojsg opened #340 "Differentiate between registry and core components in Add Component selectbox"
We'll have three types of components:
- Core
- Registry
- Manually added to the html

We should find a way to differentiate them on the `Add component` select box, maybe different icon or color depending its origin?

[2016-10-14 09:52] fernandojsg opened #341 "Add a link next to "Add component" to the aframe-registry ghpages"
It should link to https://aframe.io/aframe-registry/
I tried to use the same logo, but it doesn't fit with the overall aesthetics.
![image](https://cloud.githubusercontent.com/assets/782511/19396723/bd9c89a8-9244-11e6-86a7-94e72186e7d9.png)

Any idea what to use here? Maybe just the `?` icon as with the components but bigger?
/cc @ngokevin @feiss

[2016-10-14 11:14] fernandojsg opened #342 "Focus "Add Component" selectbox properly"
When the `entity` is changed but the scenegraph is not focused.

[2016-10-14 11:37] fernandojsg commented on #313
Already fixed with the latest changes from the registry

[2016-10-14 11:37] #313 closed, assigned to nobody

[2016-10-14 11:42] fernandojsg commented on #291
Fixed on https://github.com/aframevr/aframe-inspector/pull/339

[2016-10-14 11:42] #291 closed, assigned to nobody

[2016-10-14 11:43] fernandojsg commented on #282
Selectbox done in https://github.com/aframevr/aframe-inspector/pull/339

[2016-10-14 16:11] fernandojsg commented on #17
Fixed on https://github.com/aframevr/aframe-inspector/pull/339

[2016-10-14 16:11] #17 closed, assigned to nobody

[2016-10-14 16:22] fernandojsg commented on #136
@cvan this was fixed on https://github.com/aframevr/aframe-inspector/pull/272 right?

[2016-10-14 16:30] fernandojsg commented on #103
Fixed

[2016-10-14 16:30] #103 closed, assigned to nobody

[2016-10-14 16:34] fernandojsg commented on #227
@dmarcos can you reproduce it? I've never been able to reproduce :|

[2016-10-14 16:37] fernandojsg commented on #225
@dmarcos do you have any proposal on how to differentiate them?

[2016-10-14 16:38] #223 closed, assigned to nobody

[2016-10-14 16:38] fernandojsg commented on #213
@ngokevin do you have any updates on this? Is it working already?

[2016-10-14 16:42] fernandojsg commented on #314
@ngokevin do you think we need it with the current implementation?

[2016-10-14 17:07] fernandojsg commented on #167
@dmarcos Any idea on how to make it? maybe using a modifier (let's say `shift`) while clicking the `+` icon will create inside the current selected entity? and if using the same modifier while pressing the shortcut to insert a new entity `n` will do the same.

[2016-10-14 17:24] dmarcos commented on #227
I cant reproduce this anymore Chrome (53)

[2016-10-14 17:24] #227 closed, assigned to nobody

[2016-10-14 17:26] dmarcos commented on #225
I don't know it there's need to differentiate them visually but a system should not be allowed to be removed from the scene since the entity components depend on them

[2016-10-14 18:18] ngokevin commented on #285
we dun it https://twitter.com/React_Rocks/status/786907957099425792

[2016-10-14 19:20] #170 closed, assigned to nobody

[2016-10-14 19:20] #334 closed, assigned to fernandojsg

[2016-10-14 19:21] #114 closed, assigned to nobody

[2016-10-14 20:10] #321 closed, assigned to nobody

[2016-10-14 20:35] ngokevin opened #348 "Widget for `selector` / `selectorAll` property types"
Currently, a blank text field. Selector property types are pretty common. With Don's new physics constraints, they'd be used to add joints between entities.

Should have some widget magic to indicate it's a selector. Perhaps show list of matching entities as you type, or number of matching entities, or highlight the matching entities in the viewport (!).

[2016-10-14 21:16] fernandojsg opened #349 "Newly created entities with geometry are not selectable in the viewport"

[2016-10-15 13:29] feiss commented on #341
I can make an icon, remind me next week if I forget

And what about an option in the component list select box? At the end, always visible, that reads "A-Frame Registry components" or sth like that

[2016-10-17 09:50] fernandojsg opened #350 "Support more than one helper per entity"
Currently is limited to just one helper per entity, we should support more than one, let's say a light + positional audio.

[2016-10-17 09:52] fernandojsg opened #351 "Optimize TransformsControls"
Currently is calling `update` from the component's position, rotation and/or scale everytime you mose the mouse over the gizmo but without moving it.

[2016-10-17 11:28] fernandojsg commented on #341
@feiss reminder is here! :P

[2016-10-17 11:35] fernandojsg opened #354 "Add vec2 widget"

[2016-10-17 19:15] #276 closed, assigned to nobody

[2016-10-18 00:49] #333 closed, assigned to nobody

[2016-10-18 07:08] #341 closed, assigned to nobody

[2016-10-18 07:09] fernandojsg opened #357 "Change camelCase events to dash-separated for consistency"

[2016-10-18 07:47] fernandojsg commented on #357
Btw I've just noticed that Aframe has `componentchanged` and `child-attached` which one should we use? dash-separated right? /cc @ngokevin @dmarcos

[2016-10-18 18:30] ngokevin commented on #357
It's been moving to all lower case, no dashes / spaces. A-Frame codebase is like 50/50 right now, so we just chose one.

[2016-10-18 18:48] ngokevin opened #359 "Prettier demo scene"
For when we show off Inspector features / create GIFs

[2016-10-18 18:53] Coder206 commented on #359
@ngokevin You are referring to: https://aframe.io/examples/showcase/helloworld/ ?

[2016-10-18 19:07] fernandojsg commented on #359
I'm sure @feiss could help on this!

[2016-10-18 19:11] fernandojsg commented on #357
Without dashes and lowercase it could looks a little bit ugly for long events:

[code]

[2016-10-18 19:16] ngokevin commented on #357
@dmarcos Go dash convention everywhere?

[2016-10-18 20:03] dmarcos commented on #357
I would not use dashes to keep consistency with DOM event names:

https://developer.mozilla.org/en-US/docs/Web/Events

[2016-10-18 20:05] fernandojsg commented on #357
Ok, I'll remake the PR to change that way 😢

[2016-10-18 20:45] fernandojsg commented on #357
Done! https://github.com/aframevr/aframe-inspector/pull/358

[2016-10-18 21:00] #357 closed, assigned to nobody

[2016-10-18 21:12] feiss commented on #359
Cool! Directly to the to-do list

@Coder206 they talk about the example scene in the inspector :)

[2016-10-19 01:03] caseyyee opened #363 "Consider making toggle entity visibility more accessible"
It would be nice to be able to easily toggle visibility from the scene graph panel.

[2016-10-19 01:33] caseyyee opened #364 "Alert that I have changes before navigating away."
If I have changes made in inspector that have not been exported or copied out, warn me so that I don't loose my changes before navigating away.

[2016-10-19 11:29] #349 closed, assigned to fernandojsg

[2016-10-19 11:36] fernandojsg opened #367 "Inject debug=true while opening the inspector"
Should we inject debug=true when the inspector is open? As we're debugging probably it will makes sense, and then remove it when closing

[2016-10-19 11:37] #354 closed, assigned to nobody

[2016-10-19 15:49] fernandojsg opened #369 "A-frame registry logo doesn't deploy to ghpages"
The script doesn't deploy the `assets` folder where the logo is stored:
`https://aframe.io/aframe-inspector/assets/a-registry-logo-min.svg`

@ngokevin could you take a look at it?

[2016-10-19 16:22] odGit opened #370 "Json error"
I have a very basic setup: camera + 4 planes. Plain HTML file with aframe.min.js (v0.3.0) included in a header, running on localhost with budo. Once I am opening aframe-inspector, getting following errors.

In **Google Chrome** ( 53.0.2785.143 (64-bit)Mas OS Serra)

<img width="1215" alt="json_error_gc" src="https://cloud.githubusercontent.com/assets/1571406/19527323/e1b223ac-9627-11e6-843b-1c8d8e

[2016-10-19 16:32] fernandojsg commented on #363
Duplicated https://github.com/aframevr/aframe-inspector/issues/145

[2016-10-19 16:32] #363 closed, assigned to nobody

[2016-10-19 16:33] fernandojsg commented on #364
@caseyyee what do you mean with navigating away? on events like `close` and `unload/beforeunload`?

[2016-10-19 16:58] fernandojsg commented on #370
@odGit Hi, can you give it a try? I think we had a problem with the github CDN and it was caching our latest deploy. Make sure you've cleaned your browser's cache too

[2016-10-19 20:36] nucliweb opened #373 "Add EditorConfig"
Add [EditorConfig](http://editorconfig.org/) for helps developers define & maintain consistent coding styles between different editors and IDEs

[2016-10-19 22:01] fernandojsg commented on #373
I like it although I must admit I've never used, I just heard about this last week. Do you mind creating a PR? 👼

[2016-10-19 22:02] #304 closed, assigned to nobody

[2016-10-19 22:02] fernandojsg commented on #304
Closed by https://github.com/aframevr/aframe-inspector/pull/372

[2016-10-19 23:00] fernandojsg commented on #373
Closed by https://github.com/aframevr/aframe-inspector/pull/374

[2016-10-19 23:00] #373 closed, assigned to nobody

[2016-10-20 17:07] caseyyee commented on #364
@fernandojsg If I make changes with the inspector, and navigate away by typing in a new URL or  triggering navigation within scene (I was experimenting with a VR link traversal)

[2016-10-20 17:07] caseyyee commented on #364
@fernandojsg I was thinking on unload/beforeunload.

[2016-10-24 19:18] odGit commented on #370
ok, I have tried again and still have the same errors (Deleted history, and in Incognito Window).
I looked a bit around and the JSON callback which fails in [aframe-inspector](https://aframe.io/releases/0.3.2/aframe-inspector.js) is this one
`xhr.open('GET', 'https://raw.githubusercontent.com/aframevr/aframe-components/master/components.json', false);`

in code base
https://github.com/aframevr/afr

[2016-10-24 19:19] ngokevin commented on #370
We can just ignore it since it's fixed. We moved the components, and it's now fixed in the latest. Will ship it out soon. Thanks for filing!

[2016-10-24 19:19] #370 closed, assigned to nobody

[2016-10-24 21:24] ngokevin commented on #369
fixed added assets to ghpages script

[2016-10-24 21:24] #369 closed, assigned to nobody

[2016-10-25 04:28] ngokevin commented on #327
aframe PR does alt+s shortcut

[2016-10-25 04:28] #327 closed, assigned to nobody

[2016-10-25 14:15] feiss commented on #266
I know it's pretty different, but what about something like this?

![image](https://cloud.githubusercontent.com/assets/359872/19689505/ea9cfc12-9acd-11e6-8164-ce7d4ba9b23f.png)

Sorted in a table seems much more legible, you could use column headers for sorting, and it's easy to add more information in new columns without breaking the ui. For example, I added visibility and collapse icons.

The dr

[2016-10-25 14:18] fernandojsg commented on #266
I like it a lot even if it's a little bit too wide maybe? What about including some buttons on the top to toggle the visibility of the `type` and `components` columns so we could save some space if needed?

[2016-10-25 15:40] dmarcos commented on #266
componente might be missleading because no all of them will be represented in the icon list

[2016-10-25 15:58] fernandojsg commented on #266
Maybe we could encourage the components creators to provide an icon when registering theirs components on the `aframe-registry`.
In any case we could add a random color icon for the unknown components or even create a "gravatar" random style icon to associate with these unknown components.

[2016-10-25 16:36] fernandojsg commented on #348
@ngokevin it actually just a html selector right? in the way that there're no constrains on it.
Maybe a first version could consist on highlighting the matching entities on the scenegraph as we still don't support multiple highlight on the viewport.
The problem is that not all the selector will return an entity visible on the scenegraph, for example if using an asset selector.
Don't know if using

[2016-10-25 18:29] ngokevin commented on #266
That's a neat idea! The primary purpose of the scene graph is to find an entity, which puts emphasis showing primarily the ID/class. The type shouldn't take much space; every thing is inherently `<a-entity>`. The detail of the entity can be delegated to the right panel. Adding toggles to hide columns further complicates things (the visibility toggle is important though).

I do like the idea of mir

[2016-10-25 19:32] fernandojsg opened #377 "Multiple assets upload and select in assets dialog"

[2016-10-25 19:32] fernandojsg opened #378 "Replace already loaded asset from the assets dialog"

[2016-10-25 19:35] fernandojsg commented on #377
The main problem is how to deal with editing the IDs/preview of each one of the assets. Maybe generating an unique ID that you could modify after?

[2016-10-25 21:45] feiss commented on #266
that's the same screenshot from above, @ngokevin

[2016-10-25 21:49] fernandojsg commented on #266
@feiss he was so impressed! :P

[2016-10-25 21:56] ngokevin commented on #266
Yeah, I just re-posted to say I like that one.

[2016-10-26 22:34] ngokevin opened #381 "the `src` property type deprecated in favor of `asset` property type"
Support both for now, for launching the Asset Modal.

[2016-10-27 02:01] dmarcos opened #382 "Add button to export A-Frame scene to a hosting service"
... and get the URL back.

We can use `neocities` or `github gists`