[2016-10-27 10:17] fernandojsg commented on #381
How are we going to deal with the type of assets? `asset` could be an image, sound, model...
Maybe add some kind of "subtype" or maybe even specify the "widget" that you want to use for that value?

[2016-10-27 10:17] ngokevin commented on #381
Yeah, we'll add more subtypes. Just replacing `src` for now.

[2016-11-01 12:47] jacqueslelezard opened #385 "Camera inside another component"
Hi, I'm trying to make the following structure work:
[code]
The first a-entity is the main bloc the user control with his keyboard, the camera should move with it but let the user look around, the collada model should also move but shouldn't follow the camera direction.
Any idea why the camera doesn't work in this configuration ?

[2016-11-01 19:10] ngokevin commented on #385
Which part doesn't work?

[2016-11-01 19:26] fernandojsg commented on #385
@jacqueslelezard probably you want to include de model as a child of the camera entity?

[2016-11-02 11:05] jacqueslelezard commented on #385
When I put the camera inside another entity it doesn't display anything (using aframe 0.3.0). I'll post the complete sample in the afternoon.
(and to be more accurate I want to move the camera and the model together, but allow the user to look around while the model stay static).

[2016-11-03 18:44] caseyyee commented on #322
Yes, I just ran into this issue.

![clone](https://cloud.githubusercontent.com/assets/1560884/19980319/c36090d4-a1ba-11e6-8ca1-0e9daa503c54.gif)

In this image, i'm cloning the blue cone.  When I click the clone button, I get the original entity.

[2016-11-03 18:52] caseyyee opened #386 "Cannot select newly created entity in scene view."
![select](https://cloud.githubusercontent.com/assets/1560884/19980612/f0179b8a-a1bb-11e6-9600-6321bec78b3b.gif)

Steps to reproduce:

1. Create new entity.
2. Add geometry component.
3. Try to select element in scene view.

I can select the entity only by selecting it from scene graph.

[2016-11-06 01:13] fernandojsg commented on #386
@caseyyee are you trying on master? As this should be already fixed by https://github.com/aframevr/aframe-inspector/pull/352

[2016-11-08 00:18] mellinger opened #387 "Entity grip controls are too large when viewing from active camera perspective in photosphere"
The inspector is amazing, thanks for all the work on it.

In an effort to be able to place objects visually within a Photosphere in the A-Frame inspector, I want to be able to see things from the primary camera's POV. However, once you set the primary camera to "active" within the inspector, the grip controls relative to the size of the entities are comically large and unusable.

Steps:

1) Open t

[2016-11-08 20:22] fernandojsg commented on #340
At least to show somehow (maybe color) that we're already using one component on the scene.

[2016-11-08 20:47] dmarcos commented on #312
We should rename `Copy HTML` to `Copy Attribute` and the string result should be:

[code]

This way you can just copy and past in your html

[2016-11-08 20:51] fernandojsg commented on #282
@nucliweb do you mind helping us with this issue? Basically is styling the checkboxes similar to the rest of the widgets (dark grey and light blue)

[2016-11-08 21:01] dmarcos commented on #186
I would start just differentiating the color of default vs user modified values. It is the most bang for the buck. It's useful as a learning tool to answer questions like: How can achieve this cool effect with the material? You can look at the attribute and at a glance see the tweaked values that make that effect.

[2016-11-08 21:02] fernandojsg commented on #186
Right now in the "title" tooltip when you've your mouse over the attribute's name, you get:

[code]

I'll add also `default: 1`

[2016-11-08 21:08] fernandojsg commented on #71
@feiss already did some mockup about this so we're moving the discussion there
https://github.com/aframevr/aframe-inspector/issues/303

[2016-11-08 21:08] #71 closed, assigned to nobody

[2016-11-08 21:17] fernandojsg commented on #281
Toggle the panel it will make the UI looks faster, and the animation won't add any real value to the UI

[2016-11-08 21:17] #281 closed, assigned to nobody

[2016-11-08 21:21] fernandojsg commented on #96
We should modify aframe to convert material.repeat to vec2 type

[2016-11-08 21:24] fernandojsg commented on #124
Related to https://github.com/aframevr/aframe-inspector/issues/282

[2016-11-08 21:25] fernandojsg commented on #140
Related to https://github.com/aframevr/aframe-inspector/issues/90

[2016-11-08 21:26] fernandojsg commented on #145
Related to https://github.com/aframevr/aframe-inspector/issues/266

[2016-11-08 21:28] fernandojsg commented on #184
If we do that, we should have a reset option

[2016-11-08 21:29] nucliweb commented on #282
Yes 😉

[2016-11-08 21:32] fernandojsg commented on #14
We should add it to the curent <A-ENTITY> header probably. Or maybe below the "Add component" section where all the components will appear. Any ideas /cc @feiss

[2016-11-08 21:34] dmarcos commented on #14
Can we keep the `common` / `default`  entity components uncollapsed?

[2016-11-08 21:39] dmarcos commented on #45
Unity uses a camera icon:

![unity camera](http://www.turiyaware.com/blog/wp-content/uploads/UnityCamera.jpg)

[2016-11-08 21:44] dmarcos commented on #27
This is a differentiation with respect to native tools like Unity. Open, Edit and Share workflow is much harder in native

[2016-11-08 21:54] ngokevin commented on #96
https://github.com/aframevr/aframe/pull/2066

[2016-11-08 22:14] cvan commented on #27
Check out http://hyperdev.com/ too

[2016-11-09 12:08] feiss commented on #340
Maybe something like this? just the name of the origin on the right side. Check "collada-model-large" for an example of the case with a long name.

I would make components font color brighter (#a2a2a2) with a shadow of the same color as the selectbox background, so it covers better the origin word.

![image](https://cloud.githubusercontent.com/assets/359872/20137837/469c7c62-a67d-11e6-93db-e2751db

[2016-11-09 12:14] fernandojsg commented on #340
I was thinking about it and I believe it's more useful to know if the component is already loaded or not. Let's say you've 3 components in the registry called `physics-*` (physics-body, physics-ammo-body, physica-cannon-body...) from different implementations.
And you already loaded the `physics-ammo` library in your scene. If you want to add a physics body to an entity, you could write `physics b

[2016-11-09 12:24] feiss commented on #340
with a brighter color

![image](https://cloud.githubusercontent.com/assets/359872/20138222/73f43d92-a67f-11e6-9a3a-54923a775fb0.png)

However, I don't think this is really necessary (same with the origin of the component). It introduces some visual complexity that is not evident (why the brightness difference?), and does not provide such an important information (you can select another entity to c

[2016-11-09 12:33] feiss commented on #186
Highlighting the difference between default and changed values can be useful. Two subtle alternatives:

Adding a bullet to the property name:
![image](https://cloud.githubusercontent.com/assets/359872/20138453/bb9df2f4-a680-11e6-96a0-b344ba26e78f.png)

Slightly different value color.
![image](https://cloud.githubusercontent.com/assets/359872/20138458/bfbebd46-a680-11e6-8452-daf8c65843c2.png)

[2016-11-09 12:49] feiss commented on #28
Regarding mixins, I think the problem is that the name displayed is the name of a mixin:
![image](https://cloud.githubusercontent.com/assets/359872/20138721/31f58984-a682-11e6-85f1-946eb09fae61.png)

We could replicate the same visual style and behaviour of `Add Component`. It should display: `Add mixin...`, and then the `+` button is not longer necessary. Just when the user selects a mixin from t

[2016-11-09 15:41] feiss commented on #359
mm what about the default scene in aframe.io website? the A with the trees and all that.

[2016-11-09 18:29] dmarcos commented on #340
Eventually there might be multiple physics `components`: `physics-XXX`, `physics-YYY` and you want to apply the one you're already using in other entities in the scene. Going back to the other entities and look the name is a way to do that but could be error prone if the names of the components are similar. What about adding a small blue dot next to the component name in the list instead of the br

[2016-11-09 18:31] dmarcos commented on #186
It would be better if the changed values pop up even more. What about make the default values grayish and the modified ones blue?

[2016-11-09 19:32] fernandojsg commented on #186
I prefer changing the color of the value instead of adding a bullet next to the name, I also agree with @dmarcos I would prefer something more strong to diferentiate the default values from the rest.

[2016-11-09 19:33] fernandojsg commented on #340
Yep, that was my point. I would go for something subtle like @dmarcos proposed, a little dot right aligned in the component probably could be enough informative and won't mess the UI

[2016-11-09 19:34] fernandojsg commented on #28
@feiss nice idea, I like it! :+1:

[2016-11-11 19:45] caseyyee commented on #386
Seems to be working in master.   Thanks!

[2016-11-11 19:45] #386 closed, assigned to nobody

[2016-11-15 12:10] ngokevin opened #389 "Inspector CSS styles should only apply when the Inspector is open"
I am embedding A-Frame scenes into documentation.

1. I have an embedded scene where `body { margin: 0 16px }`.
2. I open the Inspector and close it.
3. The Inspector CSS styles are still applied (it adds `margin: 0` to the body, and `font-size: 12px`.

## Before

<img width="1433" alt="screen shot 2016-11-15 at 4 10 52 am" src="https://cloud.githubusercontent.com/assets/674727/20305274/86864f22-a

[2016-11-15 12:42] ngokevin opened #390 "Hovering over color widget should give me the HTML hex value"

[2016-11-16 22:41] ngokevin opened #391 "If the registry build fails to fetch, Inspector component panel doesn't work"
INSPECTOR.componentLoader.components is null, and Object.keys fails.

[2016-11-18 14:03] fernandojsg opened #395 "Add text input with color value"
Modify the color widget to allow entering the hex value manually

[2016-11-18 14:04] fernandojsg commented on #390
I've fixed it, but I've created another issue to include an input box to manually enter the value (https://github.com/aframevr/aframe-inspector/issues/395)

[2016-11-18 14:04] #390 closed, assigned to nobody

[2016-11-18 14:27] fernandojsg commented on #340
Some wip:
![image](https://cloud.githubusercontent.com/assets/782511/20433339/666ade12-ada3-11e6-99f4-1d058e50a8c8.png)

What do you think? Better to have the bullet next to the component's name or aligned to the right?
And what about the color? I'll add one hover description with something like `Component already loaded in the scene`

Yep, right now is aligned to the bottom of the line, but don't

[2016-11-18 15:36] feiss commented on #340
What about this?

![image](https://cloud.githubusercontent.com/assets/359872/20435405/42f372e2-adac-11e6-9925-2d74a9fce982.png)

![image](https://cloud.githubusercontent.com/assets/359872/20435500/a6fe5504-adac-11e6-8cf7-1604161cbfd7.png)

I think I prefer them aligned to the right, so they look less important

Active items in `blue`, `white` if item is selected
Unactive items in `#414141`, `#3772

[2016-11-18 17:10] dmarcos commented on #311
We need to consolidate all the fonts. Now we have some int SVG others from `fontawesome`... We will revisit this for 0.5.0

[2016-11-18 18:57] #340 closed, assigned to feiss, fernandojsg

[2016-11-18 19:10] fernandojsg commented on #322
@Utopiah @caseyyee could you give it a try using `master` branch? It seems it's fixed already and probably you were using an older version

[2016-11-19 08:32] dmarcos commented on #389
Love those embedded scenes in the docs :)

[2016-11-21 15:03] Utopiah commented on #322
@fernandojsg yes fixed here on master (still the case on aframe@0.4.0 though)

[2016-11-22 10:09] #391 closed, assigned to fernandojsg

[2016-11-22 10:09] #312 closed, assigned to fernandojsg

[2016-11-22 23:53] #322 closed, assigned to dmarcos

[2016-11-22 23:58] fernandojsg commented on #322
@Utopiah I believe it should be fixes right, could just give it a try? ;)

[2016-11-23 00:48] ngokevin commented on #320
This was because my slides has a `zoom` CSS property that was messing things up.

[2016-11-23 00:56] #389 closed, assigned to nobody

[2016-11-23 01:05] fernandojsg commented on #320
https://github.com/aframevr/aframe-inspector/pull/400 :)

[2016-11-23 01:14] #320 closed, assigned to fernandojsg

[2016-11-23 01:31] facultymatt opened #401 "Problems copying out html for individuals entities and entire scene"
There are a number of inconsistent behaviors my students and I are encountering when trying to use the inspector to edit scenes, some are listed below. I can provide some more details / screen grabs / etc.

- When copying the entire scene html (the top left button)
  - There is a google analytics script included
  - The inspector js file is included as a script tag AND as a property on a-scene.

[2016-11-23 10:22] Utopiah commented on #322
@fernandojsg confirm, works on master/0.4.0 too now

[2016-11-24 01:24] #310 closed, assigned to dmarcos

[2016-11-28 14:40] ngokevin opened #402 "Broken styles"
Working on preparing slides for a meetup. I found the latest Inspector has broken styles. The CSS canvas is not covering the height and width.

I also find clicking objects doesn't work well. I often click on an object, and nothing responds, and I have to fidget with the camera to get it to be selected. (last working at 07550209aee1441f102b4dece6d7464e1867b66f)

![1](https://cloud.githubuserconten

[2016-12-13 00:55] feiss commented on #282
Neat radio styling using css: http://codepen.io/triss90/pen/XNEdRe

[2016-12-13 15:58] nucliweb commented on #282
I just saw it yesterday in Codepen's mailing ;)

[2016-12-22 01:06] jsantell opened #404 "CSS color names appear as black in ColorWidget"
When setting a color property to a CSS color like 'white' or 'orange', the color widget displays it as black. The widget handles converting from the short hand hex variant `#333`, but does not handle color names, or HSL values.

I can write a quick patch for this, but wondering what's more desirable -- using a lib like [color-string](https://www.npmjs.com/package/color-string) (+14kb unminified, +

[2016-12-22 22:57] jsantell opened #406 "Gimbal mode not always changable via hotkey"
When I hit the hot keys (W, E, R) to change the position, rotation or scale in the viewport, even though the gimbal is visible, the mode does not change. For example, select an entity to display the gimbal -- when it first appears upon a new selection, the hotkeys do not work. Selecting the components view for focus enables the functionality. When selecting an entity, and there's no previous entit

[2016-12-22 23:04] jsantell commented on #406
The inspector decides on whether or not a shortcut should be triggered based off of `AFRAME.utils.shouldCaptureKeyEvent`, which checks that the meta key is not pressed and that the current document has focus. I think a potential improvement for this would be canceling events from hitting the window if they're not applicable (such as when the AddComponent filter has focus), so individual components

[2016-12-22 23:42] jsantell opened #408 "Typing an element name into a component's property widget throws an error"
Here's a weird one I ran into! Typing `a` into a text field (like geometry.mergeTo) or into an asset's location (material.ambientOcclusionMap) causes an error to be thrown, and the next key to wipe all input.

Typing `a`

[code]

Typing all(?) other elements like `div`, `canvas`

[code]

[2016-12-22 23:58] jsantell opened #409 ""Copy Entity HTML to Clipboard" does not work in the example"
Haven't dug in why it's only some entities that throw errors, but in the built in example (and some entities in my own scenes and the aframe examples), a few entities throw when copying:

`<a-scene />`
[code]

`<a-box />`
[code]

Have also seen errors with `addEventListener` and `removeChild` when attempting to copy, but on other entities it works fine.

[2016-12-28 01:42] fernandojsg commented on #406
I agree with the `Add Component...`, sorry it was my fault O:) When I first included the new `add component` widget my main use case was creating new entities and adding components to them so it was quite easy that way, but it's true that it's quite annoying that it takes constantly the focus.
I believe it's better to disable the autofocus and just add maybe add a shortcut to focus the `Add compon

[2016-12-28 02:13] #406 closed, assigned to nobody

[2016-12-28 04:19] jsantell opened #411 "Inconsistent core entity attribute ordering"
Possibly related to #303, but the ordering for core entity properties (position, rotation, scale, etc.) are inconsistenly ordered, I think by left-to-right assignment in the element. When manually editing values between several entities, I frequently edit the wrong field (expecting the ordering to be position, rotation, scale)

![ordering](https://cloud.githubusercontent.com/assets/641267/21513779

[2016-12-28 09:10] fernandojsg commented on #411
Do you mean that depending on the entity that you select the order is different?

[2016-12-28 17:25] jsantell commented on #411
Yes, sorry; the gif above is toggling between two different entities

[2016-12-28 17:51] jsantell commented on #27
How would this work (along with #382) when using local assets or scripts/components?

[2016-12-28 18:56] cvan commented on #27
With [budo](https://github.com/mattdesl/budo), browsersync, webpack, etc. dev tools, a local dev server could rewrite the routes.

[Gomix](https://gomix.com/) (formerly Hyperdev) offers a nice integrated Assets uploader that lets you reference assets locally and rewrites the paths to use absolute URLs on its CDN. Check out this boilerplate project: https://devilish-hip.gomix.me

Something similar

[2016-12-28 21:16] #411 closed, assigned to nobody

[2016-12-28 21:18] fernandojsg commented on #411
@jsantell I fixed it, I forgot to sort the common components as we do with the rest of the components :angel: good catch!

[2016-12-28 21:28] jsantell commented on #411
@fernandojsg thanks!

[2016-12-28 21:29] jsantell commented on #342
Maybe no longer necessary with #407?

[2016-12-28 21:33] fernandojsg commented on #342
Right!

[2016-12-28 21:33] #342 closed, assigned to nobody

[2016-12-29 12:12] fernandojsg commented on #409
@dmarcos could you take a look at it? It looks like a problem on `getClipboardRepresentation` when calling `flushToDOM` here:
https://github.com/aframevr/aframe-inspector/blob/master/src/actions/entity.js#L144

[2016-12-29 20:45] jsantell opened #412 "Add More Tests"
Right now, the tests are pretty light, which looks like it could've helped a handful of regressions or edge cases in newly implemented features, and can provide confidence on shipping changes. What are the future plans for this tool and how it relates to robustness? While the scenegraph seems a bit difficult to test (AFAICT), I think testing changing values in the tool and ensure it reflects in th

[2016-12-29 21:06] ngokevin commented on #412
I started the unit tests but haven't gotten around to fleshing them out. Simple unit tests covering the most obvious pieces would be a great start (with Jest + React test renderer). Redux was a nice-to-have to integrate for undo/redo and testability, but that's a ton of work. Would love help with tests!

[2016-12-29 21:13] ngokevin commented on #27
Local scripts can be XHRed and be turned into a script tag with innerHTML.

[2017-01-04 11:19] fernandojsg commented on #402
I've found the same issue on some windows machines, it seems to be related to https://github.com/aframevr/aframe-inspector/blob/master/src/css/main.css#L777
I believe we should use `zoom: 1` instead. Could you give it a try in your slides?

[2017-01-04 11:20] fernandojsg commented on #385
I believe this is not related to the inspector but aframe itself? Do you mind posting it on stackoverflow?
Thanks! I'm closing it

[2017-01-04 11:20] #385 closed, assigned to nobody

[2017-01-04 11:21] ngokevin commented on #402
Yeah, we found this a while back https://github.com/aframevr/aframe-inspector/blob/master/example/embedded-zoom.html

[2017-01-04 11:22] ngokevin commented on #402
Nevermind, different zoom issue.

[2017-01-04 11:31] fernandojsg commented on #402
Yes, with the `embedded-zoom` example I believed that `zoom: reset` should works, but now it doesn't seems to work on highres windows. In fact I've found that using 50% zoom on these machines shows the canvas correctly, I don't know why. I should investigate a bit more

[2017-01-04 11:56] fernandojsg commented on #408
It looks like it's trying to apply the elements found by a valid selector even if they're not aframe entities and/or assets. I believe it's something we should modify on a-frame and not in the inspector.
Probably in the inspector we could do some checking when you expect a selector to show if it returns a valid entity or at least if it returns something :)
/cc @ngokevin @dmarcos

[2017-01-04 12:48] jacqueslelezard commented on #385
@fernandojsg Ah you are right, it's aframe itself, sorry
I'll put this on stackoverflow as you suggested

[2017-01-04 13:12] #404 closed, assigned to nobody

[2017-01-04 13:13] fernandojsg commented on #385
@jacqueslelezard cool, thanks!

[2017-01-04 13:28] fernandojsg commented on #382
Duplicated? https://github.com/aframevr/aframe-inspector/issues/27

[2017-01-04 13:28] #382 closed, assigned to nobody

[2017-01-04 13:42] fernandojsg commented on #409
I've just updated to the latest aframe in the example and it seems to fix some of the issues, or at least modify the error :)
So far it works on entities that doesn't have maps, but in the ones that have maps like `a-box` or `floor` it throws:
[code]

[2017-01-04 14:29] dmarcos commented on #27
I would not handle local stuff for V1. The use case would be similar to codepen. Open an existing online scene, tweak it and share it.  We can later look at more advanced stuff

[2017-01-04 14:45] dmarcos commented on #408
In the case of `mergeTo` of geometry the field is a selector and it should be up to the component to check if the element is a valid one. In the case of properties of the type `asset` we might want to verify if the returned element is a valid asset element.

[2017-01-04 14:46] dmarcos commented on #412
Yes, please tests :) In `a-frame` core the unit tests have served us well.

[2017-01-04 14:47] fernandojsg commented on #408
Regarding `asset` the check should be done by the inspector or by aframe? It should check both if it's an `a-asset` or a valid url right?

[2017-01-04 18:31] dmarcos commented on #408
This should probably fixed on aframe core. I'll do a PR

[2017-01-05 01:31] dmarcos commented on #408
I fixed the first case in https://github.com/aframevr/aframe/pull/2243

For the second case the `asset` and `map` property types don't take a random selector just `#id` to an item in `a-assets` or an URL. The documentation is a misleading. @ngokevin is improving it

https://aframe.io/docs/0.4.0/core/component.html#schema_asset

[2017-01-05 01:54] dmarcos opened #414 "a-scene should not have the clone icon"
![clone scene](https://d3vv6lp55qjaqc.cloudfront.net/items/3s2W0t0L073K1j2W103g/Image%202017-01-04%20at%205.53.41%20PM.png?X-CloudApp-Visitor-Id=87464590404ee1db809f53b3bb358032&v=698c85eb)

[2017-01-05 02:15] dmarcos opened #415 "Touch event errors on console (Firefox)"
Just running the example (index.html)
![event errors](https://d3vv6lp55qjaqc.cloudfront.net/items/3Q0T3G1V1b3d3o3D0M0J/Image%202017-01-04%20at%206.14.10%20PM.png?X-CloudApp-Visitor-Id=87464590404ee1db809f53b3bb358032&v=fae7cd8e)

[2017-01-05 02:55] dmarcos commented on #409
This one is trickier than I thought and I'm a bit surprised we did not see the problem before. The issue is that `updateMap` relies on `sceneEl` being available. The `Copy Entity HTML to Clipboard` feature clones the selected entity to avoid undesired modifications and manipulates it to remove default and mixed in values. The cloned entity is not part of `a-scene` so `updateMap` does not find the

[2017-01-05 10:19] #415 closed, assigned to nobody

[2017-01-05 10:26] #51 closed, assigned to nobody

[2017-01-05 10:26] fernandojsg commented on #414
Closed by https://github.com/aframevr/aframe-inspector/commit/a96923ccec3483b0fe13e7ee6a497ea90c233fb7

[2017-01-05 10:26] #414 closed, assigned to nobody

[2017-01-06 01:43] kfarr opened #416 "Display of properties (position, scale, etc.) limited to 2 decimal places, would be nice to be 3 or user specified"
A lot of the objects i'm working on have scales that are <0.01 and it makes adjusting them in the inspector very difficult.

[2017-01-06 01:44] ngokevin commented on #416
An idea would be dragging horizontal would adjust the value, and dragging vertically would adjust the scale of the horizontal adjustment.

[2017-01-06 01:45] kfarr commented on #402
I still see this issue projects with newest aframe master, for example here:
![screenshot 12](https://cloud.githubusercontent.com/assets/470477/21704480/9da5b8b6-d36e-11e6-87cc-0762decf2785.png)

[2017-01-06 01:46] kfarr opened #417 "Inspector shown in stereo when entering while in VR mode"
When entering the inspector while still in VR mode the inspector shows a stereo (L/R camera) view. This is not helpful as the inspector is used on the desktop. Workaround is to exit VR mode before entering inspector, but sometimes I want to "freeze" the layout immediately from my VR device orientation which makes it difficult to exit VR prior to opening inspector. Screenshot:
![screenshot 12](http

[2017-01-06 01:48] dmarcos commented on #409
I fixed this on https://github.com/aframevr/aframe/pull/2250. Try https://aframe.io/aframe/dist/aframe-master.js and close the issue if the bug is gone.

[2017-01-06 01:51] dmarcos commented on #416
We could add `precision` to the schemas to specify the number of decimal points. e.g: `near: {default: 0.005, min: 0, precision: 3}`

[2017-01-06 05:03] jsantell commented on #409
Firing the copy for the `<a-box>` element with the new aframe master causes a
`el.sceneEl is undefined` in aframe's `updateMap` and the `<a-scene>` element throws:

[code]

I'll dig more into this later

[2017-01-06 23:45] dmarcos commented on #409
@jsantell  `<a-box>` is working for me.

There's another problem with `<a-scene>` that https://github.com/aframevr/aframe-inspector/pull/418 fixes

[2017-01-07 01:27] dmarcos commented on #409
I believe everything should be working now.

[2017-01-07 01:30] dmarcos commented on #408
I think no further action is required here. The case where a random selector is passed on a asset type. property is not valid. @ngokevin has updated the docs to make it clear (https://aframe.io/docs/0.4.0/core/component.html#schema_asset) @fernandojsg feel free to close if everything looks good to you

[2017-01-07 23:35] fernandojsg commented on #409
@jsantell it's working here too, the problem was that it was an error deploying the latest `aframe-master.js` now it's deployed correctly and it fixes the issue.

[2017-01-09 15:43] #408 closed, assigned to nobody

[2017-01-10 11:35] #417 closed, assigned to nobody

[2017-01-10 14:11] fernandojsg commented on #395
Fixed on https://github.com/aframevr/aframe-inspector/pull/413

[2017-01-10 14:11] #395 closed, assigned to nobody

[2017-01-24 00:23] miquael opened #423 "Component panel parameter values not updating to scene graph"
When entering in a entity ID on right-side panel, it does not update the entity name in SceneGraph.  It appears this used to work in 0.3.2 but is now broke in 0.4.0

[2017-01-24 19:46] miquael commented on #423
Also in inspector 0.4.0, after adding a new entity to the scene, and then (say for example) adding an obj model to it--when copying the entity code from the component panel, i get something like this:

`<a-entity scale="" material="normalScale:{&quot;x&quot;:1,&quot;y&quot;:1}" obj-model="obj:/images/model/Stanford_Lucy_Angel.obj"></a-entity>`

But then if exporting the entire scene as an HTML fil

[2017-01-24 19:47] miquael commented on #423
Seems there may be an underlying issue with how the right-side component panel is / is not updating property values to the scene?

[2017-01-29 03:00] mingweichan commented on #300
Definitely use this heaps. Been trying to find out how to do this, which is why I landed on this page.

[2017-02-01 09:28] Utopiah commented on #184
could use something like https://utopiah.github.io/aframe-persist-component/

[2017-02-01 09:32] Utopiah commented on #27
Had a similar discussion this morning, definitely needed. Newcomers have usually no sysadmin skills so being able to visually edit a scene get them very excited until they try to save their result and get completely lost.

What about sending UploadCare then referring to it like with Apainter?

[2017-02-01 22:14] cvan commented on #27
A few services to point to:

* https://gomix.com/community supports backend + frontend, with a built-in Asset uploader
* https://esnextb.in/ supports ES6, npm packages, etc.
* https://runkit.com/docs/endpoint is similar
* http://requirebin.com/ is similar
* https://thimble.mozilla.org/ and https://codepen.io/ use [CodeMirror](https://codemirror.net/)
    * Thimble has a kind-of file manager
    *

[2017-02-02 16:38] Utopiah commented on #27
Naive version https://www.youtube.com/watch?v=CFH7cK1tJME

[2017-02-02 19:01] dmarcos commented on #27
@Utopiah nice! Can you describe a bit the approach?

[2017-02-02 19:16] Utopiah commented on #27
@dmarcos shamefully basic

1. endpoint that saves the HTML to an .html file then sends back the URL to the inspector
1. inspector send the HTML to the endpoint then open pages with received URL

cf https://vatelier.net/MyDemo/aframe-inspector/saving/doc.html

PS: can use <a-scene inspector="url:https://vatelier.net/MyDemo/aframe-inspector/saving/js/aframe-inspector.js"> for testing (make sure to g

[2017-02-06 00:29] dmarcos commented on #409
Reopen. It seems that this feature is broken again.

[2017-02-06 11:00] vershwal opened #425 "Outline of object remains even after deleting it"
I came across this issue while browsing.
In the example page, if we delete the biggest box, its outline seems to remain there and is clickable.

![screenshot from 2017-02-06 16-31-48](https://cloud.githubusercontent.com/assets/17474532/22644663/6945b34e-ec89-11e6-8030-ce6491ef7593.png)
![screenshot from 2017-02-06 16-32-02](https://cloud.githubusercontent.com/assets/17474532/22644664/6948cffc-ec89

[2017-02-06 16:33] dmarcos commented on #409
Steps to reproduce:

1. Go to https://aframe.io/aframe-inspector/example/#
2. Click on the `floor` entity and copy to clipboard

The obtained result is:
```<a-entity id="floor" geometry="mergeTo:null;primitive:cylinder;height:0.2;radius:12" material="repeat:[object Object];color:#fafafa;metalness:0.2;normalScale:{&quot;x&quot;:1,&quot;y&quot;:1};roughness:0.1;src:assets/textures/grasslight-big.jpg

[2017-02-07 09:43] fernandojsg opened #427 "Show the selected texture on texture dialog"
When you click the preview icon on a texture widget (https://github.com/aframevr/aframe-inspector/pull/376), it will launch the texture dialog and it should show the current selected texture.

[2017-02-07 09:44] fernandojsg opened #428 "Add a "open in a new tab" button on texture modal"
Add the button on every texture

[2017-02-07 10:26] feiss commented on #428
mockups:
![image](https://cloud.githubusercontent.com/assets/359872/22687387/193353a8-ed28-11e6-82d9-a928307eada6.png)
![image](https://cloud.githubusercontent.com/assets/359872/22687414/34f17b56-ed28-11e6-86b4-12a99bc399fb.png)

[2017-02-07 10:27] fernandojsg commented on #428
I like the first design. Probably with a more subtle background for the icon or even just with the icon in white and without background, just a soft shadow. The second one is hard to notice

[2017-02-07 10:28] feiss opened #429 "Add a "remove" button on each texture in texture modal"
In the texture dialog, there's no way of removing images from the scene, there should be a remove icon. A check would be necessary to see if it is referenced anywhere, and ask user confirmation:

_This texture is being used entity xx. Do you want to remove it?"_

[2017-02-07 10:29] feiss commented on #428
think that we will add another button for "delete", and it would probably be an X icon in the same corner.

Maybe a good option is to add a toolbar on top of each texture that is shown on hover, and that will have both buttons, and will be good enough for adding additional buttons

[2017-02-08 13:47] #427 closed, assigned to nobody

[2017-02-08 14:03] fernandojsg commented on #428
My proposal, less distracting?
![image](https://cloud.githubusercontent.com/assets/782511/22740333/97d7f7e4-ee0f-11e6-973a-370eee9b342f.png)

[2017-02-08 14:03] #428 closed, assigned to nobody

[2017-02-08 19:58] fernandojsg commented on #402
@ngokevin @kfarr could you verify if it's already working correctly with the changes in https://github.com/aframevr/aframe-inspector/pull/421 ?

[2017-02-08 20:00] fernandojsg commented on #359
@feiss I would prefer something adhoc, with more components to play with, like text, some skybox, jsonmodels and basic primitives around, so simple but looking good
Also the default scene in aframe.io is using a camera that imitates isometric view and I would prefer more first person view

[2017-02-08 20:08] fernandojsg commented on #331
Fixed by https://github.com/aframevr/aframe-inspector/pull/376

[2017-02-08 20:08] #331 closed, assigned to nobody

[2017-02-08 20:08] fernandojsg commented on #155
Fixed by https://github.com/aframevr/aframe-inspector/pull/376

[2017-02-08 20:08] #155 closed, assigned to fernandojsg

[2017-02-08 20:10] fernandojsg commented on #2
@dmarcos could you take a look at it? As I believe it may be related with the work you did on the copy to clipbard

[2017-02-08 20:12] fernandojsg commented on #96
Fixed! thanks

[2017-02-08 20:12] #96 closed, assigned to nobody

[2017-02-08 20:16] fernandojsg commented on #14
@feiss could you help here with some feedback on where to put the collapse/uncollapse all icon? I guess on the top bar of the A-Entity?

[2017-02-08 20:19] fernandojsg commented on #186
@dmarcos @feiss maybe saving the current blue color for the changed values and use a darker color for the default values?

[2017-02-08 20:22] fernandojsg commented on #228
I need some help here with the dropdown menu on the `+` icon on the scenegraph, basically it will show a list of presets (sphere, cube, plane, light, etc...)
/cc @feiss @nucliweb

[2017-02-08 20:23] fernandojsg opened #430 "Registry modal"
Should we include a modal with a specific style for the aframe-registry as the following mockup?
![image](https://cloud.githubusercontent.com/assets/782511/22755758/c9c754fe-ee44-11e6-911c-b658d4609b16.png)

[2017-02-08 20:24] fernandojsg commented on #317
I've created a new issue as this is already working with the registry + autocomplete combobox for adding components, but the dialog for the registry it's a completely different conversation https://github.com/aframevr/aframe-inspector/issues/430

[2017-02-08 20:24] #317 closed, assigned to nobody

[2017-02-08 20:32] fernandojsg commented on #207
Related https://github.com/aframevr/aframe-inspector/pull/426 @cvan maybe you have an idea on how to detect if it's an OSX or a Windows in order to use `CMD` or `CTRL` for the shortcut?

[2017-02-08 22:38] dmarcos commented on #2
This warning is expected since the schema has changed. I'm not super fan of removing any attributes since it might surprise the user.

[2017-02-08 22:57] fernandojsg commented on #2
Yes I'm not sure about removing the attributes either, I feel like it's nice as you're just removing attributes not used with the current schema, but on the other hand it's true that you could delete an attribute that the user could need later, like having a `sphere` with `radius=10`, switching to `box` by mistake and then back to `sphere` and the `radius` value is gone...
@ngokevin what do you th

[2017-02-08 22:58] ngokevin commented on #2
Yeah, I'd close. Wouldn't mess with user code. Maybe they expect to change schema later or something.

[2017-02-08 22:59] fernandojsg commented on #2
Cool, thanks!

[2017-02-08 22:59] #2 closed, assigned to nobody

[2017-02-09 02:20] feiss commented on #61
I think that a hotkey for toggling **all** entity names in the 3DView can be useful for some people. It is a simple action that does not interfere with anything else in the UX, and allows future things like what @arturitu proposes.

I'd show all entity names in white/light gray, and current selection in blue. They would look at always to the camera, constant size, positioned in the local origin of

[2017-02-09 07:51] kfarr commented on #402
I am still seeing the attached, this is using A-Frame Version: 0.4.0 (Date 09-02-2017, Commit #27713c2) on this url http://aframe-city-firebase.surge.sh/nofirebase.html
![screenshot 45](https://cloud.githubusercontent.com/assets/470477/22773905/70a970cc-ee59-11e6-9f5b-1ea7a99ab571.png) on firefox nightly and chrome (mainstream release)

[2017-02-09 08:32] #175 closed, assigned to nobody

[2017-02-09 09:19] fernandojsg commented on #316
All the functionality described here is already implemented

[2017-02-09 09:19] #316 closed, assigned to nobody

[2017-02-09 10:24] #247 closed, assigned to nobody

[2017-02-09 10:28] fernandojsg commented on #61
I'm not sure about showing all the IDs at once, I believe it could looks quite messy as they could overlap umm I should give it a try. In any case I'll move this to 0.6.0 as I think is quite low priority feature by now

[2017-02-09 11:40] feiss commented on #14
Mm.. I don't see any good place to put it, honestly :/

What about shift+click (or middle click)?  If you shift+click on a collapsed header, it opens all headers. If you shift+click on a opened header, it closes all headers. It would be a feature not available in touchscreens, but it's not an important feature..

[2017-02-09 11:43] feiss commented on #299
you can change colors, apparently!
http://stackoverflow.com/questions/30162023/gridhelper-axis-different-colours

[2017-02-09 12:09] feiss commented on #228
I think using something like the dropdown list of components is cool enough. Dark background, blue highlighting.

![image](https://cloud.githubusercontent.com/assets/359872/22782867/64725240-eec9-11e6-80b2-2123c2f85734.png)

[2017-02-09 12:10] dmarcos commented on #228
Should all the dropdowns be consistent? Either centered or aligned to left?

[2017-02-09 12:12] feiss commented on #228
who said centered? ^_^

[2017-02-09 12:17] fernandojsg commented on #228
I like it! PR please! :P

[2017-02-09 12:44] fernandojsg commented on #299
@feiss Yep, it was a legacy code from the previous versino of threejs where we couldn't change the color, but in the current version is possible to change the color. Just let me know which colors do you prefer and I'll change them ^_^ or feel free to do a PR: https://github.com/aframevr/aframe-inspector/blob/master/src/lib/viewport/index.js#L40

[2017-02-09 13:01] fernandojsg commented on #266
I really like the proposal by @feiss my main concern is about a real use case, where most of the components won't have an `ID`. Maybe having both in the same column similar to:
![image](https://cloud.githubusercontent.com/assets/782511/22784420/4164ad8c-eed0-11e6-92e1-7db2892f62ff.png)

[2017-02-09 13:44] Utopiah opened #433 "saveSceneToHTML() exports with an inactive camera, making an empty looking scene"
It's possible to fix it starting and closing the inspector or making the camera active `document.getElementById('camera').setAttribute("camera", "active:true")` but it would be more natural to change the camera to active on export (either on `saveSceneToHTML()` or even `generateHtml()`.

[2017-02-09 15:42] fernandojsg commented on #207
Fixed on https://github.com/aframevr/aframe-inspector/pull/426 and https://github.com/aframevr/aframe-inspector/pull/435

[2017-02-09 15:42] #207 closed, assigned to fernandojsg

[2017-02-09 16:53] feiss commented on #228
[code]

[2017-02-09 16:54] fernandojsg commented on #228
I believe it needs a larger `z-index`:D

[2017-02-09 16:55] feiss commented on #228
http://s2.quickmeme.com/img/88/88f0f2bf2507cf431bf6b63e9f15a4e5b4205bd1ce57f995016c5e75265093a5.jpg

[2017-02-09 18:44] fernandojsg commented on #266
a WIP version messing with @feiss 's idea
![image](https://cloud.githubusercontent.com/assets/782511/22797818/0602cae6-ef00-11e6-8420-b142578fc1ed.png)

[2017-02-09 18:50] fernandojsg commented on #266
Using light grey instead of white for the IDs
![image](https://cloud.githubusercontent.com/assets/782511/22798090/00f8ff1a-ef01-11e6-95c0-5f81a6a020f5.png)

[2017-02-09 19:37] vershwal commented on #425
I think this is related to 'objectremoved' event never being called.
The event handler can be found [here](https://github.com/aframevr/aframe-inspector/blob/master/src/lib/viewport/index.js#L354).

However, this event doesn't seem to be emitted when an object is deleted.

Hence the objects array still contains the mesh and computes it [here](https://github.com/aframevr/aframe-inspector/blob/master

[2017-02-09 19:49] fernandojsg commented on #266
Darker color for non-visible entities
![image](https://cloud.githubusercontent.com/assets/782511/22800304/2f64adce-ef09-11e6-92f7-fecc4e2c1c53.png)

[2017-02-09 22:29] feiss commented on #266
cool, I think it's a nice solution. Are you going to include all the other component icons?

[2017-02-09 22:31] ngokevin commented on #266
Do we need the tag name if everything is pretty much `<a-entity>` and that's what we promote using? Or maybe only show the tag name for primitives.

[2017-02-09 22:40] fernandojsg commented on #266
@ngokevin I like that idea, i've removed all the `<a-entity>`, showing them just in the cases where the entity doesn't have an ID:
![image](https://cloud.githubusercontent.com/assets/782511/22806086/b5a9379e-ef20-11e6-8d7c-c1e6efc1beb4.png)

@feiss I'll add them in a similar way as you proposed but I didn't have time to add the columns. Maybe we could remove them in this release and work on that f

[2017-02-09 22:57] fernandojsg commented on #409
It seems that https://github.com/aframevr/aframe/pull/2357 fixed the `[object object]` issue, but the `&quot;` is still there:
[code]

/cc @dmarcos @delapuente

[2017-02-09 23:12] fernandojsg commented on #409
I've just noticed that if you click on an entity and modify the common attributes `position`, `rotation` and/or `scale` they won't appear on the clipboard representation :\

[2017-02-09 23:55] feiss commented on #102
my 2 cents:

`tab` for toggling both scenegraph and attributes (like in Photoshop)
`1` for toggling scenegraph
`2` for toggling attributes

(so we can use other numbers for future panels)

[2017-02-10 00:25] fernandojsg commented on #102
What about `a` for `attributes` panel and `s` for `scenegraph` and they're quite close to each other. I'm not sure about `1,2`because I always feel that they're like too sensitive shortcuts maybe for something more "important" or that you'll be doing more often?

[2017-02-10 00:57] feiss commented on #102
I don't feel they are sensitive shortcuts, they aren't usually used as shortcuts really, are they?

`a` and `s` are visually reversed of where the panels are :/   ..what about `o` `p` (outliner, properties)?

[2017-02-10 10:52] fernandojsg opened #439 ""uploadcare is not defined" error"
My fault, I forgot to include the code to inject the uploadcare js in case is not still injected, as in the example I was including it directly on the html.

It throws the following error if you try to use outside the example:
[code]

[2017-02-10 11:17] #439 closed, assigned to nobody

[2017-02-10 16:38] #145 closed, assigned to nobody

[2017-02-11 19:55] vershwal commented on #298
@feiss Could you check the copy/paste selection shortcut?
https://github.com/aframevr/aframe-inspector/pull/426

[2017-02-11 23:31] feiss commented on #298
@vershwal this is current layout in master. Everything works nice. Fernando even added a `cut` functionality. Will be available very very soon, thanks! 👍

![image](https://cloud.githubusercontent.com/assets/359872/22858332/702170ba-f0ba-11e6-9cd9-f9879d3a7f6c.png)

[2017-02-12 04:41] vershwal commented on #298
Yes I saw the cut functionality. It works great.

Also by check I meant ticking the copy/paste dialogue in the issue above (Marking it as resolved). Wrong choice of words I guess.

I think you have checked it.

Thanks

[2017-02-12 05:26] brodavi opened #446 "The inspector button get stuck on "Loading inspector" when used with 0.5.0"
Hitting Ctrl-Alt-i to open the inspector opens the inspector successfully but the "back to scene" button never appears. It remains at "Loading inspector" and does not change.

http://codepen.io/anon/pen/EZOGad?editors=1000

[2017-02-12 08:23] kfarr commented on #446
I am seeing the same thing, for me the inspector screen is all white and the scene disappears until I press esc or ctl-alt-i again

I also see this on console:
`inspector.js:60 Uncaught DOMException:
Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node. at NewComponent.hideLoader (https://rawgit.com/aframevr/aframe/master/dist/aframe-master.js:68561:13)

[2017-02-12 16:16] brodavi opened #447 "Inspector handles fire "componentchanged" event for their respective property on mouseover, even when inspector is closed"
To reproduce:

1) View [http://codepen.io/anon/pen/VPqpjo](http://codepen.io/anon/pen/VPqpjo) and open the browser's console (logs don't fit in codepen console)
2) Hit `ctrl-alt-i`  to activate the inspector
3) Select the cylinder from the object list on the left, notice the handles appear for the cylinder (defaulted to position handles)
4) Mouseover the handles and notice the console log report t

[2017-02-12 16:23] brodavi opened #448 "Inspector has "Export to HTML", would be nice to have an "Import from HTML""
Inspector has "Export to HTML", would be nice to have an "Import from HTML".

Not much else to say :)

[2017-02-13 08:28] fernandojsg commented on #446
I've just created a PR that I believe it should fix it https://github.com/aframevr/aframe/pull/2380
Thanks for reporting!

[2017-02-13 09:27] #446 closed, assigned to nobody

[2017-02-13 09:42] #425 closed, assigned to nobody

[2017-02-13 11:04] #447 closed, assigned to nobody

[2017-02-13 11:05] fernandojsg commented on #447
@brodavi thanks for reporting it with the nice steps to reproduce, really appreciate it!
I believe it's fixed by https://github.com/aframevr/aframe-inspector/pull/449, still not deployed yet though

[2017-02-13 11:08] fernandojsg commented on #266
Fixed in https://github.com/aframevr/aframe-inspector/pull/437

[2017-02-13 11:08] #266 closed, assigned to nobody

[2017-02-13 13:42] delapuente commented on #409
I'll take a look.

[2017-02-13 15:01] fernandojsg commented on #423
Hi @miquael the ID sync bug is already fixed on master,
Regarding the second comment, we're working on it, please keep an eye on the updates on this issue https://github.com/aframevr/aframe-inspector/issues/409

[2017-02-13 15:01] #423 closed, assigned to nobody

[2017-02-13 15:51] #102 closed, assigned to nobody

[2017-02-16 08:40] feiss opened #451 "hide all / show all"
The new visibility icons in the scenegraph are neat, but what if you only want to show one item? Right now you have to hide every other items by clicking on the eye icon, which is quite unconvenient.

I propose adding a `shift+click` option to the eye buttons: if the item is visible, it would hide ALL items. If the item is hidden, it would show ALL items.

[2017-02-16 09:09] fernandojsg commented on #451
Yep I was thinking about the same when I was implementing it, like a SOLO option in the sequencers, but I didn't know if it was handy using the same shortcut to recover them all

[2017-02-16 18:08] machenmusik commented on #409
mchen [12:55 PM]
with latest inspector, when i create an entity then click the button to copy entity HTML to clipboard, position and scale are not coming across (rotation either, but here I didn't change)... and a few unchanged / superfluous properties are included (mergeTo, normalScale)
`<a-entity position="" scale="" id="endtable" geometry="mergeTo:null;depth:10;height:0.1;width:10" material="op

[2017-02-17 12:43] delapuente commented on #409
That's the expected behaviour since you are representing double quotes inside double quotes. Try this code to check:

[code]

Problem is that normal scale should not be represented that way if it is an A-Frame `vec2` type. Let's keep this bug as solved and see what happens in A-Frame.

[2017-02-17 14:24] machenmusik commented on #409
no, big problem in that case was actually that position and scale were not correctly included in export, and that mergeTo and normalScale were default so should have been absent

[2017-02-17 15:49] delapuente commented on #409
Noted. That's a different problem. Let's open another bug for that.

[2017-02-17 16:44] delapuente opened #452 "`null` component properties that default to `null` are being included in the clipboard representation"
STR:
  1. Run the example in the inspector.
  2. Select the floating blue box
  3. Copy to clipboard.
  4. Paste

Expected:
[code]

Actual:
[code]

[2017-02-17 16:45] delapuente opened #453 "Default components are not being included in the clipboard representation even if they are modified"
STR:
  1. Run the example that comes with A-Frame inspector.
  2. Select the floating blue box
  3. Copy to clipboard
  4. Paste somewhere

Expected:
[code]

Actual:
[code]

[2017-02-17 16:51] dmarcos commented on #409
Closing this. Follow up issues https://github.com/aframevr/aframe-inspector/issues/453 and https://github.com/aframevr/aframe-inspector/issues/452

[2017-02-17 16:51] #409 closed, assigned to nobody

[2017-02-20 22:16] dVurpillot opened #454 "Display problem with gltf mesh"
Hello,

I was wondering if I was the only one having trouble displaying glTF mesh inside the inspector viewport.
I tried with a few models and it happened each time: the bounding box appears to be "ok" but the mesh itself is "stuck" in the background.

[example](http://tof.canardpc.com/view/d298339e-b768-4c27-ad6a-8439a4a964cd.jpg)

Best,

[2017-02-20 22:45] fernandojsg commented on #454
Hi @nazga could you post a codepen or similar with the scene in the example and the assets that you use?

[2017-02-21 07:51] dVurpillot commented on #454
It really is a basic scene as you can see: [https://codepen.io/nazg/pen/KaQYrv](https://codepen.io/nazg/pen/KaQYrv)

I was only testing gltf implementation. I tried to use 0.3.0, 0.4.0 and 0.5.0, but error persisted.
As  for the model, you can grab it [here](https://expirebox.com/download/ecbc250540bb4b4ac220c7971ff13d75.html)

[2017-02-24 07:32] kfarr commented on #402
![screenshot 8](https://cloud.githubusercontent.com/assets/470477/23294419/3b045e82-fa20-11e6-8e9e-443e678e7c51.png)
Chromium latest webvr build (Feb 17) working!

A-Frame Version: 0.5.0 (Date 19-02-2017, Commit #7c011bd)

[2017-02-24 18:36] crcdng opened #456 "A-Frame Inspector injects HTML character references into JavaScript code"
To replicate:

Open an A-Frame scene that contains a `<script>`, e.g [https://gist.github.com/i3games/ea009e190e5bf80c0a7ea7994f1f136f](https://gist.github.com/i3games/ea009e190e5bf80c0a7ea7994f1f136f)

Activate the Inspector. Copy the scene to clipboard or export as HTML. The Inspector injects HTML character references into the JavaScript. Here, the result is  [https://gist.github.com/i3games/378

[2017-02-27 23:09] Hitschm commented on #113
Not sure if this plays into your issue. But I would suggest that the inspector centers on the position that the active camera had before the inspector was activated. That way it's possible to go trough the scene, find an object that needs to be changed and then switch to the inspector and change it. Closing the inspector would drop you back into the scene were you left it. This would drastically e

[2017-02-27 23:17] Hitschm commented on #300
Same here. I was looking for a way to go to a certain entity in the list where I'm either not exactly sure where it is or where it is hundreds of meters away from the center (where the inspector opens). So if the camera moved to the selected object it would already help a lot to traverse the scene in inspector mode.
Being able to move the inspector camera view trough the scene with keys/mouse woul

[2017-03-02 22:24] ngokevin opened #457 "Inspector canvas size not full in reveal.js/presentation context"
This has regressed from v0.3.x where it previously worked. I don't have a hosted version of a presentation with A-Frame v0.5.0 yet, let me know if you need.

<img width="1432" alt="screen shot 2017-03-02 at 2 23 11 pm" src="https://cloud.githubusercontent.com/assets/674727/23529798/d3767abe-ff53-11e6-876c-29e9df0fcd7e.png">

[2017-03-03 11:02] feiss opened #458 "inputs don't capture keystrokes with tab,1,2"
so panels keep showing/hiding when typing inside inputs.

[2017-03-03 11:06] feiss commented on #454
@nazga could you upload the model anywhere else? that link expired.

But very probably is a problem with shaders. When you export the gltf with shaders in the materials, they are not rendered correctly. Is a known issue in Threejs

I recommend you to use standard materials, exporting the asset to collada and then using `collada2gltf -f file.dae -k`. The `-k` parameter forces to use standard materi

[2017-03-03 20:54] #458 closed, assigned to nobody

[2017-03-03 21:58] dmarcos opened #460 "I cannot input the number 2 in the string component properties using the component panel"
The key `2` is used as a shortcut to close the component panel. If I click on a string property like `mergeTo` in geometry or `color` in material and type the number 2 the component panel is closed instead of modifying the corresponding input field

[2017-03-03 22:01] fernandojsg commented on #460
Duplicated: https://github.com/aframevr/aframe-inspector/issues/458
I just forgot to deploy it O:)

[2017-03-03 22:01] #460 closed, assigned to nobody

[2017-03-07 11:59] feiss opened #461 "Entities still selectable when not visible"
If you hide an entity you can still select it by clicking on the area where it is in the scene. The expected behaviour is to be hidden from direct selection too (but being always selectable in the scenegraph, of course)

[2017-03-07 12:25] feiss opened #462 "material 'repeat' parameter is not reflected on scene until a shader change"

[2017-03-07 16:09] dVurpillot commented on #454
Sorry for the delay: [gltf mesh](https://mega.nz/#!UNImjISL!Q_G__1N0kLvo7HfNvsx-Gs6yLyTHgGhR197jEf9zeBQ) and the [regular mesh](https://mega.nz/#!kZoRFQpQ!bFPN6icbrOBOlVF4sxOfpFmIpxIhQqhhUU06RaYfp3g).

I'm using the `obj2gltf` converter right now, I will give a try to your suggestion if it can fix the problem.

[2017-03-31 04:56] donmccurdy commented on #454
@nazga I can confirm the problem is shaders in the model. Currently `obj2gltf` does not have an option to use standard materials instead of custom shaders. If you can convert to DAE, then DAE->glTF should work with the `-k` option. Otherwise, the issue has been fixed in the next version of three.js (whenever that is released and then lands in A-Frame).

[2017-03-31 06:23] dVurpillot commented on #454
Thank you, I was again struggling with this issue yesterday.

For some reason, going from .obj -> .dae ->  .gltf through the collada2gltf never works correctly for me.

I always get a faulty gltf file (binary or not) that does not work/load with the three.js gltf viewer I am using to check my meshes.

I will just use another format and wait for it to work with  obj2gltf.
By the way, does Aframe ha

[2017-03-31 07:54] fernandojsg commented on #454
@feiss @donmccurdy @nazga so can we close this right?

[2017-03-31 08:34] feiss commented on #454
@fernandojsg I think so, although nazga has more questions (and I don't know the answer, maybe @donmccurdy does)

@nazga did you tried opening the obj in blender, exporting to collada and then collada2gltf?
btw, the model looks too big for a vr experience, it is 200 meters long..

[2017-03-31 10:30] dVurpillot commented on #454
Yes, I suggest we close this issue:
- For the moment, the only workaround would be the [collada2gltf](https://github.com/KhronosGroup/COLLADA2GLTF) option.
The obj to collada problem would be on my side. Also, you can't use the -k argument in [colladaobj2gltf online converter](http://cesiumjs.org/convertmodel.html) (but my problem was with desktop binaries anyway).
- The issue will be fixed soon a

[2017-03-31 10:30] #454 closed, assigned to nobody

[2017-03-31 10:32] fernandojsg commented on #454
@nazga thanks! ;)

[2017-03-31 15:15] donmccurdy commented on #454
Filed a request for obj2gltf to support KHR_materials_common extension here: https://github.com/AnalyticalGraphicsInc/obj2gltf/issues/52

Re: earlier questions —

- Quantized attributes: No, THREE.GLTFLoader does not yet support the WEB3D_quantized_attributes extension. If you have an example asset, I'd suggest filing an issue on the three.js repo and we'll see if that can be done for THREE.GLTF2L

[2017-04-01 22:12] pfreema1 opened #464 "Can't add alongpath component in Inspector."
When I click the "Add component" dropdown, and select "alongpath," nothing comes up.

Browser is Google Chrome Version 57.0.2987.98

[2017-04-01 22:15] fernandojsg commented on #464
Yep, I can reproduce it. It seems like a incompatibility between alongpath and latest aframe:
[code]

[2017-04-02 17:04] hedgerh commented on #401
I'm also having these issues.  Surprised no one has responded to this.  I'm not sure how complex the issues are, but I'm willing to take a look into it.

[2017-04-05 10:06] fernandojsg opened #465 "Replace TAB to switch panels with º"

[2017-04-07 12:06] fernandojsg commented on #136
Fixed by https://github.com/aframevr/aframe-inspector/pull/272

[2017-04-07 12:06] #136 closed, assigned to Coder206

[2017-04-07 12:06] fernandojsg commented on #143
Closed by https://github.com/aframevr/aframe-inspector/pull/459

[2017-04-07 12:06] #143 closed, assigned to nobody

[2017-04-07 12:13] #465 closed, assigned to nobody

[2017-04-07 12:13] fernandojsg commented on #464
I'll close it as it's related to the component itself, so we could keep track on the registry itself

[2017-04-07 12:13] #464 closed, assigned to nobody

[2017-04-07 12:31] #461 closed, assigned to nobody

[2017-04-07 13:51] cvan commented on #136
Now, the `.css` file isn't a blocking request. But, still, with how the code's set up right now, the `.css` file plus all the font files (e.g., `.woff2) still have to still fetch.

Because of the two issues mentioned below, the browser renders all the text as blank until all the requests finish. FWIW, modern browsers recently added a new Font Loading API (but the [Web Font Loader](https://github.c

[2017-04-07 20:13] fernandojsg commented on #136
@cvan cool! thanks for the explanation and the PR! ;)

[2017-05-08 20:38] the-reality-engineer opened #471 "TextureWidget crashes when there are cached video textures"
`getTextureFromSrc` from the TextureWidget assumes that each textureCache hash is simply JSON string, which is not always the case. See:
https://github.com/aframevr/aframe/blob/6a236273bfd6bd673e36ff4d376135906ba57ed6/src/systems/material.js#L207

When trying to JSON.parse() a textureCache hash that is generated from a video texture, the TextureWidget throws an "Unexpected token a in JSON" error.

[2017-05-15 15:16] blairmacintyre opened #472 "shouldn't be looking for `<a-scene>` in DOM"
Rather, AFRAME now has a `scenes` property that contains a list of all attached scenes.  The inspector should use this to find the scenes.

Doing this will also allow other kinds of scenes (such as a the `<ar-scene>` currently used by the argon-aframe bindings) to be inspected.

[2017-05-16 11:49] HeinPauwelyn opened #473 "Add all data attributes and classes to details from a node"
I'm making a project and I've added some `data`-attributes to the `a`-nodes. Example of my data below:

[code]

Each node with class `clickable` got also an image but I've removed this from the snippet to improve readability. This nodes got also a `rotation`, `position` and `scale` attribute.

To make my work a bit faster, I'll like to see the data and the classes of each node inside the visual in

[2017-05-17 22:32] deniswvieira opened #474 "Not exporting updated entities correctly"
Hello,

When I open the inspector and edit the existing entities properties (as Position), the Copy Scene to Clipboard or Export to HTML are not working as expected. The generated HTML is the original HTML and not the new one corresponding to the changes I made.

My test scene:
[code]

To reproduce: Open the inspector, modify Entity's position, click on  Copy Scene to Clipboard or Export to HTML a

[2017-05-18 18:40] ngokevin opened #475 "Missing icon font inside inspector"
**Description:**

- A-Frame Version: 0.5.0
- Visual inspector: 0.3.0
- Platform / Device: Windows 10
- Browser: Chromium
- Reproducible guideline: Just open the visual inspector on a computer where the icon font is not installed.

On the top on the right side, I could see three buttons for translate, rotate and scale. But I couldn't see the icons. I've seen that the inpector using this code:

[cod

[2017-05-18 19:55] NNskelly opened #476 "INSPECTOR BROKEN - 'asset' type schema property objects being re-parsed as URLs"
re-filed from https://github.com/aframevr/aframe/issues/2662

**Description:**
The latest a-frame inspector min.js as retrieved from unpkg.com e.g. by the A-Painter demo is throwing errors whenever an entity is selected which has a material component with a src or other map (or asset?) property. The error manifests as a "e.match is not a function" js error in an obscurely nested minified block in

[2017-05-22 05:59] bobchao opened #477 "'Save' doesn't really save attributes changed in Inspector view"
## Steps

1. Visit https://parallel-beef.glitch.me/ and press Ctrl-Alt-I
2. Change the color of a-box from #4CC3D9 to #ff0b00 from the inspector view
3. Save (Export to HTML) the scene and check the code

## Expect

The attribute "color" of a-box is #ff0b00, just like what we saw in the Inspector.

## Actual result

Nothing changed, the color is still #4CC3D9 in the downloaded HTML file.

## Note

[2017-05-23 05:20] bobchao commented on #477
Some note:

https://github.com/aframevr/aframe-inspector/blob/master/src/lib/exporter.js#L51

Tried change the attributes directly from Developer Tools, then do generateHTML in the console. The attributes was correctly changed in the returned result.

[2017-05-24 02:13] bobchao commented on #477
Oh well I found the answer from the FAQ, should check it earlier...

<https://aframe.io/docs/0.5.0/introduction/faq.html#why-is-the-html-not-updating-when-i-check-the-browser-inspector>

So maybe we should call flushToDOM right before save the scene.

[2017-05-24 18:10] bobchao commented on #477
Proposed a simple change

[2017-06-02 21:36] ngokevin opened #479 "aframe-inspector.min.js:30 Uncaught TypeError: Cannot read property 'pause' of undefined at open (aframe-inspector.min.js:30) at HTMLScriptElement.script.onload (inspector.js:85)"
Opening Inspector from A-Frame repo examples. Both with and without `INSPECTOR_VERSION=dev`. Fails using aframe-inspector repo dist as well as Inspector v0.5.2.

[2017-06-02 21:44] ngokevin commented on #479
I got it to work once on Inspector v0.5.2, so it's a bit intermittent. Usually fails though.

[2017-06-05 08:52] #452 closed, assigned to nobody

[2017-06-05 08:52] #453 closed, assigned to nobody

[2017-06-05 08:56] #477 closed, assigned to nobody

[2017-06-05 08:58] fernandojsg commented on #475
@HeinPauwelyn The font is fetched from the bootstrapcdn. Are you getting this error offline?

[2017-06-05 09:01] fernandojsg commented on #474
This should be fixed with https://github.com/aframevr/aframe-inspector/pull/455 and https://github.com/aframevr/aframe-inspector/pull/478

[2017-06-05 09:01] #474 closed, assigned to nobody

[2017-06-05 09:12] fernandojsg commented on #448
I believe the best workflow would be to open the HTML scene that you want and inject the inspector there, instead of importing on an already existing scene.
Completely remove one scene to replace for another one is not something we've considered to do it yet.

[2017-06-05 09:12] #448 closed, assigned to nobody

[2017-06-05 09:14] fernandojsg commented on #430
I'll close it for now as I don't think it worth the time right now as people could just go to https://aframe.io/aframe-registry/ and we don't need to maintain both different styles

[2017-06-05 09:14] #430 closed, assigned to nobody

[2017-06-05 09:15] fernandojsg commented on #416
I've already changed from 2 to 3 decimals, but I agree that we could define a custom value, does it makes sense to have in the schema? being a attribute used just by the inspector? /cc @dmarcos @ngokevin

[2017-06-05 09:21] fernandojsg commented on #462
Have you tried doing that directly on aframe and not just in the inspector? Just to know if it's an issue from the inspector or the way to go on aframe

[2017-06-05 15:17] fernandojsg commented on #479
@ngokevin do you mind explaining how to reproduce it? I've tried both on the aframe.io and locally on aframe master and I can't reproduce it.

[2017-06-05 15:40] fernandojsg commented on #479
Ok, I found that error on a-painter

[2017-06-05 15:53] fernandojsg commented on #479
stupid bug, I believe it's already fixed by https://github.com/aframevr/aframe-inspector/commit/760796ccc6e12f9508296aae75ff084284598257
Could you verify it?

[2017-06-05 15:54] fernandojsg commented on #476
@NNskelly could you give it a try with the latest deployed version 0.5.3?

[2017-06-05 15:57] fernandojsg commented on #401
@facultymatt @hedgerh I've just deployed a new version that should have fixed the issues when copying individuals elements and common components on the entire scene (`position, scale, rotation`). Could you give it a try and let us know if it's working correctly for you?

Still working on removing the other stuff injected on the scene.

[2017-06-05 20:44] NNskelly commented on #476
@fernandojsg Current live A-Painter https://aframe.io/examples/showcase/a-painter/ looks like it is now loading 0.5.3 inspector; error still occurs.
![0_5_3_match](https://cloud.githubusercontent.com/assets/28572171/26802299/a97c1924-4a05-11e7-9634-323f8b602c91.png)

popped open the inspector, occurred right away when I clicked the <a-entity ground>.

e in this case looks like it is an HTMLImageEl

[2017-06-06 10:11] fernandojsg commented on #476
I think I found it thanks: https://github.com/aframevr/aframe-inspector/pull/481

[2017-06-12 10:50] #476 closed, assigned to nobody

[2017-06-12 22:06] fernandojsg commented on #401
I've just deployed a new version fixing the list of issues you commented on the entire html scene https://github.com/aframevr/aframe-inspector/pull/482
Please review and let us know if you have any problem left!

[2017-06-12 22:06] #401 closed, assigned to nobody

[2017-06-13 08:03] fernandojsg commented on #475
I've try to reproduce and it just happens when you don't have access to the CDN

[2017-06-13 08:03] #475 closed, assigned to nobody

[2017-06-13 08:05] fernandojsg commented on #473
I think this is currently out of the scope of the editor as it's something very specific to your use case. It would be hard to differentiate between which attributes you want to be available or not and define the data type and so on.
Probably you could try to create a module for this specific behaviour and just activate on the scenes you want to use it.

[2017-06-13 08:05] #473 closed, assigned to nobody

[2017-06-13 08:06] fernandojsg commented on #433
@Utopiah that should be fixed with the latest changes, do you mind giving it a try?

[2017-06-13 08:11] fernandojsg commented on #416
Closing it, as we're already using 3 by default and I don't think we should add `precision` to the schema until we'll have a way to define the actual look of the attribute in the inspector, probably something like a custom schema just for the inspector.

[2017-06-13 08:11] #416 closed, assigned to nobody

[2017-06-13 08:15] fernandojsg commented on #378
Fixed on #376

[2017-06-13 08:15] #378 closed, assigned to nobody

[2017-06-13 08:16] fernandojsg commented on #367
Not needed as we already do a `flushToDOM`

[2017-06-13 08:16] #367 closed, assigned to nobody

[2017-06-13 08:18] feiss commented on #462
hmmm.. it seems an aframe issue. If I try this:

[code]

The `repeat 5 5` is not updated in the scene unless I remove the comments on the line that changes the shader

[2017-06-13 08:21] fernandojsg commented on #462
Ok, I'll close it here, do you mind opening an issue on aframe repo and just reference it from there?

[2017-06-13 08:21] #462 closed, assigned to nobody

[2017-06-13 08:25] feiss commented on #462
sure

[2017-06-13 08:55] fernandojsg commented on #457
Fixed on the latest version
![ladyada](https://user-images.githubusercontent.com/782511/27074201-b67cf130-5026-11e7-8078-e17823f68f51.gif)

[2017-06-13 08:55] #457 closed, assigned to nobody

[2017-06-13 10:21] fernandojsg commented on #472
I'm not sure what is actual use of `scenes`. Is it safe to change the `a-scene` querySelector with `AFRAME.scenes` ? /cc @ngokevin @dmarcos

[2017-06-13 10:27] ngokevin commented on #472
yeah `AFRAME.scenes[0]`. i don't expect support for multiple scenes, i guess i made it an array to be flexible

[2017-06-13 10:38] fernandojsg commented on #472
Thanks! Fixed :)

[2017-06-13 10:57] fernandojsg commented on #479
/ping @ngokevin :)

[2017-06-13 10:58] ngokevin commented on #479
I'm still getting it. Local aframe repo, master branch, npm run dev, port 9000

[2017-06-13 11:09] fernandojsg commented on #479
I've just tried with master branch on mac both with chrome and firefox, refreshing several times but can't reproduce it :\
![inspector2](https://user-images.githubusercontent.com/782511/27079778-69817186-5039-11e7-881f-eeaf1024f255.gif)
![inspector](https://user-images.githubusercontent.com/782511/27079779-6981fc8c-5039-11e7-8181-5aead7ec4909.gif)

Maybe you're having an issue with the cache?

[2017-06-13 11:12] ngokevin commented on #479
Hm, doubt it. I've tried 11 days apart on different networks with hard refreshes.

![fix](https://user-images.githubusercontent.com/674727/27079886-707c05a0-4fee-11e7-9054-c0caef73b381.gif)

[2017-06-13 11:14] ngokevin commented on #479
And Firefox `this.sceneEl is undefined`

![ff](https://user-images.githubusercontent.com/674727/27079968-c247a24a-4fee-11e7-869e-564a2c3ea834.gif)

[2017-06-13 11:16] fernandojsg commented on #479
Poltergeist :\ I've used the same example from the text. It seems we've the same versions too. Are you on windows?

Also It seems that the error is different in your firefox and chrome, one is regarding .pause in the modules and another one is about sceneEl

![inspector3](https://user-images.githubusercontent.com/782511/27079989-4a91890e-503a-11e7-8b33-bfebc8948b74.gif)

[2017-06-13 11:18] ngokevin commented on #479
It's the same error. `this.sceneEl is undefined` and `cannot call pause of undefined`. Trying to call `this.sceneEl.pause()`. I'm on OS X

[2017-06-13 11:46] fernandojsg commented on #479
Could you try to use the non minified version and set a breakpoint?
I'm looking at the code and the only place where you get that call is at: https://github.com/aframevr/aframe-inspector/blob/gh-pages/src/lib/inspector.js#L310
And before calling it we've already query the `a-scene` here
https://github.com/aframevr/aframe-inspector/blob/gh-pages/src/lib/inspector.js#L28-L33
Not sure what is going o

[2017-06-13 11:49] fernandojsg commented on #472
Looking one of the points where I've replaced the `document.querySelector('a-scene')` with `AFRAME.scenes[0]` I guess if the scene is still not loaded it's not yet added to the list of available scenes:
https://github.com/aframevr/aframe-inspector/blob/master/src/lib/inspector.js#L28

@ngokevin I guess I should just move that to the `onSceneLoaded` function itself right?

[2017-06-13 13:36] Utopiah commented on #433
Tried using `master` and it works, namely the scene is visible but it's not using the existing camera as it is still marked `active:false` thus injects a new camera. Not sure if that's the intended behavior.

[2017-06-13 15:04] fernandojsg commented on #433
Ah ok I see. I was just deleting the default camera injected by the editor, but you're right that I need to remove the `active:false` on the default camera.

[2017-06-13 16:15] fernandojsg opened #486 "Component with default attributes deleted from the clipboard representation"
If an entity has a component without any parameter, or with the default parameters it won't be included on the clipboard representation, for example `<a-entity geometry=""></a-entity>, <a-entity camera="active: true"></a-entity>...`

Steps to reproduce:
- Add a new entity
- Add a `geometry` component
- Copy to clipboard and you'll get `<a-entity></a-entity>`
- Modify any parameter from it, for exa

[2017-06-14 13:01] #486 closed, assigned to nobody

[2017-06-15 12:54] fernandojsg commented on #472
I answer myself, it should be once the scene is loaded, as it will need the systems to be registered to query all the scenes around.

[2017-06-15 13:01] fernandojsg commented on #479
@dmarcos @feiss @delapuente do you mind giving it a try? I can't find a way to reproduce it maybe you could get the same issue as kevin is having right now?

[2017-06-15 13:07] fernandojsg commented on #472
As a proof of concept this is an scene already working with argon-aframe. Still needs some tweaks to work properly, but still something nice to have :)
![aframeargon](https://user-images.githubusercontent.com/782511/27182594-10081124-51dc-11e7-8e74-ede62e00e152.gif)

[2017-06-15 13:07] #472 closed, assigned to nobody

[2017-06-15 14:13] blairmacintyre commented on #472
This is excellent, thanks!

[2017-06-15 15:51] larsbergstrom commented on #213
@ngokevin Did the GA get moved over to the Mozilla GA account? Do you need help with that?

[2017-06-15 19:14] dmarcos commented on #479
Running the inspector master:  `npm start` and visiting `http://localhost:3333/webpack-dev-server/`. does not show any errors for me. I opened / closed the inspector multiple times and tried on Firefox and Chrome. Am I trying this right?

[2017-06-15 19:18] fernandojsg commented on #479
@dmarcos sorry I didn't expressed it correctly. You should try `aframe` master, not the inspector itself. Just test aframe master and inject the inspector there

[2017-06-15 21:25] dmarcos commented on #479
I cannot reproduce the problem either running master inspector on aframe master examples ![bug](https://d3vv6lp55qjaqc.cloudfront.net/items/1e2h1t1N0o0t1W2F1V3t/Image%202017-06-15%20at%2012.20.47%20PM.png?X-CloudApp-Visitor-Id=bf7d229144f0f1f37ed85c0bd956bfff&v=7626d35a)

[2017-06-16 11:53] feiss commented on #479
git clone [aframe repo]
npm install && npm run dev
opened a couple of examples, entered inspector, and I got no errors about `pause()`

[2017-06-16 12:08] delapuente commented on #479
Same try as @feiss Everything is fine in Mac OS in both Nightly and Canary and the same in Windows. No errors regarding `pause()`.

[2017-06-16 12:09] fernandojsg commented on #479
@feiss @dmarcos @delapuente thank you guys!

@ngokevin could you try in another computer? I've no idea what can be wrong but impossible to reproduce here either :\

[2017-06-27 02:41] irwinwilliams opened #491 "Inspector fails to load from a glitch sample"
I'm in a glitch sample, when I press ctrl + alt + i, the chrome console shows this:
[code]
Is something missing?

[2017-06-30 00:49] delapuente opened #492 "The inspector fails is inconsistent regarding copying a primitive with a modified attribute"
For consistency, the inspector should serialise primitives giving priority to mapped attributes.

STR:
 1. Open the example scene
 2. Select the `<a-sky>` tag
 3. Set the radius property to 4 (`geometry` component)
 4. Click on copy

Expected:
[code]

Actual:
[code]

[2017-07-01 11:13] Utopiah commented on #27
With all the recent work on fixing saveSceneToHTML() and cleaning up the resulting HTML #482 #485 #443 #487 #488 #489 #490 #478 this could be worked on again.

Investigating for JSBin https://jsbin.com/help/api#writeapi and glitch https://twitter.com/utopiah/status/827193459937271810 cf prior exploration.

[2017-07-04 20:20] etiennepinchon commented on #300
Up! Same problem here! So annoyed by this issue! :( It is hard to focus on one entity at the time. Would be some much smoother if we could zoom toward the current selected entity.

[2017-07-11 08:46] oliverzy opened #494 "Aframe.io example page 0.6.0: cannot load texture"
Hi,

1. visit the page like "https://aframe.io/examples/showcase/helloworld/"
2. Click "Inspect Scene"
3. Choose a box for example
4. Choose a image as its material src
5. In "Load Texture" dialog, choose a texture,
6. Click "Load this texture"

Nothing Happened.
Open the browser console, see the following error call stack.
"Uncaught TypeError: Cannot read property 'appendChild' of undefined
    a

[2017-07-12 05:34] UXVirtual opened #495 "Error loading registry file for A-Frame 0.6.0"
I'm getting the following console error when using the current release version of A-Frame (v0.6.0) when trying to load the inspector:

[code]

The file in question is trying to load from: https://aframe.io/aframe-registry/build/0.6.0.json

[2017-07-12 12:35] fernandojsg commented on #495
I've moved it to the aframe-registry repo. thanks for reporting!

[2017-07-12 12:35] fernandojsg commented on #495
Well, I'll keep it open until the deploy will be done

[2017-07-12 23:19] fernandojsg commented on #495
Done!, @HAZARDU5 please give it a try

[2017-07-12 23:19] #495 closed, assigned to nobody

[2017-07-12 23:27] UXVirtual commented on #495
Looks good - thanks!

[2017-07-16 09:45] ngokevin opened #499 "inspector HTML being thrashed in chrome"
1. Open Inspector basic example
2. Open DOM Inspector, see HTML is being continuously updated
3. Try to set a CSS value, the Inspector will not accept since it's being refreshed too fast by something

[2017-07-26 05:38] ngokevin opened #501 "can't add a multiple component (e.g., `sound__yell`) via inspector in components panel"
The select/dropdown only allows for base component names

[2017-07-26 15:46] nucliweb opened #504 "Update postcss-loader & postcss-import"
I thinks is interesting upgrade the `postcss-loader` & `postcss-import`, but the latest versions of these don't have support for Node.js versions less than 4.5.x.

And the `.travis.yml` have a Node version 4 🤔

[2017-08-02 05:58] dmarcos opened #506 "Import google blocks"
Similar to what [be block](https://fasility.com/beblock/#link=https://vr.google.com/objects/2AJLgaNhQTD&env=tron) is doing

[2017-08-07 18:43] stephanedemotte opened #507 "component.json not found"
GET https://raw.githubusercontent.com/aframevr/aframe-components/master/components.json 404 (Not Found)

When i use it with
[code]

[2017-08-07 18:48] stephanedemotte commented on #507
oupsss release 0.3.0....sorry

[2017-08-07 18:48] #507 closed, assigned to nobody

[2017-08-12 04:04] sainithin95 opened #508 "Couldn't upload/replace custom 360 image via load texture in visual inspector"
I'd tried uploading a 360 picture using visual inspector by changing src link, but it's not working !!
Example: https://aframe.io/examples/showcase/sky/

![my a frame](https://user-images.githubusercontent.com/12968789/29237697-494a9d8e-7f41-11e7-8ce4-c249567c2997.gif)

[2017-08-16 20:43] ranjithrajv commented on #494
#508 Seems these are same!

[2017-08-21 06:24] kfarr commented on #491
Hi irwinwilliams I can load the inspector okay using the "hello world" glitch project. do you have a link to your glitch project to reproduce this error?

[2017-08-24 09:18] Utopiah opened #509 "An upload texture is an [HTML object] rather than a URL"
Once a texture is uploaded it is displayed correctly but once the page is download or the entity is copied it becomes an [HTML object] rather than a UploadCare URL.

[2017-08-24 21:28] #359 closed, assigned to feiss

[2017-08-24 21:38] fernandojsg opened #510 "After updating to Aframe 0.6.1 export scene is broken"
[code]

/cc @delapuente

[2017-08-24 23:56] #510 closed, assigned to nobody

[2017-08-29 21:43] rhokstar commented on #494
I've tried loading textures locally and through a URL, no go.

[2017-09-18 18:06] tomas-polach opened #513 "Expose inspector events"
building scripts on top of the inspector i would like to be able to listen to inspector events i.e.

[code]

[2017-09-18 18:46] tomas-polach commented on #513
sorry, duplicated in PR #514

[2017-09-18 18:46] #513 closed, assigned to nobody

[2017-09-20 12:55] fernandojsg commented on #479
I'll close it as I can't reproduce it anywhere the same as the rest :\ If you have a way to reproduce it please reopen it again

[2017-09-20 12:55] #479 closed, assigned to nobody

[2017-09-20 21:26] naugtur opened #516 "aframe.io example hellovr 404 trying to load inspector"
Current demos try to load https://unpkg.com/aframe-inspector@0.7.x/dist/aframe-inspector.min.js which seems not published.

[2017-09-22 18:35] fernandojsg commented on #516
@naugtur thanks for reporting. I forgot to deploy the latest version. It's fixed now ;)

[2017-09-22 18:35] #516 closed, assigned to nobody

[2017-09-22 18:45] naugtur opened #517 "I'd like to contribute a save button to inspector"
Hi,

the "download HTML" button is a great functionality if I want to teach A-Frame to people with no programming background whatsoever.
I'd like to find a simple way to let them use inspector online and save the HTML back to the jsfiddle (or anything similar) they're using. I could also look into building something on Glitch instead.

I'm asking you @maintainers to point me the right way so I kno

[2017-09-28 11:04] masgandhul opened #518 "git clone URL is wrong"
based on the manual instruction for git clone in readme.

it should be as follow: git clone https://github.com/aframevr/aframe-inspector.git

[2017-09-28 18:35] ngokevin commented on #518
`git clone git@github.com:aframevr/aframe-inspector.git` is valid

[2017-09-28 18:35] #518 closed, assigned to nobody

[2017-10-03 18:07] vinzee opened #519 "THREE.Matrix3: .getInverse() can't invert matrix, determinant is 0"
If I load the example (`example/index.html`) with an empty `<a-scene>` it throws this warning every 5 ms -

[code]

[2017-10-06 00:17] ngokevin opened #520 "collapse child entities"
If there is a parent entity with many child entities, it would be nice to be able to collapse them (e.g., caret down/caret up icons). Or perhaps start out all collapsed similar to DOM Inspector.

[code]

[code]

[2017-10-08 20:01] 7dir opened #521 "404 https://aframe.io/aframe-registry/build/0.7.0.json"

[2017-10-09 09:54] dmarcos commented on #521
I don't understand this issue. It should probably be filed against the inspector repo: https://github.com/aframevr/aframe-registry

[2017-10-09 09:55] dmarcos commented on #521
Oh I see I guess it is when loading the json from the inspector.

[2017-10-09 10:14] dmarcos opened #522 "Material not honoring the color when changing material flags"
Try to select a color and disable / enable `depthTest`. The material color is set to the default back again.
![image](https://d3vv6lp55qjaqc.cloudfront.net/items/170E2q1W1t2K421D3602/Screen%20Recording%202017-10-09%20at%2003.12.48%20AM.gif?X-CloudApp-Visitor-Id=cfbaf47066750ce499088aa3bda2084c&v=b5284396)

[2017-10-09 11:11] 7dir commented on #521
Your guess is right!

console browser

[2017-10-17 03:37] donmccurdy opened #523 "Consider supporting user inspector plugins?"
Hi @fernandojsg —

What do you think about letting developers write plugins for the inspector, by having a simple API for attaching their DOM element to a tab?

Some example use cases:

- Export current scene to glTF or OBJ
- Search for models from different model libraries
- Custom animation timeline editor, similar to [frame.js](https://github.com/mrdoob/frame.js/)
- Creating and exporting a nav

[2017-10-18 16:04] HamilcarR commented on #300
Is this little feature still needed ?
Because I have written some additionnal little functions like this one .
Maybe I could provide it if I have some time.

[2017-10-18 18:28] dmarcos commented on #523
In order for plugins to not be disruptive to the current UI I would probably give them their own panel to render themselves. That panel would be invoked by the user. Idea:
- A `plugins` button above the `scene graph` view (next to the motion capture, save... buttons) that replaces the `scene graph` view with that of a selected plugin. The drawback would be you could not see multiple plugins or the

[2017-10-18 23:47] feiss commented on #300
sure it is!

On Wed, Oct 18, 2017 at 6:04 PM, Bensalem Amine <notifications@github.com>
wrote:

[2017-10-21 21:21] donmccurdy commented on #523
Yeah, I think the location is not too critical unless it becomes used for a bunch of fancy stuff. Which would be a good problem to have. Could be a third, new panel that pops up from the bottom of the page as well.

[2017-10-23 10:25] fernandojsg commented on #523
Actually I started with something called `modules` a while back when I wanted to create a VR editor mode for the inspector. Basically you register the modules and they can be activated or deactivated. As I didn't continue with the VR editor I've just the `dummy` module there, but we could use it just as a starting point for something like you propose.
https://github.com/aframevr/aframe-inspector/b

[2017-10-23 19:18] ngokevin opened #524 "error upon opening inspector, can't invert matrix, determinant is 0. DirectionalLightHelper has scale 0 if direction has a 0"

[2017-10-23 19:41] ngokevin commented on #524
Fixed by doing setting `position="1 1 0.0001"` for directional light, but we should handle because that's the default directional light without a position set.

[2017-10-23 19:42] ngokevin opened #525 "white screen on opening inpsector 0.7.0, canvas has 0 size"
Removing the `display: inline !important` from the CSS fixes.

[2017-10-23 19:47] #525 closed, assigned to nobody

[2017-10-23 19:47] ngokevin commented on #519
More details at https://github.com/aframevr/aframe-inspector/issues/524, will track there since I've narrowed the issue a bit.

[2017-10-23 19:47] #519 closed, assigned to nobody

[2017-11-09 10:12] fernandojsg commented on #523
@donmccurdy @dmarcos do you have any idea that could be simple enough to use it as an example and as a proof of concept of the plugin system?

[2017-11-09 14:29] Utopiah commented on #523
- @tomas-polach from the Archilogic3D/3D.io team already [customized the inspector for Google Blocks integration](https://twitter.com/TomasPolach/status/915677320429621254)
- @ngokevin did it for [motion capture integration](https://twitter.com/andgokevin/status/888913151315464192)
- I did it a while ago for [saving to HTML to a remote server](https://twitter.com/utopiah/status/827193459937271810)

[2017-11-10 06:48] donmccurdy commented on #523
I think a couple of the ideas in my OP would be simple enough. Namely,

* Export scene or selected object(s) to glTF
* More detailed performance panel, explaining how many entities you have, number of materials, etc.

[2017-11-10 11:12] fernandojsg commented on #523
@donmccurdy I had already added the gltf exporter to the inspector (https://blog.mozvr.com/gltf-exporter-in-three-js-and-a-frame/) but maybe I could just remove it from the main code and use it as a simple use case for the plugin.
I was working also in the inVR inspector mode as a plugin, but it didn't include any panel or UI, just a shortcut to enable/disable it.

I'm not sure how to deal with pl

[2017-11-10 11:15] fernandojsg commented on #523
Ok, I'll start checking the @tomas-polach as it seems that it's the only one that it's really implemented without modifying the core (https://github.com/archilogic-com/3dio-inspector-plugins)

[2017-11-10 11:31] fernandojsg commented on #523
One question, should we have types of plugins and let the editor have a specific behaviour for it? Let's say:
- tab plugin: the editor will create the tab and handle its visibility, and the plugin will include the component
- entity: it will add a button probably to the entity panel.
- component: similar but for component.
- no visibility: it could modify the viewport, or other things but it doesn

[2017-11-10 15:20] donmccurdy commented on #523
oh, nice! might as well keep it in the main code then.

IMO that's the only important case; if plugins did not need a UI they wouldn't need to integrate with the inspector.

My vote would be, all plugins are tab plugins (or some sort of UI panel), and there should be an API so that the plugin can listen for events when the selected entity changes. But I don't think there should be separate types o

[2017-11-14 12:49] tomas-polach commented on #523
sry for joining late. this would be a great step forward!! all major editors thrive on community driven plugins. i'm fine with all the proposals as mentioned above and i am looking forward to adapt the 3d.io inspector plugins to fit into the new structure. based on the proposals above, here is my two cents:

### Using Plugins
- could be activated and loaded on demand from separate repos in setting

[2017-11-28 10:51] briehanlombaard commented on #494
This seems to be happening when your scene doesn't have an assets tag. Adding `<a-assets></a-assets>` to the scene fixes it.

I'll see about submitting a PR to fix the issue later today.

[2017-12-05 05:17] ngokevin opened #527 "search not working"
Entity search: https://aframe.io/aframe-inspector/example/

[code]

[2017-12-08 00:31] #527 closed, assigned to nobody

[2017-12-18 01:14] goopypanther opened #528 "Exported HTML has broken interface"
If you export a page to HTML, open the downloaded page and enter the inspector again you can not pan or rotate the display or click anything in the 3d environment.
Both side panels still function and the environment will respond to changes made using them.

This appears to be due to a pair of canvas tags that are injected immediately after the first `<a-scene>` tag:
`<canvas class="a-canvas" data-

[2017-12-19 09:54] goopypanther commented on #528
On closer inspection the insertion is actually occurring in this expression:
https://github.com/aframevr/aframe-inspector/blob/b39deddfc245a7f83c10d5c54a36947e7dd94d49/src/lib/exporter.js#L71-L73 at `getClipboardRepresentation(sceneEl)`

Which is calling:
https://github.com/aframevr/aframe-inspector/blob/b39deddfc245a7f83c10d5c54a36947e7dd94d49/src/actions/entity.js#L147-L169

[2018-01-02 20:45] donmccurdy commented on #523
What's the minimum API we can introduce that would let people start experimenting with interesting plugins? I think search/discovery and keybindings might be best left until there are some examples in the wild and plugin authors can perhaps help contribute then.

Suggested:

1. Fire events on scene when inspector is shown/hidden. (see [inspector.js](https://github.com/aframevr/aframe/blob/master/s

[2018-01-06 22:21] jafetmorales commented on #521
Any luck with this issue?

[2018-01-10 11:16] HyroVitalyProtago commented on #69
It could be also interesting to set the panSpeed, zoomSpeed and rotationSpeed of EditorControls in aframe-inspector component attributes. Personally, I find the zoom speed too slow...

[2018-01-27 20:07] ngokevin opened #532 "Improve keyboard navigation of collapsed entity tree"
Right now, hitting Down will enter the tree but not expand it.

I would skip to the next non-collapsed entity on Up or Down.

And have Left or Right collapse/uncollapse the tree

@Adam4lexander

[2018-01-27 23:17] Adam4lexander commented on #532
np Im on it.

[2018-01-29 04:49] #532 closed, assigned to nobody

[2018-01-29 04:50] ngokevin opened #534 "pos/rot/scale component values not updating in the right panel when you transform it via viewport"
They update if you deselect and reselect the entity.

[2018-02-11 19:09] CBernsCode opened #535 "404 Error from Component Registry"
When trying to open the inspector on my local copy or the hosted example I see a 404 error in the console. This is preventing the tool from working properly.

![image](https://user-images.githubusercontent.com/8380478/36077170-2ca77e7a-0f35-11e8-80e4-bb84d68f9314.png)

[2018-02-15 22:17] XT3RM1N8R commented on #535
I can confirm that this also happens for me as well.

[2018-02-15 22:40] XT3RM1N8R commented on #521
This is happening for me as well.

[2018-02-16 13:58] g0dd4rd opened #536 "Copy HTML to Clipboard includes relative path to aframe-master"
I believe it should include url to the aframe.min.js instead.
now: script src="../../../dist/aframe-master.js
expected: script src="https://aframe.io/releases/${version}/aframe.min.js

[2018-02-17 03:22] micsun-al commented on #521
This reproduces for me.
MacOS 10.13.3 High Sierra
Chrome 64.0.3282.167
Firefox Quantum 58.0.2 (64 bit)
Safari 11.0.3
iMac (Retina 5K, 27-inch, Late 2014)
Processor: 4 GHz Intel Core i7
Memory: 32 GB 1600 MHz DDR3
Graphics: AMD Radeon R9 M290X 2 GB

[2018-02-18 02:51] banada commented on #521
This happens for me as well on:
Windows
    Chrome 64.0.3282.167
    Firefox 58.0.2
Ubuntu 14.04
   Firefox 58.0.1

I suppose hosting the inspector files ourselves would prevent this issue.

[2018-02-18 02:58] ngokevin commented on #521
This is a benign error. The solution is to remove the Registry from the Inspector.

[2018-02-25 11:34] fernandojsg commented on #535
Closed by https://github.com/aframevr/aframe-registry/issues/78

[2018-02-25 11:34] #535 closed, assigned to nobody

[2018-02-25 11:34] fernandojsg commented on #521
Closed by https://github.com/aframevr/aframe-registry/issues/78

[2018-02-25 11:34] #521 closed, assigned to nobody

[2018-02-25 12:30] #402 closed, assigned to nobody

[2018-03-03 02:50] ngokevin commented on #534
Fixed. Because aframe master no longer emits componentchanged for those.

Used the event emitted by the helper to force update

[2018-03-03 02:50] #534 closed, assigned to nobody

[2018-03-04 00:27] Adam4lexander opened #538 "Focusing on a Text component crashes the tab requiring restart."
Caused by Box3.setFromObject() in threejs assuming that objects use 3 numbers per vertex position. The TextGeometry only uses 2 numbers per vertex position.

I'm going to take a look at this soon, I think the fix should be in THREE.Box3.

[2018-03-07 11:39] Umbolt commented on #300
Hi,
I'd like to know how I can open the inspector with a User View or VR view : I mean be able to see the elements as they are displayed in the 360 scene so that I can change the parameters and apreciate directly the changes.  I know there is a command to perform that but I can't find it.
Thanks

[2018-03-09 10:26] siddhartpai opened #539 "Aframe export to GLTF and Animations"
Currently GLTF Export using the THREE.GLTFExporter doesn't support Tween Animations , rather only supports THREE.AnimationClip .

Are there plans to support <a-animation> export to GLTF ?

[2018-03-09 11:43] ngokevin commented on #539
`<a-animation>` does basic tweening. You probably want https://github.com/donmccurdy/aframe-extras/tree/master/src/loaders#animation

[2018-03-09 11:43] #539 closed, assigned to nobody

[2018-03-10 06:03] siddhartpai commented on #539
Hi @ngokevin I don't think I explained the question well enough.

So I'm using the gltf-exporter to export out entire A-Frame scenes in to a gltf model, The A-Frame scene can have animations that have been added to it via a-animation tags ; which aren't exported out when the exportToGLTF is done. Is there any way I can handle that ?

[GLTF Exporter](https://github.com/mrdoob/three.js/issues/11951)

[2018-03-10 10:10] ngokevin commented on #539
Not really, I would use a dedicated animation tool to handle it if possible or don't know feasible to hand code.

[2018-03-16 06:25] bishen opened #541 "Loading scene opens inspector,"
How to open it by default  int scenes，
Loading scene opens inspector,

[2018-03-16 06:30] dmarcos commented on #541
Call `AFRAME.scenes[0].components.inspector.injectInspector()`

[2018-03-16 06:30] #541 closed, assigned to nobody

[2018-03-16 14:47] edoardoo opened #542 "Unable to move while inspecting scene"
Hi, I'm playing a bit with aframe but while inspecting a scene with `ctrl+alt+i` I'm unable to move in the scene. The mouse pointer changes to fist while clicking but the scene, or the selected object, is not moving.
Maybe I'm just missing something stupid (some config?).

I've set up a test scene on [glitch](https://aframe-inspector-test.glitch.me/).

**Expected behaviour:** When inspecting a sce

[2018-03-18 08:00] Adam4lexander commented on #538
https://github.com/mrdoob/three.js/pull/13622

Made a pr to three to fix this.

[2018-03-27 15:12] bschev opened #544 "Color selection in the color picker is not updating color properties in the components panel"
When selecting a color in the color picker (ColorWidget) the color properties in the components panel are not updated.

[2018-04-06 10:15] #544 closed, assigned to nobody

[2018-04-06 22:37] bifolu commented on #69
Hey casseyye, can you give me a link on guide in how to zoom in and out of a panorama using aframe. Thanks

[2018-04-12 17:22] caseyyee commented on #69
This issue doesn't have anything to do with Panoramas.   Though, I don't think i've encountered this zoom issue in a while.  Testing with the standard A-Frame scenes, everything seems fine.  Might have been fixed or only occur on certain scenes only.

@HyroVitalyProtago it would probably be best to file a separate issue for the zoom speed if you do find them slow.

Will close the issue for now.  R

[2018-04-12 17:22] #69 closed, assigned to nobody

[2018-04-18 13:30] siddisking opened #546 "Selecting an obj changes its rotation"
Hi,

Aframe Inspector is changing the default rotation when selecting the object very first time.

If I have a plane rotation set to `<a-plane rotation="-90 0 0">` and I select it in the inspector it puts the value in radians in the right menu which rotates the plane.

However same behavior does not happen if an object is selected first with having `0 0 0` as rotation values.

I have replicated th

[2018-04-22 02:38] donmccurdy opened #547 "glTF export uses absolute URLs to images"
I think it would be preferable to always embed images, or at least give the option. When absolute image URLs are used, I can't import the resulting `.gltf` into Blender and validation gives errors.

[2018-04-23 23:17] goopypanther commented on #542
This sounds like the bug I submitted in December: https://github.com/aframevr/aframe-inspector/issues/528

Was the html file you're editing previously exported from the inspector? Is that additional canvas tag present in it?

[2018-04-26 05:59] donmccurdy commented on #523
Another quick note, more to just keep this in one place... if my plugin needs to scan the scene, filtering the inspector's objects out is a bit of guesswork:

[code]

... another nice-to-have would be markings (userData, say?) to identify these objects, or a more predictable prefix on the object names.

[2018-04-26 06:01] donmccurdy commented on #523
Also, I'm using a helper component to get around the lack of inspector open/close events, and that's working reasonably well:

[code]

[2018-04-30 20:12] donmccurdy commented on #547
Ping @fernandojsg — I'm running into this consistently when trying to help users set up nav meshes; the models cannot be opened in Blender and are invalid with Facebook as well. Perhaps we should default to embedded GLB, I think? Would you be OK with taking a PR on this?

[2018-05-04 12:59] edoardoo commented on #542
I'm going to check later this week. I'll keep you posted.

[2018-05-05 06:35] edoardoo commented on #542
@JeremyRuhland I removed the canvas from the generated html and it now pans as it should.
In any case, it was actually exported from an inspector.
Sorry for the duplicate issue and thanks for the quick fix.

[2018-05-05 06:35] #542 closed, assigned to nobody

[2018-05-16 17:57] naugtur commented on #517
@ngokevin I'm teaching 12 year olds some Aframe this Saturday and I thought I'd revisit this idea. Do you have any pointers for me  where to start?

I'm going to use the clipboard functionality for now, but I'm having trouble with that. It's adding a canvas to the result and then when I reopen inspector on the new sources it won't work when the canvas is there.

[2018-05-16 18:28] naugtur commented on #536
Seems to me it's preserving the exact url there was. If you're using your own script URL that seems desired. I'd say it's correct.

[2018-05-18 17:16] naugtur commented on #508
Same in current, aframe 0.8.0. It's such a great feature with the assets registry browser.

See https://github.com/aframevr/aframe-inspector/issues/494 for a workaround - add <a-assets> tag.
Texture chooser works, but the texture won't show up on the sky in the default example.

When I add it, I get
[code]

Good news is this only happens on the first use and then tends to work

[2018-05-22 03:24] donmccurdy opened #548 "Avoid requesting textures until needed"
When opening the inspector I see a lot of immediate requests for textures:

<img width="579" alt="screen shot 2018-05-20 at 3 27 20 pm" src="https://user-images.githubusercontent.com/1848368/40340607-b9599e0a-5d34-11e8-85c2-f558a1bf63c7.png">

When debugging something on slow wifi, this is a lot of extra requests. It would be nice if the textures were only loaded when needed.

[2018-05-22 16:58] autuus commented on #524
Fixed by turning off warnings from console (lol)

[2018-05-28 15:13] aas395 commented on #524
I also get this if I try to set any of the values of the scale property of an entity to 0 using the animation component. Setting each value to a number above 0 stops this

[2018-06-06 07:35] xeoneux opened #549 "Reflect changes in the source HTML"
The example at https://aframe.io/aframe-inspector/example/ updates the source HTML as soon as changes are done using the inspector. How is this done?

The changes are not updated by default. Is there an option to enable this?

[2018-07-02 17:11] donmccurdy commented on #547
If I send a PR for this issue, would it be accepted? I think this is pretty important for usable exports; otherwise the resulting glTF files can't be used for much.

[2018-07-17 18:30] dmarcos opened #550 "Systems not reflected on the `components` panel for `a-scene`"

[2018-07-25 20:15] Pluto8195 opened #551 "Aframe inspector: glTF export button broken/ not working as expected"
Trying to export my aframe scene using this button was not initiating a download at all,

![](https://user-images.githubusercontent.com/10274697/43224302-dc8781f4-9023-11e8-8740-15c15496a7d5.png)

Instead I selected the entity and exporting that as a glTF using the button on the right and it would download

![](https://user-images.githubusercontent.com/10274697/43224369-083b71fc-9024-11e8-9289-4ef

[2018-07-25 22:01] donmccurdy commented on #551
Probably related: https://github.com/aframevr/aframe-inspector/issues/547

I think the inspector should be changed to export the `.glb` variant of glTF, with embedded images by default.

[2018-07-26 00:21] donmccurdy opened #552 "Local example not working"
After following the instructions for running locally, there is an error from `inspector.js` in the onDomLoaded callback:

[code]

`AFRAME.scenes` is empty at this point, so the second line throws an error.

[2018-07-31 18:58] Pluto8195 opened #554 "Using asset management system for material maps causes inspection of entity to show nothing"
Using asset management for material source,

![screen shot 2018-07-31 at 2 54 17 pm](https://user-images.githubusercontent.com/10274697/43480719-136bb962-94d2-11e8-9aa4-eb24bfa2eaad.png)
this is were the entity information should be, it is also throwing this error in the console when you select the entity in question
[code]

[2018-08-03 03:42] xuhande opened #555 "how to change Aframe Gizmo for Translation the style?"
I want change aframe Gizmo for the translate and rotation style of the below images.

![screen shot 2018-08-02 at 5 30 28 pm](https://user-images.githubusercontent.com/5135442/43623121-24110924-9712-11e8-99da-0992a9c29d1f.png)

How to change TransformControls.js for https://github.com/aframevr/aframe-inspector/tree/master/src/lib/vendor/threejs.

Thank you.

[2018-08-17 00:40] Juankz opened #556 "zoom speed not consistent"
Hi there. I've been playing around with the inspector and zoom speed in some scenes is really slow (like a-frame home screen), it varies from browser to browser, using Chrome zoom speed seems fine but with Firefox (61.0.2) is so slow that is not practical.

[2018-08-22 11:39] #547 closed, assigned to nobody

[2018-08-22 11:39] #551 closed, assigned to nobody

[2018-08-27 15:14] evanaubrey commented on #129
What is the status on this?

[2018-09-12 16:53] Mazertula commented on #524
@ngokevin I have the same issue using animation on scale to 0.
workaround : scale to 0.0001.

[2018-09-30 10:41] zomboh opened #557 "Spot lights' gizmo is incorrectly rotated in the X axis"
Given a very simple scene:

[code]

The inspector shows this:

![spotgizmo](https://user-images.githubusercontent.com/17140223/46256650-cf3bf700-c4ad-11e8-86c0-4be074366229.png)

The gizmo should be facing -Y, as the lit box's face shows, but instead it's looking at +Z.

[2018-10-05 20:35] mauriciomartinez-itesm commented on #556
Not from the A-Frame Team but I think I can help, it may have something to do with the object you're focusing on? if you change focus of the object, the zoom (and rotation) will be having that object as the center (something like when in blender you press the numpad dot character to focus on an object.

Edit: Nevermind... I just tried this and the scroll speed is the issue... you can click your mi

[2018-10-05 20:40] mauriciomartinez-itesm commented on #549
I have this same problem, the error message is itself in the inspector

[code]

Hope the team keeps an eye on this

[2018-10-05 20:45] mauriciomartinez-itesm commented on #549
I was using 8.2 and it didn't work, it works with this one: https://rawgit.com/aframevr/aframe/master/dist/aframe-master.min.js

[2018-10-09 22:00] Moikapy opened #558 "Shape Component Doesn't work in Electron"
Original Issue:
https://github.com/donmccurdy/aframe-physics-system/issues/113#issuecomment-427977295

Building an an electron app using aframe/aframe-inspector, and ran into an issue with a few of the components using prompt and it not being accepted by electron. Was wondering if anyone would be able to help find a work around for the error.

[2018-11-29 07:20] donmccurdy opened #559 "New release?"
There are some bug fixes still unreleased — would be great to have those picked up with the next A-Frame version.

[2018-11-29 07:20] donmccurdy commented on #559
/cc @fernandojsg

[2018-12-08 12:08] ngokevin commented on #559
The only thing not released is the glTFExporter fixes (your 2 or 3 commits). I've cut a release right before that.

Though there's not a clear use case for that + not many people use it. But anyways either A-Frame will release soon or I'll cut a release after my current batch of changes.

[2018-12-08 12:08] #559 closed, assigned to nobody

[2018-12-08 12:10] ngokevin commented on #549
That is not done at the moment.

This will do it soon: https://github.com/supermedium/aframe-watcher

[2018-12-08 12:10] #549 closed, assigned to nobody

[2018-12-08 12:10] ngokevin commented on #548
this was a travesty! i just fixed this.

[2018-12-08 12:10] #548 closed, assigned to nobody

[2018-12-08 12:11] ngokevin commented on #546
I believe fixed now.

[2018-12-08 12:11] #546 closed, assigned to nobody

[2018-12-08 12:13] ngokevin commented on #528
I've removed this feature, Inspector was made for working/tweaking a project, not building a project from scratch (there are other projects have been made for that! ottifox/hologram.cool). So exporting an entire project (which has assets, multiple files, paths) without any clue of the source code could never really work well beyond hello world.

[2018-12-08 12:13] #528 closed, assigned to nobody

[2018-12-08 12:13] #520 closed, assigned to nobody

[2018-12-08 12:16] ngokevin commented on #517
I've removed the export to HTML feature. Inspector was not made well for creating projects from scratch without source code, and export to HTML could never work without source code. There are other and better projects for creating scenes entirely visually, including those made with A-Frame (hologram.cool, Ottifox).

I made https://github.com/supermedium/aframe-watcher to save back to file though,

[2018-12-08 12:16] #517 closed, assigned to nobody

[2018-12-08 12:19] ngokevin commented on #456
https://github.com/aframevr/aframe-inspector/issues/517#issuecomment-445454902

[2018-12-08 12:19] #456 closed, assigned to nobody

[2018-12-08 12:19] ngokevin commented on #433
https://github.com/aframevr/aframe-inspector/issues/517#issuecomment-445454902

[2018-12-08 12:19] #433 closed, assigned to nobody

[2018-12-08 12:20] ngokevin commented on #412
This issue is a bit general, but will add more tests when maintenance starts to hurt. We have some initial tests now though.

[2018-12-08 12:20] #412 closed, assigned to nobody

[2018-12-08 12:20] #332 closed, assigned to nobody

[2018-12-08 12:21] ngokevin commented on #350
easier for dev to group under the same entity if they need to be grouped

[2018-12-08 12:21] #350 closed, assigned to nobody

[2018-12-08 12:21] #314 closed, assigned to nobody

[2018-12-08 12:23] ngokevin commented on #311
well looks like ya found it.

icons are used everywhere now.

[2018-12-08 12:23] #311 closed, assigned to feiss

[2018-12-08 12:24] ngokevin commented on #307
funny to look back on 15 paragraphs over an icon lol

nuked the feature https://github.com/aframevr/aframe-inspector/issues/517#issuecomment-445454902

[2018-12-08 12:24] #307 closed, assigned to nobody

[2018-12-08 12:24] #303 closed, assigned to nobody

[2018-12-08 12:53] ngokevin commented on #509
mozilla took down the uploadcare public thingy so i nuked the feature. better to serve it from the project

[2018-12-08 12:53] #509 closed, assigned to nobody

[2018-12-08 12:53] ngokevin commented on #501
i added a prompt

[2018-12-08 12:53] #501 closed, assigned to nobody

[2018-12-08 12:54] ngokevin commented on #377
removed uploads

[2018-12-08 12:54] #377 closed, assigned to nobody

[2018-12-08 12:55] #296 closed, assigned to nobody

[2018-12-08 12:56] ngokevin commented on #265
they are infrequent actions so better to preserve vertical space for seeing more of the scene

[2018-12-08 12:56] #265 closed, assigned to nobody

[2018-12-08 12:57] ngokevin commented on #202
no multiple scenes

[2018-12-08 12:57] #202 closed, assigned to nobody

[2018-12-08 12:58] ngokevin commented on #174
not a frequent action for our workflows, IDs are usually defined beforehand in source and not edited with inspector

[2018-12-08 12:58] #174 closed, assigned to nobody

[2018-12-08 12:59] ngokevin commented on #3
not a common workflow. mixins created from source

[2018-12-08 12:59] #3 closed, assigned to nobody

[2018-12-08 13:00] ngokevin commented on #14
i've defaulted to collapsed to better see the components and select one you are interested in

[2018-12-08 13:00] #14 closed, assigned to nobody

[2018-12-08 13:01] ngokevin commented on #27
not a common workflow and saving the scene without having access to source is pretty impossible. glitch has worked well for remixing

[2018-12-08 13:01] #27 closed, assigned to nobody

[2018-12-08 13:03] ngokevin commented on #37
icons now denote existence of mesh/camera/text in the object3D map vs. a few components

[2018-12-08 13:03] #37 closed, assigned to nobody

[2018-12-08 13:03] ngokevin commented on #35
can just move camera, orbit controls is more flexible the FPS one. can double click entities to focus. this would also cause perf loss in double rendering.

[2018-12-08 13:03] #35 closed, assigned to nobody

[2018-12-08 13:05] ngokevin commented on #57
we have entity focusing now to zoom in on an entity (double click, or hit `f`) will do for most cases for now

[2018-12-08 13:05] #57 closed, assigned to nobody

[2018-12-08 13:05] ngokevin commented on #45
no longer showing helpers unless camera is selected

[2018-12-08 13:05] #45 closed, assigned to nobody

[2018-12-08 13:08] ngokevin commented on #61
we have a filter now!

[2018-12-08 13:08] #61 closed, assigned to nobody

[2018-12-08 13:08] ngokevin commented on #70
coming out https://github.com/supermedium/aframe-watcher

[2018-12-08 13:08] #70 closed, assigned to nobody

[2018-12-08 13:08] #97 closed, assigned to nobody

[2018-12-08 13:09] ngokevin commented on #108
IDs should be dev set and are only useful when there's code attached to them anyways

[2018-12-08 13:09] #108 closed, assigned to nobody

[2018-12-08 13:10] ngokevin commented on #72
wontfix

[2018-12-08 13:10] #72 closed, assigned to nobody

[2018-12-08 13:11] ngokevin commented on #141
arrows work

[2018-12-08 13:11] #141 closed, assigned to nobody

[2018-12-08 13:12] ngokevin commented on #138
no longer

[2018-12-08 13:12] #138 closed, assigned to nobody

[2018-12-08 13:13] ngokevin commented on #301
best practice to group entities?

[2018-12-08 13:13] #301 closed, assigned to nobody

[2018-12-08 13:14] ngokevin commented on #262
merging the multiple icon threads

[2018-12-08 13:14] #262 closed, assigned to nobody

[2018-12-08 13:15] ngokevin commented on #259
clear enough for 3d devs and easy to see what happens when pressed. closing to prioritize

[2018-12-08 13:15] #259 closed, assigned to nobody

[2018-12-08 13:15] ngokevin commented on #242
i removed the observer

[2018-12-08 13:15] #242 closed, assigned to nobody

[2018-12-08 13:16] #127 closed, assigned to nobody

[2018-12-08 13:16] #125 closed, assigned to nobody

[2018-12-08 13:18] ngokevin commented on #504
you can bump node version.

also upgrading postcss-import has a bad bug that messes up npm/webpack

[2018-12-08 13:18] #504 closed, assigned to nobody

[2018-12-08 13:21] ngokevin commented on #315
going to close for now. any icons we have now are infrequently used or not part of the target workflow (@feiss is the #1 user of the inspector!).

if we gain more functionality, we can reconsider adding menus and such. going to prioritize making the inspector useful / frictionless

[2018-12-08 13:21] #315 closed, assigned to nobody

[2018-12-08 13:22] ngokevin commented on #555
hey, i don't think we're going to change the gizmos, the current ones work

[2018-12-08 13:22] #555 closed, assigned to nobody

[2018-12-08 13:23] ngokevin commented on #538
i think i fixed by monkeypatching the box3, but new versions of three works too now

[2018-12-08 13:23] #538 closed, assigned to nobody

[2018-12-08 13:23] ngokevin commented on #536
removed the whole export entire scene to HTML option

[2018-12-08 13:23] #536 closed, assigned to nobody

[2018-12-09 10:02] ngokevin commented on #129
https://github.com/aframevr/aframe-inspector/commit/cf20d46b382f738eb88f443046cd726e15c365b6

[2018-12-09 10:02] #129 closed, assigned to nobody

[2018-12-09 12:04] ngokevin opened #561 "Make bounding box work for all entities."

[2018-12-09 12:04] ngokevin opened #562 "Highlight entity on scene graph hover."

[2018-12-09 18:00] feiss commented on #301
Multiple selection and grouping are different things, you may want to modify multiple entities (ie. Moving the same distance) that are completely unrelated among them..

But it's ok, I didn't miss this feature much.

[2018-12-09 18:03] feiss commented on #301
"It's ok" as in "yeah ok, we can live without this --although any serious app have this feature" :oD

[2018-12-09 18:06] feiss commented on #14
You could also close all but the first two..

[2018-12-10 06:06] ngokevin commented on #18
contextmenu has not aged well https://caniuse.com/#search=contextmenu

[2018-12-10 06:06] #18 closed, assigned to nobody

[2018-12-10 11:51] #25 closed, assigned to nobody

[2018-12-10 11:52] #29 closed, assigned to nobody

[2018-12-10 11:55] ngokevin commented on #213
localhost is tracked ok

[2018-12-10 11:55] #213 closed, assigned to nobody

[2018-12-13 10:44] SwiftPengu opened #563 "Inspector cannot be started in firefox 64.0"
I am unable to launch the inspector using the ctrl+alt+i shortcut on firefox nightly (64.0).
When reverting back to 62.0 the shortcut is registered again.

Set-up
- Windows 10
- Firefox nightly browser 64.0 vs Firefox stable 62.0
- No HMD connected

[2018-12-16 11:51] ngokevin commented on #563
Maybe a nightly issue. comment back if you have an error log

[2018-12-16 11:51] #563 closed, assigned to nobody

[2018-12-16 11:51] ngokevin commented on #351
updated it

[2018-12-16 11:51] #351 closed, assigned to nobody

[2018-12-16 11:53] ngokevin commented on #524
This is just a three.js thing. Don't set any scales to 0. Set to 0.00001

[2018-12-16 11:53] #524 closed, assigned to nobody

[2018-12-16 11:55] ngokevin commented on #558
prompt is used on purpose. inspector doesn't officially support electron use. try overriding it for your purposes (electron-prompt).

[2018-12-16 11:55] #558 closed, assigned to nobody

[2018-12-16 11:58] ngokevin commented on #166
it's ok for now. may swap to a menu bar later, but right not there's not many critical icons, and those that exist are not super frequently used. may be done if a menu bar and status bar are ever implemented.

[2018-12-16 11:58] #166 closed, assigned to nobody

[2018-12-17 02:07] ngokevin commented on #499
fixed it seems

[2018-12-17 02:07] #499 closed, assigned to nobody

[2018-12-17 17:08] Drugges opened #564 "Unable to rotate objects when looking straight at them"
When you select the rotate tool and place the object so you look straight at it, you will not be able to rotate it in all directions. I think it is because the TransformControls add helper planes when you press down the mouse button. And if you look straight at an object, some of the helper planes will be placed so they are rotated towards you so they are not visible.
You can see an example below.

[2018-12-18 06:35] ngokevin commented on #562
Added a HUD

[2018-12-18 06:35] #562 closed, assigned to nobody

[2018-12-18 06:46] ngokevin commented on #224
added new mixin select

[2018-12-18 06:46] #224 closed, assigned to nobody

[2018-12-18 06:46] #90 closed, assigned to nobody

[2018-12-18 06:46] ngokevin commented on #28
added multiselect

[2018-12-18 06:46] #28 closed, assigned to nobody

[2018-12-18 06:47] #24 closed, assigned to nobody

[2018-12-18 06:47] ngokevin commented on #19
wontfixing

[2018-12-18 06:47] #19 closed, assigned to nobody

[2018-12-18 06:50] ngokevin commented on #299
https://github.com/aframevr/aframe-inspector/commit/1434c2001f1bee785b3479a062096f4a68048dc7

[2018-12-18 06:50] #299 closed, assigned to nobody

[2018-12-18 06:53] ngokevin commented on #282
https://github.com/aframevr/aframe-inspector/commit/e516f87d68d4b53f3bd29db62fec1a427c85e9cb

[2018-12-18 06:53] #282 closed, assigned to nobody

[2018-12-18 07:24] ngokevin commented on #186
https://github.com/aframevr/aframe-inspector/commit/f4602627f2fd49bb1b56359cdb0c39144dc4b04c

[2018-12-18 07:24] #186 closed, assigned to nobody

[2018-12-18 09:13] #552 closed, assigned to nobody

[2018-12-18 09:14] ngokevin commented on #297
wontfixing for now. only chrome supports, and don't feel like maintaining hacks / faked scrollbars

[2018-12-18 09:14] #297 closed, assigned to nobody

[2018-12-18 09:15] ngokevin commented on #11
wontfixing for now unless three.js comes out with one

[2018-12-18 09:15] #11 closed, assigned to nobody

[2018-12-18 09:16] ngokevin commented on #118
think it's fine, able to directly modify value, and if you drag another number still works.

[2018-12-18 09:16] #118 closed, assigned to nobody

[2018-12-18 09:16] ngokevin commented on #268
i think it's recursive now

[2018-12-18 09:16] #268 closed, assigned to nobody

[2018-12-18 12:47] ngokevin commented on #302
https://github.com/aframevr/aframe-inspector/commit/26eb77f76b58fe9ae7a2e90cb2455161c57c181f

[2018-12-18 12:47] #302 closed, assigned to nobody

[2018-12-18 13:43] ngokevin commented on #153
Currently focusing on Inspector to complement dev workflow, versus being a full creation tool focused on creating simple shapes and such. So creation won't be frequent (though we could add like Blocks) and just have empty entity or cloning for now.

[2018-12-18 13:43] #153 closed, assigned to nobody

[2018-12-18 13:44] ngokevin commented on #228
not going to focus inspector on being a creation tool with primitives atm. although stuff like import from blocks/sketchfab would be good for dropdown

[2018-12-18 13:44] #228 closed, assigned to nobody

[2018-12-18 13:44] ngokevin commented on #550
dupe https://github.com/aframevr/aframe-inspector/issues/225

[2018-12-18 13:44] #550 closed, assigned to nobody

[2018-12-19 06:10] ngokevin opened #567 "Use react-contextify for entity scenegraph actions (clone, delete)"

[2018-12-19 08:18] #348 closed, assigned to nobody

[2018-12-19 08:19] ngokevin commented on #492
the ECS syntax is the true syntax, the primitive stuff is just extra/helper, so maintaining the component property syntax is consistent

[2018-12-19 08:19] #492 closed, assigned to nobody

[2018-12-19 08:56] MartijnEisses opened #568 "ERR_CONNECTION_REFUSED"
When I open the inspector in Chrome I get the error:
`Failed to load resource: net::ERR_CONNECTION_REFUSED`
and then the next error every 5 seconds or so:
 `aframe-inspector.min.js:25 GET http://localhost:51234/ net::ERR_CONNECTION_REFUSED`

Is there something I can do about this?

[2018-12-19 09:21] MartijnEisses opened #569 "Raycast triggers click event on invisible elements"
I've set a click event on multiple objects in my scene.
When I click on an object in the inspector this triggers the click event, in my case this opens a web page which is quite annoying since I just want to click on the object and move it like in the previous version.

This isn't a big problem but when I click on an invisible object (material.visible = false) this also triggers the click event ev

[2018-12-19 10:01] Drugges commented on #564
I came up with a half working work-around: I add another plane to the TransformControls when we click on a handle button but don't intersect a plane. My new plane is placed a bit in front of the node, and rotated so that it looks towards the camera. I can then use this plane for detection instead. It works pretty well. I haven't tested all edge cases yet though.

[2018-12-20 06:52] ngokevin commented on #569
Should set `pause` handler to remove events when Inspector is open.

I can fix to not raycaster non-`visible` objects. Not sure about `material.visible` objects, three.js updated the behavior before.

[2018-12-20 10:58] ngokevin commented on #569
https://github.com/aframevr/aframe-inspector/commit/82e6b618123958a193eb2c158aa2c66e8071ef14

[2018-12-20 10:58] #569 closed, assigned to nobody

[2018-12-20 11:03] ngokevin commented on #568
It's polling for the aframe-watcher utility to see if it's available to highlight the icon. Useful to see if the watcher is active or not without having to click the Save button.

Possible to just ignore during Inspector sessions? When I use Inspector, I don't have console open much since I'm focused on visuals, not code.

[2018-12-20 11:03] #568 closed, assigned to nobody

[2018-12-20 11:28] ngokevin commented on #124
<img width="38" alt="screen shot 2018-12-20 at 3 27 53 am" src="https://user-images.githubusercontent.com/674727/50282335-47f48480-0407-11e9-9433-a21dae38d9f5.png">

[2018-12-20 11:28] #124 closed, assigned to nobody

[2018-12-27 08:48] dsinni opened #570 "`pointerLockEnabled` prevents left click functionality due to capturing cursor"
If `look-controls="pointerLockEnabled: true;"`, the inspector captures the cursor and doesn't allow for using left click to rotate the scene, etc., as it normally would.

While I could see the potential use for capturing the cursor in the inspector, as well as possibly using `WASD` to navigate (similar to `Walk Navigation` in Blender), I think those options would probably be best as opt-in toggles

[2019-01-07 14:51] MartijnEisses opened #571 "'togglegrid' doesn't work"
When pressing the 'g' key the grid should disappear but this isn't the case.

[2019-01-09 04:01] ngokevin opened #572 "Pan faster when zoomed out (in orthographic)."

[2019-01-13 19:25] dmarcos opened #573 "Weird background on component property titles"
Background color does not cover the whole title and blends with panel background:

![image](https://d3vv6lp55qjaqc.cloudfront.net/items/2E173s142V3F2H0f1W1D/Image%202019-01-13%20at%207.21.54%20PM.png?X-CloudApp-Visitor-Id=90208aa50e60fa43d0cbdf1f441cd2cc&v=fda59841)

[2019-01-18 21:31] dsinni opened #574 "Repeating CORS warning for `http://localhost:51234`"
I'm receiving the following recurring warning when using the inspector with A-Frame `master`. It displays approximately every 5 seconds:

[code]

![image](https://user-images.githubusercontent.com/4733018/51413529-466cc800-1b3d-11e9-837f-a8ddcdcf31f1.png)

I'm currently using the latest `master`: `056b2bce5d448f0c9e9e1855397ff7a40847d4c5` and am running a local web server for development but not o

[2019-01-18 21:38] dsinni commented on #570
It appears this has been fixed. I will close for now and reopen if necessary. Thanks!

[2019-01-18 21:38] #570 closed, assigned to nobody

[2019-01-22 02:44] albirrkarim opened #575 "Unable to click an object with mouse"
In aframe version 0.8.2
I can't click to select an object, instead it triggers a grabbing of view

In aframe version 0.7.0
I can click to select an object to (move, scale, rotate them) like blender 3D

But why in aframe 0.8.2 and 0.8.0 ?
Maybe this is a bug ?

[2019-01-30 23:14] ngokevin opened #576 "Restore camera/look-controls when exiting."

[2019-01-31 00:32] ngokevin commented on #491
If provide link to Glitch I can check it out, else I think it works normally.

[2019-01-31 00:32] #491 closed, assigned to nobody

[2019-01-31 01:48] #576 closed, assigned to nobody

[2019-01-31 01:56] ngokevin commented on #575
Can you link to your scene, I can check it out?

[2019-01-31 01:58] ngokevin commented on #571
Works for me. Maybe it's focused on an input?

![grid](https://user-images.githubusercontent.com/674727/52025294-ab6adb00-24b8-11e9-9276-6a500e486985.gif)

[2019-01-31 01:58] #571 closed, assigned to nobody

[2019-01-31 02:09] albirrkarim commented on #575
https://west-actor.glitch.me/
https://glitch.com/edit/#!/west-actor?path=views/index.html:14:7

[2019-01-31 02:11] ngokevin commented on #574
https://github.com/aframevr/aframe-inspector/commit/0e3b67f667df7ea21a70f2944f061ca30b1b37b8

[2019-01-31 02:11] #574 closed, assigned to nobody

[2019-01-31 18:25] ngokevin commented on #575
https://github.com/aframevr/aframe-inspector/commit/51e389832e911186f90e2ac9203522a28ed9eda6

[2019-01-31 18:25] #575 closed, assigned to nobody

[2019-01-31 20:45] ngokevin commented on #573
Can't reproduce for me (23'' 3k monitor or razer blade or macbook).

[2019-01-31 21:19] ngokevin commented on #572
https://github.com/aframevr/aframe-inspector/commit/b371202e68dcad997e3f740996f912f79fe77526

[2019-01-31 21:19] #572 closed, assigned to nobody

[2019-02-01 06:37] albirrkarim commented on #575
still bug in aframe 0.8.x ? how to use it ?

[2019-02-04 17:58] thedart76 opened #577 ""Export to GLTF" buttons not working"
Version: A-Frame Inspector 0.8.19

I cannot export the scene by clicking directly on the dedicated buttons (Export to glTF) the same way I could in v0.7.

Error in Chrome Console:
![inspector-export-gltf-chrome](https://user-images.githubusercontent.com/30973948/52226873-0714da00-28a6-11e9-9a04-55d29767da85.png)

Error in Firefox Console:
![inspector-export-gltf-firefox](https://user-images.github

[2019-02-07 05:47] kfarr commented on #577
Possibly related https://github.com/fernandojsg/aframe-gltf-exporter-component/issues/5

[2019-02-26 16:31] feiss opened #578 "clear filter button does not work"
after filtering the scenegraph, if you click on the clear filter button it doesn't go back to the full scene list.

[2019-03-08 16:19] aj019 commented on #167
How about a + icon along with the trash and clone button. And clicking on the button will add an a-entity as the child of the entity ?

[2019-03-08 16:19] aj019 commented on #167
I can work on this

[2019-03-08 16:21] ngokevin commented on #167
Thanks for being proactive! I think this is more of an editor feature vs an inspector feature. If you are just poking around, you don't need much to create entities at all, let alone one of another entity.

We do have some experimental tools in the works more suited for those use cases, but maybe best to leave Inspector as a helper tool for now. I might consider closing this.

[2019-05-08 23:09] dmarcos opened #582 "Camera gizmo not updated when moving the camera"
When moving the camera in the inspector the position coordinates change and the camera moves when going back to the scene. The gizmo remains in the original position when dragging.

Reported in SO: https://stackoverflow.com/questions/56045081/a-frame-version-8-to-version-9-unable-to-move-model-or-camera-from-within-inspec

[2019-06-01 03:11] tiagosomda commented on #582
Hey @dmarcos,

I am just getting started with aframe and I ran into something like you are describing.
It looks like you need to put the camera within a-entity tag and then you move that entity.
Otherwise, you are moving the camera position and the VR headset is also setting that position.

There is more info in the camera component documentation:

https://aframe.io/docs/0.9.0/components/camera.ht

[2019-06-01 21:18] tiagosomda opened #583 "Inject Inspector shortcut is not friendly to international keyboard configurations"
Some International keyboard layouts when given the key combination `ctrl + alt + i` will fire an event that is not recognized by the current code in aframe inspector.

code reference: [src/index.js line 180](https://github.com/aframevr/aframe-inspector/search?q=var+shortcutPressed+%3D+evt.keyCode+%3D%3D%3D+73+%26%26+evt.ctrlKey+%26%26+evt.altKey%3B&unscoped_q=var+shortcutPressed+%3D+evt.keyCode+%3

[2019-07-11 11:01] sylviatanggit opened #584 "can not run this project"
when i use npm install

the terminal shows this

'NODE_ENV=production cross-env webpack --progress --colors

fatal: not a git repository (or any of the parent directories): .git
child_process.js:669
    throw err;
    ^

Error: Command failed: git rev-parse HEAD
fatal: not a git repository (or any of the parent directories): .git

    at checkExecSyncError (child_process.js:629:11)
    at Object.e

[2019-09-24 14:12] LukeTOBrien opened #586 "Open inspector pragmatically from API call"
Hello there,

I wondered is there a way to open the inspector pragmatically instead of using shortcut?
My scenario is that I have a A-Frame scene appear inside a `<div>` window inside my app, so the scene is not full-screen and I want to place a button underneath the scene that opens up the inspector.

So code similar to this is what I have imagined:
[code]
[code]

[2019-12-05 17:55] mindrones opened #588 "npm install fails"
Cannot run `npm install` as I get:

[code]

[2019-12-05 18:21] #588 closed, assigned to nobody

[2019-12-19 11:19] dudleyhk opened #595 "Keyboard shortcut (<ctrl> + <alt> + i) is not working as expected."
Is it known that the inspector is not longer opening using the keyboard shortcut on Windows machines? I'm running Firefox 71.0... I'm sure it's not just my computer as I had it checked by someone running the Udemy course I've been following.

Cheers.

[2019-12-29 13:57] karx commented on #577
I am also facing this issue when attempting to export the entity I construct using [aframe-svg-extruder](https://github.com/luiguild/aframe-svg-extruder).

The version Aframe, v0.8.0
A-frame inspector v0.8.19

Link to source: https://github.com/karx/karx.github.io/tree/master/kaaro/3d-extrude
You can try exporting the object here to see the issue: [Link to repro](http://kaaro.akriya.co.in/kaaro/3d

[2020-02-04 11:22] RalfViellieber commented on #582
no update on this issue? Animation of camera (rig) seems to be still problematic for inspector (v. 1.0.3). Why not at least a warning "camera movement not representable in inspector"?

[2020-02-11 11:12] jo-chemla opened #597 "[feature-request] Allow use of inspector on arbitrary threejs scene"
Hi all,
I would like to use the aframe scene inspector on one of my threejs scenes which was not created using aframe. Would it be possible to parse the scene graph and allow access to all objects + edition of their properties (materials, transformations, keyframing...) using the scene-inspector? What modification would I need to do to make it work? This scene inspector is one of the few good scen

[2020-03-07 21:31] svenkonings commented on #595
I'm running into a similar issue on Windows. I've found out it happens when my keyboard is set to US international. It works as expected when my keyboard is set to US.

[2020-04-11 22:03] iburguera commented on #21
Is this enhancement added to the last version of a-frame inspector? Undo or ctrl+z feature is something useful when moving objects by mistake and want to come back.

[2020-04-13 17:37] dmarcos commented on #21
No. If hasn't been added yet. Not a top priority at the moment.

[2020-04-15 22:21] TommyBeaton commented on #595
If this doesn't fix the issue for anyone I changed the version type in the CDN to 1.0.0
`<script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>`
Note: current release at posting is 1.0.4

[2020-04-22 12:38] rmjgtking commented on #21
Oh This is really bad. It should be available to undo

[2020-05-01 12:27] antiantivirus opened #599 "Add video texture src"
How would it be possible to add a video as a texture source.

[2020-05-07 10:37] jackmurraybrown commented on #21
What would be a possible way to implement this? Where is the best place to start? Really needing this feature.

[2020-05-20 21:32] davegoopot commented on #595
The inspector shortcut is not working for me here on a UK keyboard.I've tried both the latest Firefox and Chrome without any luck.  You can see the page I'm experimenting on here: https://aframe-learning.glitch.me/
How can I help debug?

[2020-05-25 19:10] mattrossman opened #600 "Wrong keyboard shortcut for MacOS"
The documented shortcut of Ctrl+Alt+I (which could be interpreted as Ctrl+Option+I or Cmd+Option+I) does not work on MacOS, tested on Firefox and Chrome. I thought that the inspector was simply broken. [I found out on StackOverflow](https://stackoverflow.com/a/52596978) that instead, the shortcut for MacOS is **Shift+Ctrl+Option+I**.

~~I don't know if the "issue" is the shortcut implementation or

[2020-09-11 09:38] jelmerS2 opened #606 "979 vulnerabilities"
I'm quite new to this, but upon installing aframe inspector, NPM audit warns me about 979 vulnerabilities of which 372 are high and 4 even critical.
Should I really continue with using it like this?

[2020-09-23 01:00] iangilman commented on #300
For what it's worth, one of these features is kind of available now via the "F" key… It zooms you in to view the current selection. It does change the rotation as well as the position, so that may not be ideal, but it does reposition the "look at" position so you can rotate around the object.

[2020-09-23 01:03] iangilman opened #607 "Be able to look through the cameras in the scene"
I want to go into the Visual Inspector, but I want to keep the same perspective I had before I opened the inspector (i.e. looking through the camera in the scene). As far as I can tell, the default behavior is to relocate the viewport to a “neutral” location called "perspective".

What I’d love would be if the view menu included all of the cameras in the scene as well as the generic “perspective”;

[2020-10-01 20:20] NoBodyButMe opened #608 "PHP"
Maybe it sounds like a crazy/stupid question. But is it possible to use the "inspector" without node.js? I mean using it just "in the browser" without the need of node.js on the server? If so, how can I use and download the package? Or use it on a server running PHP (to make proper use of the "save/post" function?

[2020-10-27 23:31] SubZtep commented on #586
Hi, I always use the command below from the dev console:
[code]
Made quickly a [Codepen to try](https://codepen.io/SubZtep/pen/qBNmboY) and seems the same command works for embedded A-Frame without querying its root, but the inspector becomes full screen.

[2020-11-10 10:01] rzr commented on #577
Then what is the recommended version for exporter  ?

[2020-12-17 09:14] LukeTOBrien opened #610 "On Save event"
Hello chaps,

I am just researching into an idea for a project I am working on.
Is it possible to attach a handler onto the save event?

[code]
And then I would expect a JSON object with all the changes made during the inspection session, or just an HTML string of the whole scene (you currently have 'Copy to clipboard' which is great).
I am aware of the [Inspector Watcher](https://github.com/super

[2020-12-22 21:52] kfarr commented on #577
- Export to gltf from inspector works with A-Frame Version: 1.1.0 (Date 2020-12-03, Commit #8aefd214)
- I would vote to close this issue

To reproduce success case:
- Go to https://aframe.glitch.me/
- Press ctl + alt + i to open inspector
- Press export to gltf button (gltf logo icon)
- Open https://gltf-viewer.donmccurdy.com/
- Drag exported file to gltf viewer and see it look the same (albeit wi

[2021-01-08 22:15] LukeTOBrien commented on #586
Hi chaps,

I have only just got around to looking at this. Is there any extra JS I need to include?
I am  using the latest (1.1.0/aframe.min.js) and do nt see an `AFRAME.INSPECTOR` object nor a `inspect()` function on the scene.

![aframe-no-inspector](https://user-images.githubusercontent.com/16164373/104070544-0f4ac200-51ff-11eb-82ab-ebf3c3cc7059.png)

[2021-01-21 23:12] leo-nerd commented on #595
Same issue here (Aframe 1.1.0)

[2021-01-30 19:51] marcusx2 opened #611 "changes not being saved to index.html"
I'm on windows 8.1. I try to save the changes using the aframe-watcher, I say yes, but nothing changes on the html.

[2021-01-30 19:53] marcusx2 opened #612 "animation component visualizer"
It would be nice if we could visualize the animation from an animation component in the inspector. There should be a play button on it, like the "resume scene" button, to play individual animations.

EDIT
It seems it's possible to see it if it was added in the html directly before running the inspector. But it doesn't work if the animation component is added from the inspector.

Furthermore there'

[2021-03-16 23:10] mattrossman commented on #600
Bumping this to note that **Shift+Option+I** now seems to be sufficient, but it still needs to be documented.

[2021-03-16 23:52] dmarcos commented on #600
PRs always appreciated https://github.com/aframevr/aframe/blob/master/docs/introduction/visual-inspector-and-dev-tools.md

[2021-03-17 00:11] mattrossman commented on #600
@dmarcos Is there a reason for having a separate shortcut on MacOS? I notice the shortcut is mentioned in several places in the docs -- rather than mentioning the alternate shortcut every time, maybe we can fix the shortcut to be the same across platforms?

[2021-03-17 00:57] dmarcos commented on #600
The shortcut should be the same in both platforms. The equivalent of the alt key on the mac is the option key. Shortcut should be:

- Windows: `Ctrl + Alt + i`
- Mac: `Ctrl + Option + i`

Unless the Mac shortcut is taken for something else.

The idea of the inspector is to be the 3D equivalent of the DOM inspector that opens with `Ctrl + Shift + i`

[Logic is in A-Frame](https://github.com/aframev

[2021-04-17 17:46] ngerow2025 opened #615 "Can't use mouse controls in inspector when there is an another canvas in HTML"
In my own project I have added another canvas for custom UI and now when I try to use the inspector I can not use the mouse to move the camera around in the inspector. Also I can not click on any elements in the scene.

[2021-06-29 12:24] joshi22amit commented on #577
Thanks a lot buddy...I could export gltf with Version 1.1.0 :)

[2021-07-21 09:07] isurfraz opened #621 "Cannot click on anything in inspector, it simply keeps showing "load texture" panel when trying"
As title says, cannot do anything in inspector using 1.2.0 aframe + this plugin

Pretty much makes inspector useless and unusable

[2021-09-23 02:56] kfarr commented on #621
Can you share the URL or a reproducible test case where this is not working as expected?

[2021-09-23 03:07] kfarr commented on #586
Try:
`  window.postMessage('INJECT_AFRAME_INSPECTOR')`

[2021-09-24 18:37] kfarr opened #625 "Transform controls error blocks inspector loading with A-Frame master due to three.js breaking changes"
**Description:**

- A-Frame Version: Master (https://cdn.jsdelivr.net/gh/aframevr/aframe@d52af46565230a33c0fa23e045fb74e877df7dc9/dist/aframe-master.min.js)
- Platform / Device: Desktop Mac OS
- Reproducible Code Snippet or URL:

Working in A-Frame 1.2: https://aframe.glitch.me/ and press ctl-alt-i
Not working in A-Frame master:
https://inspector-broken-master.glitch.me/ and press ctl-alt-i

No in

[2021-09-24 18:53] kfarr commented on #625
I found the latest version of es5 transform controls here:
https://github.com/mrdoob/three.js/blob/master/examples/js/controls/TransformControls.js

I attempted to copy the entire contents of that file into this repo's src/lib/TransformControls.js file.

The inspector now loads, which is an improvement, but there is now a new issue:
- The transform gizmo does not appear as expected when an object

[2021-09-24 18:56] kfarr commented on #625
This may be an issue with the way that the inspector's viewport.js file imports and attempts to create a new transformControls object

Here is the legacy ES5 import:
https://github.com/aframevr/aframe-inspector/blob/master/src/lib/viewport.js#L5

And then here is the first invocation:
https://github.com/aframevr/aframe-inspector/blob/master/src/lib/viewport.js#L51

[2021-09-29 00:16] donmccurdy commented on #625
I haven't figured out the exact steps to fix this yet, but the general problem is that newer versions of three.js have migrated to the use of [ES6 Classes](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes). Converting base classes like THREE.Object3D to an ES6 Class has downstream effects — classes that extend it, like TransformControls, also need to be ES6 Classes.

Updat

[2021-09-29 18:38] kfarr commented on #625
From a user functionality perspective, there is nothing upstream that is needed

[2021-10-13 03:12] dmarcos commented on #625
Thanks for the pointers. A PR to port TransformControls to classes would be appreciated. It would be a great contribution.

[2021-10-27 04:09] donmccurdy commented on #625
Hopefully a fix on the way here: https://github.com/aframevr/aframe-inspector/pull/627

[2021-10-27 17:17] #625 closed, assigned to nobody

[2021-10-29 03:47] kfarr opened #628 "npm install raises error"
There is a console error when running `npm install` on master repo after PR https://github.com/aframevr/aframe-inspector/pull/627
[code]

To get npm install to work without this error, in .babelrc line 3 change `exclude` to `include`, then run `npm install` again and it appears to install correctly.

However, then you must to change it back to `exclude` in order for the build to run and for the in

[2021-10-29 04:15] kfarr commented on #628
cc @donmccurdy

[2021-10-29 04:37] donmccurdy commented on #628
Hm it looks like the installation is OK, but the two build commands differ:

[code]

The bundled version of [UglifyJS does not support ES6](https://stackoverflow.com/questions/46901443/uglifyjs-webpack-plugin-throws-unexpected-token-name-features), and we do need ES6 for newer three.js versions. To switch to a newer minifier, I think we'd need to be on at least Webpack 3, and the project is curren

[2021-10-29 05:06] donmccurdy commented on #628
- PR: https://github.com/aframevr/aframe-inspector/pull/629

[2021-11-10 11:34] a0m0rajab opened #630 "The examples of the inspector is broken"
# Reproduce:

- Open the [examples](https://aframe.io/aframe-inspector/examples/)
- Try to open the inspector
- it will stop at the loading scene.

# Error messages:

[code]

[2021-11-11 05:33] donmccurdy commented on #628
@kfarr if you need a temporary fix here, running `npm install` and then `npm run dist:max` should work (even though `npm install` will print some errors. This just means you'd need to use the inspector code un-minified until #629 is in.

[2021-11-11 05:35] donmccurdy commented on #630
See https://github.com/aframevr/aframe-inspector/issues/625 and https://github.com/aframevr/aframe-inspector/issues/628, the inspector currently does not work with the master branch of A-Frame. https://github.com/aframevr/aframe-inspector/pull/629 should fix this whenever the next release is made.

[2021-11-11 07:04] a0m0rajab commented on #630
Thank you for the information!

[2021-11-14 11:35] ariona commented on #607
+1 on this, i think the cameras options need to be added the the view selecbox, so we can place object with ease.

[2021-11-24 22:15] dmarcos commented on #630
closing. no further action necessary on aframe side

[2021-11-24 22:15] #630 closed, assigned to nobody

[2021-12-22 09:57] saurabhburadkar commented on #628
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! aframe-inspector@1.2.0 build: `cross-env NODE_ENV=production webpack --progress --colors`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the aframe-inspector@1.2.0 build script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found in:
npm ERR!     C

[2021-12-22 18:59] donmccurdy commented on #628
@saurabhburadkar the proposed fix is https://github.com/aframevr/aframe-inspector/pull/629; it has not been merged yet. You can build from that PR locally if you need a workaround.

[2021-12-22 19:02] saurabhburadkar commented on #628
thanks @donmccurdy

[2021-12-22 19:12] saurabhburadkar commented on #628
still facing some error's
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! aframe-inspector@1.2.0 build: `cross-env NODE_ENV=production webpack --progress --colors`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the aframe-inspector@1.2.0 build script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can b

[2021-12-22 19:15] donmccurdy commented on #628
Be sure to run `npm install` on the branch if you haven't already. Note that the error you see means that the _minified_ build failed, but the unminified build still worked... so you could use the unminified output instead, or minify it some other way.

[2022-01-06 09:04] lslzl3000 opened #631 "Unable to load inspector on aframe v1.2.0 + three r136"
For your example: https://aframe.io/aframe-inspector/examples/
Error
[code]
![Screen Shot 2022-01-06 at 17 04 00](https://user-images.githubusercontent.com/3398981/148357520-02c73d1e-1b1f-4a44-95a8-4065c1388d5d.png)

[2022-01-14 20:15] #628 closed, assigned to nobody

[2022-01-14 20:16] dmarcos commented on #631
I believe this should have been fixed by https://github.com/aframevr/aframe-inspector/pull/629. Let me know if that's the case. Closing and can reopen if necessary

[2022-01-14 20:16] #631 closed, assigned to nobody

[2022-01-14 21:15] lslzl3000 commented on #631
@dmarcos is published online? The https://aframe.io/aframe-inspector/examples/ is still build with v1.2.0 + r136, so still the old error.

[2022-01-15 00:09] dmarcos commented on #631
No. It's not published anywhere but you can [point the inspector component to your local build](https://github.com/aframevr/aframe-inspector#specifying-inspector-build)

[2022-06-05 08:41] WelinkOS opened #636 "Can this system be developed into its own editor"
Can this system be developed into its own editor

[2022-10-03 05:14] kylebakerio commented on #636
In theory, why not? It's open source, go crazy. It's most of the way there for sure, and back in the day it was set up so that you could import components and save down changes--in other words, was building up to being a basic editor early on.

[2022-10-05 09:05] vincentfretin commented on #21
https://threejs.org/editor/ has an undo/redo feature.
Main implementation in this file https://github.com/mrdoob/three.js/blob/master/editor/js/History.js
each action is a command
https://github.com/mrdoob/three.js/tree/master/editor/js/commands
We probably need to hook our events componentadd, componentremove, entityupdate, entityidchange, objectremove, entitycreated, entityclone, etc with a syst

[2022-10-06 14:38] vincentfretin opened #641 "Update all the dependencies, mainly webpack and react"
I have a version of the inspector working with react 18.2.0, mainly changes about string refs that needs to be replaced by `React.createRef`, and `componentWillReceiveProps` by `componentDidUpdate` or `getDerivedStateFromProps`.
I'm waiting for #638 and #639 to be merged first, then I can proceed updating webpack to version 5, babel, react and other dependencies.

This will fix #606

[2022-10-06 14:40] vincentfretin commented on #641
This will replace the PR #601

[2022-10-06 14:43] vincentfretin opened #642 "Disable eslint style rules and only use prettier"
- [x] Disable eslint `space-before-function-paren` rule that conflicts with how prettier format the files. Done in #639
- [x] Update prettier to the latest version and run it again on all the files. Done in #647
- [x] Integrate husky to use a pre-commit hook to format the files for new contributions. Done in #647
- [x] Add Github Actions to run `npm run test:ci` `npm run dist` `npm run lint` and r

[2022-10-06 15:06] vincentfretin opened #643 "Expose modules of the lib folder"
Transform the package to `"type": "module"`, and expose with the `"exports"` field the modules of the lib folder to be consumed as a npm dependency. This will allow to reuse all the non ui code with an alternate ui. This will also allow to keep maintaining this code in the long term because it will be used for other use cases.

I'll probably implement the undo feature #21 at one point in one of my

[2022-10-07 08:35] vincentfretin commented on #642
In #639 I disabled the space-before-function-paren eslint rule and specified the singleQuote in prettier config, so now the two tools works well together.

[2022-10-07 09:15] vincentfretin commented on #641
For reference, the repo currently uses react 15.6.2.

[2022-10-08 09:06] vincentfretin commented on #641
[code]
=> modify it to use `getDerivedStateFromProps`

[2022-10-08 10:08] vincentfretin commented on #642
Current prettier version used is 1.15.3, with newer 1.19.1, only 9 files are modified. We should at least modify those 9 files.
If we update to latest prettier 2.7.1, it will modify 33 files.
I'd really like that we update this, it will make any further contributions for me easier, when I'm comparing the files in my project to the one in this repo.

[2022-10-17 08:37] vincentfretin opened #649 "Transform controls really big"
There is an issue where the transform controls doesn't resize when zooming in or out, so it appears really big when the camera is far away and you focus on a small object (with f or dblclick).
![transform_controls_really_big](https://user-images.githubusercontent.com/112249/196130306-1223e224-663e-43cf-b77b-bd17ddc9a3a3.jpg)

[2022-10-17 08:38] vincentfretin commented on #649
Normal size if I click away and reclick on the object:

![transform_controls_normal_size](https://user-images.githubusercontent.com/112249/196130788-9319252d-d5f4-4379-b767-3d4441cd70fe.jpg)

[2022-10-17 08:42] vincentfretin commented on #643
I'll do that in a community fork or just have a copy of all files in my project for now. Any new features will be implemented in the community fork as well.

[2022-10-17 08:42] #643 closed, assigned to nobody

[2022-10-17 08:51] vincentfretin commented on #642
Done in #647

[2022-10-17 08:51] #642 closed, assigned to nobody